<sky-demo-page
  pageTitle="Paging"
  skyuxModule="SkyPagingModule"
  packageName="@skyux/lists"
>

  <sky-demo-page-summary>
    The paging component displays a SKY UX-themed pagination control that allows you to display list data across multiple pages. If the data fits on a single page, the component hides the pagination control because it is not necessary.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Paging properties">
    <sky-demo-page-property
      propertyName="currentPage"
      defaultValue="1"
      isOptional="true"
    >
    Specifies the page number of the currently displayed page. Page numbers start at 1 and increment. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="itemCount"
      defaultValue="0"
      isOptional="true"
    >
    Specifies the total number of items across all pages. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxPages"
      defaultValue="5"
      isOptional="true"
    >
    Specifies the maximum number of pages to display in the pagination control. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="pageSize"
      defaultValue="10"
      isOptional="true"
    >
    Specifies the number of items to display per page. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="pagingLabel"
      defaultValue="Pagination"
      isOptional="true"
    >
    Specifies a label for the pagination control to support <a stacheRouterLink="." fragment="accessibility">accessibility</a>. The label should be unique and descriptive to help users of assistive technology differentiate pagination controls when multiple paging components appear on a page. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Paging events">
    <sky-demo-page-property
      propertyName="currentPageChange"
      isOptional="true"
    >
    Fires when the current page changes and emits the new current page.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-paging-demo></sky-paging-demo>
    <sky-demo-page-code demoName="Paging"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>
      If your application uses multiple paging components on a page, use the <sky-code>pagingLabel</sky-code> property to give each one a unique, descriptive label. This helps users of assistive technology differentiate the components and understand what each does.
    </p>
  </sky-demo-page-content>

</sky-demo-page>
