<sky-tabbed-demo-page
  pageTitle="File Attachment"
  navTitle="File attachment"
>

  <sky-demo-page-summary>
    <p>
      The file attachment module creates an element to attach multiple local files or to link to external files. It displays summary information about the attachments.
    </p>
  </sky-demo-page-summary>

  <div class="sky-margin-stacked-content-section">
	<sky-demo-page-example>
    <sky-file-attachment-demo></sky-file-attachment-demo>
  </sky-demo-page-example>
  </div>

  <sky-tabset id="content-tabs">

  <sky-tab
		tabHeading="Design"
  >
    <sky-demo-page-content sectionHeading="Usage">
    <h3 class="sky-text-success">Use when</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>Use the file attachment element when users need to upload multiple files or attach files from URLs rather than from local devices.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/use-multi.png" />
            <div class="caption caption-success sky-text-success">Do use a file attachment element to upload more than one file.</div>
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>Use the file attachment element when users need to add metadata about uploaded files.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/use-metadata.png" />
            <div class="caption caption-success sky-text-success">Do use a file attachment element to add metadata about uploaded files.</div>
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

    <h3 class="sky-text-danger">Don't use when</h3>
      <p class="sky-text-block">
        Don't use the file attachment element when users only need to upload a single local file. Use the <a routerLink="/components/file-attachments/single-file-attachment">single file attachment component</a> instead.
      </p>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/file-attach/anatomy.png">
        <sky-docs-anatomy-item anatomyNumber="1">Option to upload local files</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">File name</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">File size</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4">File preview</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="5">Delete button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="6" isOptional="true">Option to link to external files</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="7" isOptional="true">User-entered metadata</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>Link to external files</h3>
        <p class="sky-text-block">
          You can indicate whether to include the option to attach external files using their URLs.
        </p>
        <h3>Metadata</h3>
        <p class="sky-text-block">
          You can include inputs for users to add metadata about file attachments.
        </p>
      <h3>Validation</h3>
        <p class="sky-text-block">
          You can specify parameters for valid files, including file types, minimum and maximum sizes, and custom validation.
        </p>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Behavior & states">
      <h3>File information</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>After users attach files, summary information appears below the file attachment options. For local files, the default summary includes the file name, file size, file preview, and a delete button. For external files, the default summary includes the URL and a delete button. You can include additional inputs to display user-entered metadata.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/file-attach/behavior-preview.png" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <h3>Responsiveness</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>The file attachment element switches to a vertical layout in smaller viewports.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/behavior-responsive.png" />
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <div class="sky-margin-stacked-content-section">
      <h3>States</h3>
      <sky-demo-page-component-states>
        <sky-demo-page-component-state stateName="Base" imagePath="~/assets/img/guidelines/file-attach/state-base.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Attached image" imagePath="~/assets/img/guidelines/file-attach/state-attached-image.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Attached non-image" imagePath="~/assets/img/guidelines/file-attach/state-attached-other.png"></sky-demo-page-component-state>
      </sky-demo-page-component-states>
      </div>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Related information">
      <h3>Components</h3>
        <ul>
          <li><a routerLink="/components/file-attachments/single-file-attachment">Single file attachment</a></li>
        </ul>
      <h3>Guidelines</h3>
        <ul>
          <li><a routerLink="/design/guidelines/form-design">Form design</a></li>
        </ul>
    </sky-demo-page-content>
  </sky-tab>

  <sky-tab
    tabHeading="Development"
  >

    <sky-demo-page-module-info
      skyuxModule="SkyFileAttachmentsModule"
      packageName="@skyux/forms"
      githubRepo="skyux-forms"
    >
    </sky-demo-page-module-info>
    <sky-demo-page-properties sectionHeading="File drop properties">
      <p>
        The file drop component provides an element to attach multiple files. It includes an option that users can select to browse for local files or use as a drop zone to drag and drop files. It also includes an option to provide hyperlinks to attach external files. You can leave the contents of the component blank to display the drop zone's default UI, or you can specify custom content to display instead.
      </p>
      <p>
        When the SKY UX module initializes, it disables the ability to drag and drop files for the entire window. This prevents the browser from opening files that are accidentally dropped outside the target zone. If you implement your own file drop functionality outside of the file drop component, you can place the <sky-code>sky-file-drop-target</sky-code> CSS class on the element that receives drop events to exempt it from the drop exclusion rule.
      </p>
      <sky-demo-page-property
        propertyName="acceptedTypes"
      >
        Specifies a comma-delimited string literal of MIME types that users can attach: <sky-code>[acceptedTypes]="validFileTypes"</sky-code> or <sky-code>acceptedTypes="image/png,image/jpeg"</sky-code>. By default, all file types are allowed. This property accepts <sky-code>string</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="allowLinks"
        isOptional="true"
        defaultValue="false"
      >
        Indicates whether to display the option to attach files from URLs rather than from local devices. This property accepts <sky-code>boolean</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="maxFileSize"
        isOptional="true"
        defaultValue="500000"
      >
        Specifies the maximum size in bytes for valid files. This property accepts <sky-code>number</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="minFileSize"
        isOptional="true"
        defaultValue="0"
      >
        Specifies the minimum size in bytes for valid files. This property accepts <sky-code>number</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="multiple"
        isOptional="true"
        defaultValue="true"
      >
        Indicates whether users can drag and drop multiple files at the same time. This property accepts <sky-code>boolean</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="noClick"
        isOptional="true"
        defaultValue="false"
      >
        Indicates whether to disable the option to browse for files to attach. This property accepts <sky-code>boolean</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="validateFn"
        isOptional="true"
      >
        Specifies a custom validation function: <sky-code>[validateFn]="validateFile"</sky-code>.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File drop events">
      <sky-demo-page-property
        propertyName="filesChanged"
        isOptional="true"
      >
        Fires when users add or remove files.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="linkChanged"
        isOptional="true"
      >
        Fires when users add or remove links.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File item properties">
      <sky-demo-page-property
        propertyName="fileItem"
      >
        Specifies the summary information to display about file attachments. For local files, the default summary includes the file name, file size, file preview, and a delete button. For external files, the default summary includes the URL and a delete button. You can include additional inputs to display user-entered metadata.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File item events">
      <sky-demo-page-property
        propertyName="deleteFile"
        isOptional="true"
      >
        Fires when users select the delete button for an item. The deleted item is passed to the function.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-example>
      <sky-file-attachment-demo></sky-file-attachment-demo>
      <sky-demo-page-code
        demoName="File attachment">
      </sky-demo-page-code>
    </sky-demo-page-example>

  </sky-tab>

</sky-tabset>

</sky-tabbed-demo-page>
