<sky-demo-page
  pageTitle="List"
  layout="sidebar"
  [sidebarRoutes]="sidebarRoutes"
>
  <sky-demo-page-summary>
    <p>
      Lists display data in a consistent, flexible way.
    </p>
    <sky-alert alertType="warning">
      We recommend using other components, such as <a href="https://developer.blackbaud.com/skyux-data-manager/docs/data-manager">data managers</a>, <a href="https://developer.blackbaud.com/skyux/components/data-entry-grid">data entry grids</a>, or <a href="https://developer.blackbaud.com/skyux-lists/docs/repeater">repeaters</a>, instead of lists because they extend the functionality and improve the behavior. We will deprecate the list module in a future version of SKY UX.
    </sky-alert>

    <sky-demo-page-action-buttons item="list">
    </sky-demo-page-action-buttons>
  </sky-demo-page-summary>

</sky-demo-page>
