<sky-demo-page
  pageTitle="Radio button"
  skyuxModule="SkyRadioModule"
  packageName="@skyux/forms"
>

  <sky-demo-page-summary>
    The radio button component renders a SKY UX-themed replacement for an HTML <stache-code>input</stache-code> element of <stache-code>type="radio"</stache-code>. When users select a radio button, its value is driven through an <stache-code>ngModel</stache-code> attribute that you specify on the <stache-code>sky-radio</stache-code> element or the parent <stache-code>sky-radio-group</stache-code> element. The radio button label component provides a <stache-code>sky-radio-label</stache-code> element to specify labels for radio buttons, and the radio button group component organizes radio buttons into a group. The radio button group component is required for radio buttons on Angular reactive forms, and we recommend using it with all radio buttons.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Radio button group properties">
    <p>
      The radio button group component's <stache-code>sky-radio-group</stache-code> element wraps <stache-code>sky-radio</stache-code> elements to organize the radio buttons into a group. It is required for SKY UX radio buttons on Angular reactive forms to manage the selected value and keep the form up-to-date. We recommend using the radio button group component with all radio buttons.
    </p>
    <sky-demo-page-property
      propertyName="name"
    >
      Specifies a name for the collection of radio buttons that the component groups together. If a <stache-code>name</stache-code> property is also set on the <stache-code>sky-radio</stache-code> elements, then this name overwrites it. If a <stache-code>name</stache-code> property is not set on the <stache-code>sky-radio</stache-code> elements, then this property is required.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
      Sets the radio button group's <stache-code>aria-labelledby</stache-code> attribute to support accessibility. The value should be the HTML element ID (without the leading #) of the element that labels the radio button group. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
      isOptional="true"
    >
      Specifies a value for the radio button. The value usually corresponds to the label of the selected radio button. If a <stache-code>value</stache-code> property is also set on the <stache-code>sky-radio</stache-code> elements, then this value overwrites it. If a <stache-code>value</stache-code> property is not set on the <stache-code>sky-radio</stache-code> elements, then this property is required.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button properties">
    <sky-demo-page-property
      propertyName="name"
    >
    Specifies a name for a group of radio buttons. This property is deprecated, and we recommend using the radio button group component and its <stache-code>name</stache-code> property to group components. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
    >
    Specifies a value for the radio button. The value usually corresponds to the radio button's label.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="checked"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the radio button is selected. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the radio button is disabled. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="icon"
      isOptional="true"
    >
    Specifies an icon to display in place of the radio button. This property accepts <stache-code>string</stache-code> values. If you want to use the icon radio button group display in the demo, the <stache-code>sky-switch-icon-group</stache-code> class can be placed on the direct parent element of the radio buttons.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="id"
      isOptional="true"
    >
    Specifies an ID for the radio button. If you do not specify an ID, an auto-incrementing integer generates unique IDs.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
    >
    Defines an ARIA label for the radio button to support accessibility when the radio button does not include a visible label. This property must be set if you are using an icon radio button (see <a href="skyux/components/radio#accessibility">accessibility</a>). This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="labelledBy"
      isOptional="true"
    >
    Sets the radio button's <stache-code>aria-labelledby</stache-code> attribute to support accessibility. The value should be the HTML element ID (without the leading #) of the element that labels the radio button. If the radio button does not include a visible label on the screen, use the <stache-code>label</stache-code> property instead. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="radioType"
      defaultValue="info"
      isOptional="true"
    >
    Specifies a type for a radio button that uses the <stache-code>icon</stache-code> property. When users select the icon, this property changes its background color. The valid options correspond to the label types from the <a stacheRouterLink="/components/label">label component</a>, and they include <stache-code>info</stache-code>, which creates a blue background, <stache-code>success</stache-code>, which creates a green background, <stache-code>warning</stache-code>, which creates an orange background, and <stache-code>danger</stache-code>, which creates a red background. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      defaultValue="0"
      isOptional="true"
    >
    This property is deprecated. It specifies an index for the radio button. If the index is not defined, it is set to the position of the radio button on load.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button events">
    <sky-demo-page-property
      propertyName="change"
    >
    Fires when users select a radio button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-radio-demo></sky-radio-demo>
    <sky-demo-page-code demoName="Radio button"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>
      For a group of radio buttons, use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code> elements to provide semantic structure. For people using assistive technology, the <stache-code>fieldset</stache-code> element groups the radio buttons to indicate the number of items in the group, and the <stache-code>legend</stache-code> element provides a description for the group. For more information on how to use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code>, see <a href="http://webaim.org/techniques/forms/controls#radio">WebAIM examples and guidance</a>.
    </p>
    <p>
      For icon radio buttons, the <stache-code>label</stache-code> or <stache-code>labelledby</stache-code> input must be set. For people using assistive technology, the visible icon may not convey sufficient information.
    </p>
  </sky-demo-page-content>

</sky-demo-page>
