<sky-tabbed-demo-page
  pageTitle="Radio button"
>

  <sky-demo-page-summary>
The radio button component is a selection input for choosing one option from a small set.
</sky-demo-page-summary>
    
<div class="sky-margin-stacked-content-section">
    <sky-demo-page-example>
        <sky-radio-demo></sky-radio-demo>
    </sky-demo-page-example>
</div>

<sky-tabset id="content-tabs">
	
	<sky-tab tabHeading="Design">
        
        <sky-demo-page-content sectionHeading="Usage">
            
            <h3 class="sky-text-success">Use when</h3>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Use radio buttons when the user must choose one option from a set of 2-5. Use radio buttons in a modal, where the user will confirm the decision before changes take effect.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-1.png" />
                    <div class="caption caption-success sky-text-success">Do use radio buttons for single selections when the number of choices is low.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Use radio buttons if the user’s decision will make a small number of other inputs relevant or irrelevant. The conditional inputs are visible and disabled when their activating radio is not selected.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-2.png" />
                    <div class="caption caption-success sky-text-success">Do let radio buttons conditionally enable more inputs as part of a task.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Use an icon radio group when choices can be clearly communicated with icons, and can be combined under a single field or question. </p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-3.png" />
                    <div class="caption caption-success sky-text-success">Do use icon radio groups when choices can be clearly illustrated with icons.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Use individual icon radio buttons when the radio group is spread across multiple rows or objects.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-4.png" />
                    <div class="caption caption-success sky-text-success">Do use icon radio buttons when the choices cannot be grouped together.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <h3 class="sky-text-danger">Don't use when</h3>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Don’t use radio buttons when the set of available choices is more than 5.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-5.png" />
                    <div class="caption caption-danger sky-text-danger">Don't use radio buttons when there are many choices.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-6.png" />
                    <div class="caption caption-success sky-text-success">Do use different selection controls for more than 5 choices.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Don’t use radio buttons when one choice is the exact opposite or absence of the other. Rephrase the question and use checkboxes instead.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-7.png" />
                    <div class="caption caption-danger sky-text-danger">Don't represent two exact opposites with radio buttons.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-8.png" />
                    <div class="caption caption-success sky-text-success">Do use checkboxes for choices between exact opposites.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Don’t use radio buttons when the user must make a choice that will significantly change the rest of a workflow. Use action buttons instead and place that decision at the beginning of the task.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-9.png" />
                    <div class="caption caption-danger sky-text-danger">Don't use radio buttons for decisions that will have a drastic effect on the rest of the decisions in a workflow.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-10.png" />
                    <div class="caption caption-success sky-text-success">Do use action buttons for decisions that branch the user into signficantly different workflows.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Don’t use icon radio buttons if the difference between the choices cannot be clearly communicated with icons. Use traditional radio buttons to provide the needed context with text.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-11.png" />
                    <div class="caption caption-danger sky-text-danger">Don't use icon radio buttons when the icons may be unclear.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-12.png" />
                    <div class="caption caption-success sky-text-success">Do use radio buttons with text labels when icons are not immediately obvious.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Don’t use ungrouped icon radio buttons when the choices could be grouped together on the same line.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-13.png" />
                    <div class="caption caption-danger sky-text-danger">Don't use individual icon radio buttons when they could be grouped.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-usage-14.png" />
                    <div class="caption caption-success sky-text-success">Do use icon radio groups when possible.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Anatomy">
        
            <h3>Regular radio buttons</h3>
            <sky-docs-anatomy imagePath="~/assets/img/guidelines/radio-button/radio-button-anatomy-1.png">
                <sky-docs-anatomy-item anatomyNumber="1">Radio glyph</sky-docs-anatomy-item>
                <sky-docs-anatomy-item isOptional="true" anatomyNumber="2">Text label</sky-docs-anatomy-item>
            </sky-docs-anatomy>
            
            <h3>Icon radio buttons</h3>
            <sky-docs-anatomy imagePath="~/assets/img/guidelines/radio-button/radio-button-anatomy-2.png">
                <sky-docs-anatomy-item anatomyNumber="1">Radio type</sky-docs-anatomy-item>
                <sky-docs-anatomy-item anatomyNumber="2">Icon</sky-docs-anatomy-item>
            </sky-docs-anatomy>
            
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Options">
            
            <h3>Text label</h3>
            <div class="sky-text-block">
                <p>When radio buttons are in grid columns, the text label is not required if you use a column heading. Use text labels for all other states.</p>
            </div>
            <h3>Radio type</h3>
            <div class="sky-text-block">
                <p>Icon radio buttons can set a background and border color to match an implied “status” (success, danger, etc.) that corresponds to the types of <a routerLink="/components/status-indicator">status indicator</a>.</p>
            </div>
            
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Behavior & states">
        
            <sky-demo-page-component-states>
              <sky-demo-page-component-state stateName="Selected" imagePath="~/assets/img/guidelines/radio-button/radio-button-combined-state-2.png"></sky-demo-page-component-state>
              <sky-demo-page-component-state stateName="Unselected" imagePath="~/assets/img/guidelines/radio-button/radio-button-combined-state-1.png"></sky-demo-page-component-state>
              <sky-demo-page-component-state stateName="Hover" imagePath="~/assets/img/guidelines/radio-button/radio-button-combined-state-3.png"></sky-demo-page-component-state>
              <sky-demo-page-component-state stateName="Disabled" imagePath="~/assets/img/guidelines/radio-button/radio-button-combined-state-4.png"></sky-demo-page-component-state>
            </sky-demo-page-component-states>
        
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Content">
        
            <div class="sky-text-block">
                <p>Radio buttons may or may not use a preceeding question or statement to provide context for the options. When one is not included, provide the context for the consequences of the choice in the radio button text labels themselves.</p>
                <p>Icon radio buttons use the <a href="https://fontawesome/v4.7.0/">FontAwesome 4.7</a> icon library. See the <a routerLink="/design/styles/icons">SKY UX icon dictionary</a> for a list of common icons.</p>
                <p><b>Note:</b> Icon radio buttons must still use a <sky-code>label</sky-code> or <sky-code>labelledby</sky-code> input for accessibility.</p>
            </div>
        
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Layout">
        
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Arrange groups of radio buttons in a vertical stack to make it as easy as possible to see all options, scan their labels, and see which option is selected.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div class="sky-margin-stacked-content-section">
                    <img src="~/assets/img/guidelines/radio-button/radio-button-layout-1.png" />
                    <div class="caption caption-success sky-text-success">Do stack radio buttons vertically.</div>
                    </div>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-layout-2.png" />
                    <div class="caption caption-danger sky-text-danger">Don't arrange radio buttons horizontally.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
            
            <sky-docs-visual-example>
                <sky-docs-visual-example-text>
                    <p>Use standard SKY UX form group spacing to separate radio button groups from the form elements around them.</p>
                </sky-docs-visual-example-text>
                
                <sky-docs-visual-example-image>
                    <div>
                    <img src="~/assets/img/guidelines/radio-button/radio-button-layout-3.png" />
                    <div class="caption caption-success sky-text-success">Do visually separate radio groups from the inputs before and after them.</div>
                    </div>
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
        
        </sky-demo-page-content>
        
        <sky-demo-page-content sectionHeading="Related information">
            <h3>Components</h3>
			<ul>
				<li><a routerLink="/components/action-button">Action button</a></li>
                <li><a routerLink="/components/checkbox">Checkbox</a></li>
                <li><a routerLink="/components/modal">Modal</a></li>
			</ul>
		<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/form-design">Form design</a></li>
			</ul>
        </sky-demo-page-content>
        
    </sky-tab>
    
    <sky-tab tabHeading="Development">
        
  <sky-demo-page-properties sectionHeading="Radio button group properties">
    <p>
      The <sky-code>sky-radio-group</sky-code> component wraps <sky-code>sky-radio</sky-code> components to organize radio buttons into a group. It is required for SKY UX radio buttons on Angular reactive forms to manage the selected values and keep the forms up-to-date. We recommend using the <sky-code>sky-radio-group</sky-code> component with all radio buttons.
    </p>
    <sky-demo-page-property
      propertyName="name"
    >
      Specifies a name for the collection of radio buttons that the component groups together. This property overwrites the deprecated <sky-code>name</sky-code> property on individual <sky-code>sky-radio</sky-code> elements, and it is required unless the <sky-code>name</sky-code> property is set on individual <sky-code>sky-radio</sky-code> elements. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
    Defines a string value to label the radio button group and set the <sky-code>aria-label</sky-code> attribute to support <a stacheRouterLink="." fragment="accessibility">accessibility</a>. If the radio button group includes a visible label on the screen, use the <sky-code>ariaLabelledBy</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
      Sets the radio button group's <sky-code>aria-labelledby</sky-code> attribute to support <a stacheRouterLink="." fragment="accessibility">accessibility</a>. The value should be the HTML element ID (without the leading #) of the element that labels the radio button group. If the radio button group does not include a visible label on the screen, use the <sky-code>ariaLabel</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      isOptional="true"
    >
       Specifies an index for all the radio buttons in the group. If the index is not defined, the indices for individual radio buttons are set to their positions on load. This property supports <a stacheRouterLink="." fragment="accessibility">accessibility</a> by ensuring that focus is placed on the currently selected radio button or on the first or last button when no radio button is selected depending on how users navigate to the radio button group. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
      isOptional="true"
    >
      Specifies the value of the radio button to select by default when the group loads. The value corresponds to the <sky-code>value</sky-code> property of an individual <sky-code>sky-radio</sky-code> element within the group.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button properties">
    <sky-demo-page-property
      propertyName="name"
    >
    This property is deprecated in favor of <a stacheRouterLink="." fragment="radio-button-group-properties">the <sky-code>name</sky-code> property on the <sky-code>sky-radio-group</sky-code> element</a>. It specifies a name for a group of radio buttons. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
    >
    Specifies a value for the radio button. The value usually corresponds to the radio button's label.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="checked"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the radio button is selected. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to disable the radio button. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="icon"
      isOptional="true"
    >
    Specifies an icon to display in place of the radio button. To group radio buttons like in <a stacheRouterLink="." fragment="demo">the demo below</a>, place the <sky-code>sky-switch-icon-group</sky-code> class on the direct parent element of the radio buttons. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="id"
      isOptional="true"
    >
    Specifies an ID for the radio button. If you do not specify an ID, an auto-incrementing integer generates unique IDs.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
    >
    Defines an ARIA label for the radio button to support <a stacheRouterLink="." fragment="accessibility">accessibility</a> when the radio button does not include a visible label. This property must be set if you are using an icon radio button. If the radio button includes a visible label on the screen, use the <sky-code>labelledBy</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="labelledBy"
      isOptional="true"
    >
    Sets the radio button's <sky-code>aria-labelledby</sky-code> attribute to support <a stacheRouterLink="." fragment="accessibility">accessibility</a>. The value should be the HTML element ID (without the leading #) of the element that labels the radio button. If the radio button does not include a visible label on the screen, use the <sky-code>label</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="radioType"
      defaultValue="info"
      isOptional="true"
    >
    Specifies a type to set the background color after users select a radio button where the <sky-code>icon</sky-code> property displays an icon in place of the radio button. The valid options correspond <a stacheRouterLink="/components/label">the label component's</a> label types. <sky-code>info</sky-code> creates a blue background, <sky-code>success</sky-code> creates a green background, <sky-code>warning</sky-code> creates an orange background, and <sky-code>danger</sky-code> creates a red background. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      defaultValue="0"
      isOptional="true"
    >
    This property is deprecated in favor of <a stacheRouterLink="." fragment="radio-button-group-properties">the <sky-code>tabIndex</sky-code> property on the <sky-code>sky-radio-group</sky-code> element</a>. It specifies an index for the radio button. If the index is not defined, it is set to the position of the radio button on load. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button events">
    <sky-demo-page-property
      propertyName="change"
      isOptional="true"
    >
    Fires when users select a radio button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-radio-demo></sky-radio-demo>
    <sky-demo-page-code demoName="Radio button"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>
      For a group of radio buttons, use the <sky-code>fieldset</sky-code> and <sky-code>legend</sky-code> elements to provide semantic structure. For people using assistive technology, the <sky-code>fieldset</sky-code> element groups the radio buttons to indicate the number of items in the group, and the <sky-code>legend</sky-code> element provides a description for the group. For more information about how to use <sky-code>fieldset</sky-code> and <sky-code>legend</sky-code>, see <a href="http://webaim.org/techniques/forms/controls#radio">WebAIM examples and guidance</a>.
    </p>
    <p>
      Also for a group of radio buttons, use the <sky-code>tabIndex</sky-code> property to specify an index for all radio buttons in the group. This places focus on the currently selected radio button. If no radio button is selected, it places focus on the first or last button depending on how users navigate to the radio button group.
    </p>
    <p>
      For icon radio buttons, use the <sky-code>label</sky-code> or <sky-code>labelledby</sky-code> input. For people using assistive technology, the visible icon may not convey sufficient information.
    </p>
  </sky-demo-page-content>
        
    </sky-tab>
    
</sky-tabset>
</sky-tabbed-demo-page>
