<sky-demo-page
  pageTitle="Radio button"
  skyuxModule="SkyRadioModule"
>

  <sky-demo-page-summary>
    The radio button component is a SKY UX-themed replacement for the HTML <stache-code>input</stache-code> element of <stache-code>type="radio"</stache-code>. The value that is selected is driven through the <stache-code>ngModel</stache-code> attribute specified on the input element.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Radio button properties">
    <sky-demo-page-property
      propertyName="checked"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the radio button is selected. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the radio button is disabled. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="icon"
    >
    Specifies an icon to display instead of a radio button. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="id"
    >
    Specifies an ID for the radio button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
    >
    Specifies a label for the radio button. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="labelledBy"
      isOptional="true"
    >
    Specifies the ID of the label for the radio button. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="name"
    >
    Specifies a name for a collection of radio buttons. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="radioType"
      defaultValue="false"
      isOptional="info"
    >
    Specifies a type for the radio button. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      defaultValue="false"
      isOptional="0"
    >
    Specifies the index of the radio button. If not defined, it will be set to the position of the radio button on load.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
    >
    Specifies a value for the radio button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button events">
    <sky-demo-page-property
      propertyName="change"
    >
    Fires when the selected radio button changes.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Radio button group properties">
    <p>
      The radio group component is a way to use the radio button component with Angular reactive forms. The selected value is instead managed by the radio group component which keeps the reactive form up to date.
    </p>
    <sky-demo-page-property
      propertyName="name"
      isOptional="true">
      Overwrites the <stache-code>name</stache-code> property of the radio button components within the group.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
      isOptional="true">
      Overwrites the selected value of the radio group.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-radio-demo></sky-radio-demo>
    <sky-demo-page-code demoName="Radio button"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>
      For a group of radio buttons, use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code> elements to provide semantic structure. For people using assistive technology, the <stache-code>fieldset</stache-code> element groups the radio buttons to indicate the number of items in the group, and the <stache-code>legend</stache-code> element provides a description for the group. For more information on how to use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code>, see <a href="http://webaim.org/techniques/forms/controls#radio">WebAIM examples and guidance</a>.</p>
  </sky-demo-page-content>

</sky-demo-page>
