<sky-tabbed-demo-page
  pageTitle="Data entry grid"
  navTitle="Data entry grid"
>

  <sky-demo-page-summary>
    <p>
      The data entry grid provides a spreadsheet-like user interface for entering large amounts of data. The component itself is from the third party library ag-Grid. The SKY UX ag-Grid module provides styles, a service for default <sky-code>gridOptions,</sky-code> and SKY UX components for cell rendering and editing in ag-Grid.

      If you have never used ag-Grid before, <a href="https://www.ag-grid.com/angular-getting-started/">the Angular getting started</a> guide covers the basics. For more in depth information about ag-Grid and its capabilities, please reference <a href="https://www.ag-grid.com/documentation-main/documentation.php">the ag-Grid documentation.</a>
    </p>
  </sky-demo-page-summary>

  <div class="sky-margin-stacked-content-section">
    <sky-demo-page-example>
      <sky-data-entry-grid-demo>
      </sky-data-entry-grid-demo>
    </sky-demo-page-example>
  </div>

  <sky-tabset id="content-tabs">

    <sky-tab tabHeading="Design">
      <sky-demo-page-content sectionHeading="Usage">
      <h3 class="sky-text-success">Use when</h3>
        <div class="sky-text-block sky-margin-stacked-content-section">
          <p>Use data entry grids when:</p>
          <ul>
            <li>Users have experience working with spreadsheets</li>
            <li>Users will edit many values in one session</li>
            <li>The dataset is large</li>
          </ul>
        </div>
      <h3 class="sky-text-danger">Don't use when</h3>
        <div class="sky-text-block">
          <p>Don't use data entry grids when:</p>
            <ul>
            <li>Users need guidance for the task they are completing</li>
            <li>Users will edit a small number of values in one session</li>
            <li>The dataset is small</li>
          </ul>
        </div>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <h3>Edit mode</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/data-grid/anatomy-edit.png">
        <sky-docs-anatomy-item anatomyNumber="1">Header row</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Editable cell</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Focused cell</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4" isOptional="true">Read-only cell</sky-docs-anatomy-item>
      </sky-docs-anatomy>
      <h3>View mode</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/data-grid/anatomy-view.png">
        <sky-docs-anatomy-item anatomyNumber="1">Header row</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Unselected row</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3" isOptional="true">Multiselect checkbox</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4" isOptional="true">Selected row</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
		<h3>Disabled cells</h3>
      <sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>You can disable columns of cells within the grid if users should not edit that data.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img src="~/assets/img/guidelines/data-grid/option-disable.png" />
				</sky-docs-visual-example-image>
			</sky-docs-visual-example>
    <h3>Multiselect</h3>
			<sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>You can enable multiselect if users need to select multiple rows in the grid to take action on.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img src="~/assets/img/guidelines/data-grid/option-multiselect.png" />
				</sky-docs-visual-example-image>
			</sky-docs-visual-example>
	</sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Related information">
		<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/grid">Grid</a></li>
			</ul>
		<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/form-design">Form design</a></li>
			</ul>
	</sky-demo-page-content>

    </sky-tab>

    <sky-tab tabHeading="Development">
      <sky-demo-page-module-info
        skyuxModule="SkyAgGridModule"
        packageName="@skyux/ag-grid"
        githubRepo="skyux-ag-grid"
      >
      </sky-demo-page-module-info>

      <h2>ag-Grid styles</h2>
      <p>
        To add the SKY UX styles for ag-Grid to your SPA, include <sky-code>"@skyux/ag-grid/css/sky-ag-grid.css"</sky-code> in the <sky-code>styles</sky-code> section of your <sky-code>skyuxconfig.json</sky-code>. For editable grids, include the class <sky-code>sky-ag-grid-editable</sky-code> on the <sky-code>ag-grid-angular</sky-code> element.
      </p>

      <sky-demo-page-properties
      sectionHeading="SkyAgGridService methods"
      >
        <p>
          <sky-code>SkyAgGridService</sky-code> provides methods to get ag-Grid <sky-code>gridOptions</sky-code> to ensure grids match SKY UX functionality. The <sky-code>gridOptions</sky-code> can be overridden, and include registered SKY UX column types.
        </p>
        <sky-demo-page-property
          propertyName="getEditableGridOptions(args: SkyGetGridOptionsArgs)"
          isOptional="true"
        >
          Returns <a href="https://www.ag-grid.com/javascript-grid-properties/">ag-Grid <sky-code>gridOptions</sky-code></a> with default SKY UX options, styling, and cell editors registered for editable grids.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="getGridOptions(args: SkyGetGridOptionsArgs)"
          isOptional="true"
        >
          Returns <a href="https://www.ag-grid.com/javascript-grid-properties/">ag-Grid <sky-code>gridOptions</sky-code></a> with default SKY UX options, styling, and cell renderers registered for read-only grids.
        </sky-demo-page-property>
      </sky-demo-page-properties>

      <sky-demo-page-properties
      sectionHeading="SkyGetGridOptionsArgs type"
      >
        <sky-demo-page-property
          propertyName="gridOptions"
          isOptional="false"
        >
          Specifies the <a href="https://www.ag-grid.com/javascript-grid-properties/">ag-Grid <sky-code>gridOptions</sky-code></a> used to override default SKY UX gridOptions. SKY UX column types for components and column <sky-code>cellClassRules</sky-code> enforce required cell styling and cannot be overridden.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="locale"
          isOptional="true"
          default="en-us"
        >
          Specifies the locale used for location-specific formatting, such as date values for the <sky-code>SkyCellType.Date</sky-code> column. This property accepts string values.
        </sky-demo-page-property>
      </sky-demo-page-properties>

      <sky-demo-page-properties
        sectionHeading="Registered columnTypes"
      >
        <p>These column types can be used by setting the ag-Grid <a href="https://www.ag-grid.com/javascript-grid-column-properties/">column definition <sky-code>type</sky-code></a> to one of the following values.</p>
        <sky-demo-page-property
          propertyName="SkyCellType.Autocomplete"
          isOptional="true"
        >
          <h4>Edit mode</h4>
          <p>
            Specifies that cells in the column will be edited as <a routerLink="../autocomplete">SKY UX autocomplete components.</a> You can set any of the autocomplete component's properties by passing them in the <a href="https://www.ag-grid.com/javascript-grid-column-properties/">column definition's <sky-code>cellEditorParams</sky-code> property.</a> These params can be updated as other cell edits are made or <a href="https://www.ag-grid.com/javascript-grid-cell-editing/#dynamic-parameters">provided dynamically</a> based on other cell values. See the demo for an example. Text can be entered and a value selected from the provided list.
          </p>

          <h4>Read-only mode</h4>
          <p>
            Specifies that cells the column will display the currently selected value's name property by default. If the autocomplete needs to show a different property or needs to be formatted in any way, you can <a href="https://www.ag-grid.com/javascript-grid-value-formatters/">define a <sky-code>valueFormatter</sky-code></a> on the column definition.
          </p>
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="SkyCellType.Date"
          isOptional="true"
        >
          <h4>Edit mode</h4>
          <p>
            Specifies that cells in the column will be edited as <a routerLink="../datepicker">SKY UX datepicker components.</a> You can set any of the datepicker component's properties by passing them in the <a href="https://www.ag-grid.com/javascript-grid-column-properties/">column definition's <sky-code>cellEditorParams</sky-code> property.</a> These params can be updated as other cell edits are made or <a href="https://www.ag-grid.com/javascript-grid-cell-editing/#dynamic-parameters">provided dynamically</a> based on other cell values. See the demo for an example. Date values can be entered.
          </p>

          <h4>Read-only mode</h4>
          <p>
            Specifies that cells in the column will display the currently selected date formatted as <sky-code>MM-DD-YYYY</sky-code>, or the date format of the locale passed to <sky-code>getGridOptions()</sky-code>. If you would like to overwrite this format, you can <a href="https://www.ag-grid.com/javascript-grid-value-formatters/">define a <sky-code>valueFormatter</sky-code></a> on the column definition. See the demo for an example.
          </p>
        </sky-demo-page-property>

        <sky-demo-page-property
          propertyName="SkyCellType.Number"
          isOptional="true"
        >
          <h4>Edit mode</h4>
          <p>
            Specifies that cells in the column will be edited as HTML number <sky-code>inputs</sky-code>. Only numbers can be entered.
          </p>

          <h4>Read-only mode</h4>
          <p>
            Specifies that cells in the column will render as the number value.
          </p>
        </sky-demo-page-property>

        <sky-demo-page-property
          propertyName="SkyCellType.RowSelector"
          isOptional="true"
        >
          <h4>Edit and read-only modes</h4>
          Specifies that cells in the column will render as <a routerLink="../checkbox">SKY UX checkbox components.</a> It allows the user to select multiple rows, and adds a highlight to selected rows. The <a href="https://www.ag-grid.com/javascript-grid-row-node/">ag-Grid <sky-code>rowNode</sky-code></a> will be updated to reflect the selected state.
        </sky-demo-page-property>


        <sky-demo-page-property
          propertyName="SkyCellType.Text"
          isOptional="true"
        >
          <h4>Edit mode</h4>
          <p>
            Specifies that cells in the column will be edited as HTML text <sky-code>inputs</sky-code>. Any characters can be entered.
          </p>

          <h4>Read-only mode</h4>
          <p>
            Specifies cells in the column will render as their string value.
          </p>
        </sky-demo-page-property>

        <p>
          Any <a routerLink="..">SKY UX component</a> can be made into a <a href="https://www.ag-grid.com/javascript-grid-cell-editor/">cell editor</a> or <a href="https://www.ag-grid.com/javascript-grid-cell-rendering-components/">cell renderer</a> component. If you would like to use a component that does not have a column definition yet, please consider <a routerLink="../../contribute/contribution-process">contributing it</a> to the SKY UX ag-Grid module, or <a routerLink="../../contribute/contribution-process/file-issue">file an issue</a> in the <a href="https://github.com/blackbaud/skyux-ag-grid">@skyux/ag-grid repo.</a>
        </p>
      </sky-demo-page-properties>

      <h2>Passing cell editor parameters</h2>
      <p>
        You can pass inputs to the SKY UX components used in cell editors via the <a href="https://www.ag-grid.com/javascript-grid-column-properties/">column definition's <sky-code>cellEditorParams</sky-code> property.</a> The component properties are nested under <sky-code>skyComponentProperties</sky-code>. All component properties should be supported, and you can see the defined types by importing <sky-code>SkyCellEditorDatepickerProperties</sky-code> or <sky-code>SkyCellEditorAutocompleteProperties</sky-code>. <sky-code>cellEditorParams</sky-code> can also be a function that returns a param object for dynamic editing params. See the demo for examples of using an object or a function.
      </p>

      <sky-demo-page-example>
        <sky-data-entry-grid-demo>
        </sky-data-entry-grid-demo>
        <sky-demo-page-code
          demoName="Data entry grid"
        >
        </sky-demo-page-code>
      </sky-demo-page-example>
    </sky-tab>
  </sky-tabset>
</sky-tabbed-demo-page>
