<sky-demo-page
  pageTitle="Text Expand Repeater"
  navTitle="Text expand repeater"
  skyuxModule="SkyTextExpandRepeaterModule"
  packageName="@skyux/layout"
>

  <sky-demo-page-summary>
    <p>
      The text expand repeater component truncates a list of items and initially displays a limited number of items. Truncated items are hidden until users expand the list.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Text expand repeater properties">
    <sky-demo-page-property
      propertyName="data"
    >
    Specifies the data to truncate. This property accepts an array of values of <stache-code>any</stache-code> type.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxItems"
    >
    Specifies the number of items to display in the list before truncating. This property accepts <stache-code>number</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-text-expand-demo></sky-text-expand-demo>
    <sky-demo-page-code demoName="Text expand"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
