<sky-demo-page
  pageTitle="Tile"
  skyuxModule="SkyTilesModule"
  packageName="@skyux/tiles"
>

  <sky-demo-page-summary>
    <p>
      The <stache-code>sky-tile</stache-code> component creates a collapsible container that serves as a building block for pages and forms in SKY UX applications. Within the <stache-code>sky-tile</stache-code> component, the <stache-code>sky-tile-title</stache-code> component displays a header for the tile, the <stache-code>sky-tile-summary</stache-code> component displays summary information, and the <stache-code>sky-tile-content</stache-code> component displays the tile content. The <stache-code>sky-tile-content-section</stache-code> component creates a padded section inside the <stache-code>sky-tile-content</stache-code> element. If you use a <stache-code>sky-tile</stache-code> component within a <stache-code>sky-tile-dashboard</stache-code> component, you must <a routerLink="/learn/get-started/advanced/add-entry-components">include it as an entry component</a> in the application module.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Tile properties">
    <sky-demo-page-property
      propertyName="isCollapsed"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether the tile is in a collapsed state.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showHelp"
      isOptional="true"
      defaultValue="true"
    >
      Indicates whether to display a help button in the tile's header. To display the button, you must also listen for the <stache-code>helpClick</stache-code> event.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showSettings"
      isOptional="true"
      defaultValue="true"
    >
      Indicates whether to display a settings button in the tile's header. To display the button, you must also listen for the <stache-code>settingsClick</stache-code> event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile events">
    <sky-demo-page-property
      propertyName="helpClick"
    >
    Fires when users select the help button in the tile header. The help button only appears if the <stache-code>showHelp</stache-code> property is set to <stache-code>true</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isCollapsedChange"
    >
    Fires when the tile's collapsed state changes. Returns <stache-code>true</stache-code> when the tile is collapsed and <stache-code>false</stache-code> when it is not.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="settingsClick"
    >
    Fires when users select the settings button on the tile. The settings button only appears if the <stache-code>showSettings</stache-code> property is set to <stache-code>true</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile dashboard properties">
    <sky-demo-page-property
      propertyName="config"
    >
    Populates the tile dashboard based on the <stache-code>SkyTileDashboardConfig</stache-code> object.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="settingsKey"
      isOptional="true"
    >
    Specifies a unique key for the UI Config Service to retrieve stored settings from a database. You must prefix the key with the name of your SPA. The UI Config Service applies sticky settings to tile dashboards and saves configuration settings for users. This property accepts <stache-code>string</stache-code> values. This property is for internal Blackbaud use only. For Blackbaud developers, the UI Config Service website describes how to <a href="https://docs.blackbaud.com/ui-config-service-docs/learn/tutorials/save-tile-configuration">apply sticky settings to tile dashboards</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile dashboard events">
    <sky-demo-page-property
      propertyName="configChange"
    >
    Fires when the tile dashboard changes state and emits a <stache-code>SkyTileDashboardConfig</stache-code> object. This occurs when tiles collapse or expand and when users drag and drop tiles to rearrange them.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyTileDashboardConfig properties">
    <sky-demo-page-property
      propertyName="tiles"
    >
    An array of <stache-code>SkyTileDashboardConfigTile</stache-code> objects that specifies the tiles to include in the dashboard. Each <stache-code>SkyTileDashboardConfigTile</stache-code> object includes the following properties:
    <ul>
      <li>
        <stache-code>id</stache-code> — The unique identifier for the tile.
      </li>
      <li>
        <stache-code>componentType</stache-code> — The class type for the tile component.
      </li>
      <li>
        <stache-code>providers</stache-code> — <em>(Optional.)</em> An array of data providers that can be passed to the tile.
      </li>
    </ul>
    </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="layout"
      >
      A <stache-code>SkyTileDashboardConfigLayout</stache-code> object that describes the tile dashboard's layout. The <stache-code>SkyTileDashboardConfigLayout</stache-code> object contains a <stache-code>singleColumn</stache-code> property of type <stache-code>SkyTileDashboardConfigLayoutColumn</stache-code> and a <stache-code>multiColumn</stache-code> property that is an array of type <stache-code>SkyTileDashboardConfigLayoutColumn</stache-code>. The <stache-code>singleColumn</stache-code> layout displays on small screens, while the <stache-code>multiColumn</stache-code> layout displays on larger screens. The <stache-code>SkyTileDashboardConfigLayoutColumn</stache-code> object contains an array of <stache-code>SkyTileDashboardConfigLayoutTile</stache-code> objects that indicates the order of tiles. It includes the following properties:
      <ul>
        <li>
          <stache-code>id</stache-code> — The identifier for the tile in the dashboard.
        </li>
        <li>
          <stache-code>isCollapsed</stache-code> — A boolean value that indicates whether the tile is in a collapsed state.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile dashboard service events">
    <sky-demo-page-property
      propertyName="dashboardInitialized"
    >
    Fires when the tile dashboard's initialization is complete.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <div class="sky-demo-bg-gray">
      <sky-tile-demo>
      </sky-tile-demo>
    </div>
    <sky-demo-page-code demoName="Tile"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
