<sky-tabbed-demo-page
  pageTitle="Character Count Indicator"
>

  <sky-demo-page-summary>
    The character count indicator component extends a text input to apply a character limit and display an indicator with the number of characters entered and the character limit.
  </sky-demo-page-summary>

  <div
    class="sky-margin-stacked-content-section"
  >
    <sky-demo-page-example>
      <sky-character-count-demo>
      </sky-character-count-demo>
    </sky-demo-page-example>
  </div>

  <sky-tabset
    id="content-tabs"
  >
    <sky-tab
      tabHeading="Design"
    >
      <sky-demo-page-content
        sectionHeading="Usage"
      >
        <h3
          class="sky-text-success"
        >
          Use when
        </h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>
              Use character count indicators when users are likely to exceed character limits. Indicators are useful when technical requirements lead to restrictive character limits or when user entries are freeform and could be very long.
            </p>
          </sky-docs-visual-example-text>

          <sky-docs-visual-example-image>
            <div>
              <img
                src="~/assets/img/guidelines/character-count/character-count-usage-1.png"
              />
              <div
                class="caption caption-success sky-text-success"
              >
                Do use character count indicators on input fields where users may realistically exceed character limits.
              </div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>

        <h3
          class="sky-text-danger"
        >
          Don't use when
        </h3>

        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>
              Don’t use character count indicators when character limits are apparent or implied by the data type.
            </p>
          </sky-docs-visual-example-text>

          <sky-docs-visual-example-image>
            <div>
              <img
                src="~/assets/img/guidelines/character-count/character-count-usage-2.png"
              />
              <div
                class="caption caption-danger sky-text-danger"
              >
                Don't use character count indicators on input fields where user entries follow expected or standard lengths.
              </div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>

        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>
              Don’t use character count indicators on inputs when users are unlikely to exceed character limits. Use <a routerLink="/design/guidelines/form-design" fragment="validation-and-error-handling">normal form validation</a> instead.
            </p>
          </sky-docs-visual-example-text>

          <sky-docs-visual-example-image>
            <div
              class="sky-margin-stacked-content-section"
            >
              <img
                src="~/assets/img/guidelines/character-count/character-count-usage-3.png"
              />
              <div
                class="caption caption-danger sky-text-danger"
              >
                Don't use character count indicators on input fields where users should not realistically exceed character limits.
              </div>
            </div>

            <div>
              <img
                src="~/assets/img/guidelines/character-count/character-count-usage-4.png"
              />
              <div
                class="caption caption-success sky-text-success"
              >
                Do use normal form validation for edge cases where users exceed character limits.
              </div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      </sky-demo-page-content>

      <sky-demo-page-content sectionHeading="Anatomy">

        <sky-docs-anatomy
          imagePath="~/assets/img/guidelines/character-count/character-count-anatomy-1.png"
        >
          <sky-docs-anatomy-item
            anatomyNumber="1"
          >
            Input field
          </sky-docs-anatomy-item>
          <sky-docs-anatomy-item
            anatomyNumber="2"
          >
            Character count indicator
          </sky-docs-anatomy-item>
          <sky-docs-anatomy-item
            anatomyNumber="3"
          >
            <a routerLink="/components/status-indicator">Status indicator</a> (danger)
          </sky-docs-anatomy-item>
        </sky-docs-anatomy>
      </sky-demo-page-content>

      <sky-demo-page-content
        sectionHeading="Behavior & states"
      >
        <div
          class="sky-text-block"
        >
          <p>
            The character count indicator component extends the <a routerLink="/components/form">form classes</a> that define styles and the appearance of input field states.
          </p>
        </div>

        <sky-demo-page-component-states>
          <sky-demo-page-component-state
            stateName="Empty field"
            imagePath="~/assets/img/guidelines/character-count/character-count-state-1.png"
          >
          </sky-demo-page-component-state>
          <sky-demo-page-component-state
            stateName="Adding text"
            imagePath="~/assets/img/guidelines/character-count/character-count-state-2.png"
          >
          </sky-demo-page-component-state>
          <sky-demo-page-component-state
            stateName="At the character limit"
            imagePath="~/assets/img/guidelines/character-count/character-count-state-3.png"
          >
          </sky-demo-page-component-state>
          <sky-demo-page-component-state
            stateName="Over the limit with focus"
            imagePath="~/assets/img/guidelines/character-count/character-count-state-4.png"
          >
          </sky-demo-page-component-state>
          <sky-demo-page-component-state
            stateName="Over the limit without focus"
            imagePath="~/assets/img/guidelines/character-count/character-count-state-5.png"
          >
          </sky-demo-page-component-state>
        </sky-demo-page-component-states>
      </sky-demo-page-content>

      <sky-demo-page-content
        sectionHeading="Content"
      >
        <div
          class="sky-text-block"
        >
          <p>
            For validation messages when users exceed character limits, use the following format:
          </p>
          <p>
            <b>Limit &lt;input field label&gt; to &lt;n&gt; characters.</b>
          </p>
        </div>
      </sky-demo-page-content>

      <sky-demo-page-content
        sectionHeading="Layout"
      >
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>
              The character count indicator always appears in the top right above the input field. Long field labels do not displace indicators. The labels wrap to multiple lines instead.
            </p>
          </sky-docs-visual-example-text>

          <sky-docs-visual-example-image>
            <div>
              <img
                src="~/assets/img/guidelines/character-count/character-count-layout-1.png"
              />
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      </sky-demo-page-content>

      <sky-demo-page-content
        sectionHeading="Related information"
      >
        <h3>
          Components
        </h3>
        <ul>
          <li><a routerLink="/components/form">Form</a></li>
          <li><a routerLink="/components/status-indicator">Status indicator</a></li>
        </ul>

        <h3>Guidelines</h3>
        <ul>
          <li><a routerLink="/design/guidelines/form-design">Form design</a></li>
        </ul>
      </sky-demo-page-content>
    </sky-tab>

    <sky-tab
      tabHeading="Development"
    >

      <sky-demo-page-module-info
        skyuxModule="SkyCharacterCounterModule"
        packageName="@skyux/forms"
        githubRepo="skyux-forms"
      >
      </sky-demo-page-module-info>

      <sky-demo-page-properties
        sectionHeading="Character count input directive properties"
      >
        <sky-demo-page-property
          propertyName="skyCharacterCounter"
        >
          Creates an input field that validates the number of characters. Place this directive on an <sky-code>input</sky-code> or <sky-code>textarea</sky-code> element. If users enter more characters than allowed, then the input field is invalid and the component displays an error indicator.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="skyCharacterCounterLimit"
        >
          Specifies the maximum number of characters allowed in the input field. Place this directive on an <sky-code>input</sky-code> or <sky-code>textarea</sky-code> element. This property accepts <sky-code>number</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="skyCharacterCounterIndicator"
          isOptional="true"
        >
          Specifies the character count indicator component that displays the character count, character limit, and over-the-limit indicator. Place this directive on an <sky-code>input</sky-code> or <sky-code>textarea</sky-code> element.
        </sky-demo-page-property>
      </sky-demo-page-properties>

      <sky-demo-page-example>
        <sky-character-count-demo>
        </sky-character-count-demo>
        <sky-demo-page-code
          demoName="Character count"
        >
        </sky-demo-page-code>
      </sky-demo-page-example>
    </sky-tab>
  </sky-tabset>
</sky-tabbed-demo-page>
