<sky-demo-page
  pageTitle="Text Expand"
  navTitle="Text expand"
  skyuxModule="SkyTextExpandModule"
  packageName="@skyux/layout"
>

  <sky-demo-page-summary>
    <p>
      The text expand component truncates long blocks of text with an ellipsis and a link to expand the full text. When users click the link, the component expands the full text inline unless it exceeds limits on text characters or newline characters. If the text exceeds those limits, then the component expands the full text in a modal view instead. The component does not truncate text when it is shorter than a specified threshold. However, it always truncates text that includes newline characters, and by default, it removes newline characters from truncated text.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Text expand properties">
    <sky-demo-page-property
      propertyName="text"
    >
    Specifies the text to truncate. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expandModalTitle"
      defaultValue="Expanded view"
      isOptional="true"
    >
    Specifies a title to display when the component expands the full text in a modal. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxExpandedLength"
      defaultValue="600"
      isOptional="true"
    >
    Specifies the maximum number of text characters to display inline when users click the link to expand the full text. If the text exceeds this limit, then the component expands the full text in a modal instead. This property accepts <stache-code>number</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxExpandedNewlines"
      defaultValue="2"
      isOptional="true"
    >
    Specifies the maximum number of newline characters to display inline when users click the link to expand the full text. If the text exceeds this limit, then the component expands the full text in a modal view instead. This property accepts <stache-code>number</stache-code> values.
    </sky-demo-page-property>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxLength"
      defaultValue="200"
      isOptional="true"
    >
    Specifies the number of text characters to display before truncating the text. To avoid truncating text in the middle of a word, the component looks for a space in the 10 characters before the last character. This property accepts <stache-code>number</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="truncateNewlines"
      defaultValue="true"
      isOptional="true"
    >
    Indicates whether to replace newline characters in truncated text with spaces. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-text-expand-demo></sky-text-expand-demo>
    <sky-demo-page-code demoName="Text expand"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
