<sky-demo-page
  pageTitle="Text Expand"
  navTitle="Text expand"
  skyuxModule="SkyTextExpandModule"
  packageName="@skyux/layout"
>

  <sky-demo-page-summary>
    <p>
      The text expand component truncates long blocks of text. In place of the truncated text, it displays an ellipsis and a link to expand the text. When users click the link to expand the text, the component expands the text inline unless the text exceeds the limits on text characters or newline characters. If the text exceeds those limits, the link opens a modal view. If the text length is less than the specified threshold, then the component does not truncate the text. However, if the text includes newlines, the text is truncated regardless of its total length. Newlines are always removed from the truncated text.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Text expand properties">
    <sky-demo-page-property
      propertyName="text"
    >
    Specifies the text to truncate.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxLength"
      defaultValue="200"
      isOptional="true"
    >
    Specifies the number of characters to show before truncating the text. To avoid truncating text in the middle of a word, the directive looks for a space in the 10 characters before the last character.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxExpandedLength"
      defaultValue="600"
      isOptional="true"
    >
    Specifies the maximum number of characters to show in the inline expanded view. If the text includes more characters, then a modal view with the content will be displayed when the 'See more' link is clicked
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxExpandedNewlines"
      defaultValue="2"
      isOptional="true"
    >
    Specifies the maximum number of newline characters to show in the inline expanded view. If the text includes more newline characters, then a modal view with the content will be displayed when the 'See more' link is clicked.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expandModalTitle"
      defaultValue="Expanded View"
      isOptional="true"
    >
    Specifies the title to display in the modal expanded view.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="truncateNewlines"
      defaultValue="true"
      isOptional="true"
    >
    Indicates whether ... If this property is set to <stache-code>false</stache-code>, newline characters will not be replaced with spaces in the truncated text.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-text-expand-demo></sky-text-expand-demo>
    <sky-demo-page-code demoName="Text expand"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
