.two-col-example{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
  margin-bottom: 50px; //$sky-margin-stacked-content-section;
	
	.two-col-text {
		flex: 0 0 320px;
		margin-right: 30px;
	}
	
	.two-col-image {
		flex: 0;
	}
}