<sky-demo-page
  pageTitle="Navbar"
  skyuxModule="SkyNavbarModule"
  packageName="@skyux/navbar"
>

  <sky-demo-page-summary>
    <p>
      The navbar component displays a list of top-level navigation items that can include behavior such as displaying sub-navigation items in <a routerLink="../dropdown"></a>dropdown menus</a>.
    </p>
    <p>
      Blackbaud developers should <a href="https://docs.blackbaud.com/omnibar-docs">use the omnibar</a> for top-level navigation instead of the navbar component. The omnibar is for internal Blackbaud use only.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-navbar-demo></sky-navbar-demo>
    <sky-demo-page-code demoName="Navbar"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
