<div
  style="width: 50%;"
>
  <h3>
    Reactive form setup
  </h3>

  <form
    novalidate
    [formGroup]="characterCountForm"
  >
    <div
      class="sky-form-group"
    >
      <div
        style="display: flex;"
      >
        <label
          class="sky-control-label"
          style="flex-grow: 1;"
        >
          First name
        </label>

        <sky-character-counter-indicator
          #nameIndicator
        >
        </sky-character-counter-indicator>
      </div>

      <input
        class="sky-form-control"
        formControlName="firstName"
        type="text"
        skyCharacterCounter
        [skyCharacterCounterIndicator]="nameIndicator"
        [skyCharacterCounterLimit]="maxNameCharacterCount"
      />

      <div *ngIf="firstName.errors?.skyCharacterCounter"
        class="sky-error-label"
      >
        Limit First name to {{maxNameCharacterCount}} characters.
      </div>
    </div>

    <div
      class="sky-form-group"
    >
      <div
        style="display: flex;"
      >
        <label
          class="sky-control-label"
          style="flex-grow: 1;"
        >
          About me
        </label>

        <sky-character-counter-indicator
          #aboutIndicator
        >
        </sky-character-counter-indicator>
      </div>

      <textarea
        rows="3"
        class="sky-form-control"
        formControlName="aboutMe"
        skyCharacterCounter
        [skyCharacterCounterIndicator]="aboutIndicator"
        [skyCharacterCounterLimit]="maxAboutCharacterCount"
      >
      </textarea>

      <div *ngIf="aboutMe.errors?.skyCharacterCounter"
        class="sky-error-label"
      >
        Limit About me to {{maxAboutCharacterCount}} characters.
      </div>
    </div>
  </form>

  <h3>
    Template-driven form setup
  </h3>

  <div
    class="sky-form-group"
  >
    <div
      style="display: flex;"
    >
      <label
        class="sky-control-label"
        style="flex-grow: 1;"
      >
        First name
      </label>

      <sky-character-counter-indicator
        #templateNameIndicator
      >
      </sky-character-counter-indicator>
    </div>

    <input
      class="sky-form-control"
      type="text"
      skyCharacterCounter
      [skyCharacterCounterIndicator]="templateNameIndicator"
      [skyCharacterCounterLimit]="maxNameCharacterCount"
      [(ngModel)]="person.firstName"
      #templateNameInput="ngModel"
    />

    <div *ngIf="templateNameInput.errors?.skyCharacterCounter"
      class="sky-error-label"
    >
      Limit First name to {{maxNameCharacterCount}} characters.
    </div>
  </div>

  <div
    class="sky-form-group"
  >
    <div
      style="display: flex;"
    >
      <label
        class="sky-control-label"
        style="flex-grow: 1;"
      >
        About me
      </label>

      <sky-character-counter-indicator
        #templateAboutIndicator
      >
      </sky-character-counter-indicator>
    </div>

    <textarea
      rows="3"
      class="sky-form-control"
      skyCharacterCounter
      [skyCharacterCounterIndicator]="templateAboutIndicator"
      [skyCharacterCounterLimit]="maxAboutCharacterCount"
      [(ngModel)]="person.aboutMe"
      #templateAboutInput="ngModel"
    >
    </textarea>

    <div *ngIf="templateAboutInput.errors?.skyCharacterCounter"
      class="sky-error-label"
    >
      Limit About me to {{maxAboutCharacterCount}} characters.
    </div>
  </div>
</div>
