<sky-demo-page
  pageTitle="Code Block"
  skyuxModule="SkyCodeBlockModule"
  packageName="@blackbaud/skyux-lib-code-block"
>

  <sky-demo-page-summary>
    <p>
      The code block component formats a block of text as a code block with syntax highlighting. The code block's header can display a copy button and language type. To create a code block, wrap <stache-code>sky-code-block</stache-code> tags around the text.
    </p>
    <p>
      If a code block has text within <stache-code>&lt;</stache-code> and <stache-code>&gt;</stache-code> characters, then the component automatically appends a closing tag unless the code snippet is valid HTML. To prevent this, use "&#38;lt;" to escape <stache-code>&lt;</stache-code> and "&#38;gt;" to escape <stache-code>&gt;</stache-code>. For example, escape the <stache-code>&lt;</stache-code> and <stache-code>&gt;</stache-code> characters in the code snippet <stache-code>public Task&lt;Generic> MethodName()</stache-code> or the component automatically appends <stache-code>&lt;/Generic></stache-code> to the end: <stache-code>public Task&lt;Generic> MethodName()&lt;/Generic></stache-code>.
    </p>
    <p>
      <sky-alert alertType="info">
        To use the code block component, you must set up the code block plugin. To install the plugin, run <stache-code>npm install @blackbaud/skyux-builder-plugin-code-block --save --save-exact</stache-code>. Then add the plugin to your <stache-code>skyuxconfig.json</stache-code> file: <stache-code>"plugins": ["@blackbaud/skyux-builder-plugin-code-block"]</stache-code>.
      </sky-alert>
    </p>
  </sky-demo-page-summary>
  
  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="code"
      isOptional="true"
    >
      Passes a code sample to the component. This allows you to pass the code sample as a string so that you can provide it from a hosting component or JSON string. This property binds data, so you can use brackets to evaluate the template expression: <stache-code>[code]</stache-code>. Without the brackets, Angular treats the value as a string and initializes the target property with the string value instead of evaluating the data value. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hideCopyToClipboard"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to hide the copy to clipboard button in the code block header. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hideHeader"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to hide the code block's header. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="languageType"
      isOptional="true"
      defaultValue="markup"
    >
      Specifies the language of the code block. The language type highlights the syntax in your code sample and appears in the header. For a list of valid options, see <a stacheRouterLink="." fragment="supported-languages">the supported languages</a>. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-content sectionHeading="Supported languages">
    <p>
      The code block component supports the following languages. For each language, set the <stache-code>languageType</stache-code> property to the corresponding code snippet. For example, to create a JavaScript code snippet, set <stache-code>languageType="javascript"</stache-code>.
    </p>

    <language-type-list>
    </language-type-list>

  </sky-demo-page-content>

  <sky-demo-page-example>
    <sky-code-block-demo></sky-code-block-demo>
    <sky-demo-page-code demoName="Code block"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
