::ng-deep
.sky-definition-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1300px;
  list-style: none;

  @media (min-width: 992px) and (max-width: 1350px) {
    max-height: 1900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
  }

  @media (max-width: 991px) {
    max-height: none;
  }
}