<table class="content-table">
  <thead>
    <tr>
      <th>Language</th>
      <th><sky-code>languageType</sky-code> values</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let language of languageType">
      <td>
        {{ language.label }}
      </td>
      <td>
        <ng-container *ngFor="let value of language.values; last as isLast">
          <sky-code>{{ value }}</sky-code>
          <span *ngIf="!isLast">,&nbsp;</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
