<div
  id="screenshot-phone-field"
  style="width: 50%; margin: 10px; padding: 10px;"
>
  <sky-phone-field #phoneField>
    <input
      type="text"
      [(ngModel)]="phoneNumber"
      [skyPhoneFieldInput]="phoneField"
    >
  </sky-phone-field>
</div>
<div
  id="screenshot-phone-field-default"
  style="width: 50%; margin: 10px; padding: 10px;"
>
  <sky-phone-field #phoneField2>
    <input
      type="text"
      [(ngModel)]="phoneNumber2"
      [skyPhoneFieldInput]="phoneField2"
      [defaultCountry]="'us'"
      >
  </sky-phone-field>
</div>

