<section>
  <header><div class="sky-section-heading">Usage</div></header>
  <stache-row>
    <stache-column screenSmall="6">
			<p>A flyout is a container that slides out from the side of the page and lays over page content to display large amounts of supplementary information related to user tasks. A flyout can contain lists, record views, graphs, or other information displays.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/flyout/flyout-skeleton.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<div class="sky-subsection-heading">When to use a flyout</div>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a flyout to open records in a list so that users can return to the list view after completing quick tasks on the record pages.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-list-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a flyout to drill into an analytical insight so that users can quickly glance into what makes up that insight without spawning another workflow.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-dashboard-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a flyout to drill into child records so that users can retain the context of the parent record. The flyout only covers part of the current page, so users can refer back to it for context.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-record-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<div class="sky-subsection-heading">When not to use a flyout</div>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout to navigate from one record to another instance of the same record type. For example, if users on a constituent record select a link to a different constituent record, navigate to the new record. Do not open it in a flyout.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-record-to-record.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout to navigate from a child page to its parent page. For example, if users on a gift record select a link to return to a constituent record, navigate to a full-page view of the constituent record. Do not open it in a flyout.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-child-to-parent.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout when another flyout is already open. If users select a link in a flyout, close the flyout and navigate to the new link location. In other words, limit flyouts to a single drill-in. On further drilling, open a full page.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-double-panel.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout on pages that don't make sense when it closes. For example, on a page to enter grades for a class of students, displaying the names of students doesn't provide value without the grade entry form, so don't use a flyout to display the grade entry form.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-need-details.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout to display a small amount of additional information. Flyouts are for large amounts of supplementary information. To display smaller amounts of information, use <a routerLink="../popover">a popover component</a> or <a routerLink="../repeater">an expandable repeater</a>.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-small-content.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout to display items that need a long time to load such as system-generated reports. Instead, let users continue to use the system, and use <a routerLink="../alert">an alert component</a> to let them know when the content is available.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-long-load.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout to link to external sites. Open external sites in new tabs. For example, when users select a constituent address, a Google map of that address opens in a new tab.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-external.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use a flyout for tasks where users always need a full-screen view of details, such as expanded views of tiles. Navigate to a full page instead.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-need-full.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<header><div class="sky-section-heading">Interactions</div></header>
		<p class="sky-text-warning">This section describes the intended behavior of the flyout component. However, the component remains in development and some of the behaviors described in this section are not yet implemented.</p>
		<div class="sky-subsection-heading">Background page remains active</div>
			<p>The background page remains active behind a flyout. When users select a link on the background page to open another record in a list, the flyout loads the new record. When users select a link inside the flyout, the system navigates away from the current page.</p>
			<p>When users select a non-interactive element on the background page, the flyout closes. However, when users select a non-interactive element on the background page on touch devices, the flyout does not close because users need to be able touch the background page in order to scroll.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Independent scrolling</div>
			<p>The flyout and its background page scroll independently. When users touch, hover, or focus on the background page, only the background content scrolls. Similarly, when users touch, hover, or focus on the flyout, only the flyout scrolls. This allows users to adjust the content in the flyout without losing context from the page.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Drag to resize</div>
			<p>Users can select the flyout's left border and drag it to adjust the size. The size can range from 320px to 20px less than the full screen size. If users expand the flyout to the full screen size, it slides 20px to the right to keep a portion of the background page in view. The default size is 50 percent of the screen or 320px, whichever is larger. When users resize the panel, the system remembers their preferred size globally.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Help panel</div>
			<p>The flyout covers the omnibar, but the help panel remains visible in the upper right corner of the screen. The help panel should recognize that the flyout is open and provide appropriate guidance based on the context.</p>
			<stache-row>
    		<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-help-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-help-2.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Modal dialog behavior</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When users perform actions in the flyout to launch modal dialogs, the modal dialogs should cover the entire page.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-modal.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

	<header><div class="sky-section-heading">Options</div></header>
		<p class="sky-text-warning">This section describes future options for the flyout component. The component remains in development and the options described in this section are not yet available.</p>
		<div class="sky-subsection-heading">Next/previous buttons</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When a flyout opens records in a list, you can include buttons in the toolbar to open the next record or previous record. For example, if users open a flyout on a constituent record to view the first gift in a list of gifts, the next button opens the second gift in the list. When you include the next and previous buttons in the flyout toolbar, a visual indicator highlights the currently selected row on the page.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/opt-arrows.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>		
	
		<div class="sky-subsection-heading">List toolbar</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When a flyout displays a list, you can include an option in the toolbar to leave the "preview" list and create a new list for further manipulation. The create list button navigates to a new page that contains the new list.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/opt-list.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>		

	<header><div class="sky-section-heading">Responsiveness</div></header>
		<div class="sky-subsection-heading">Mobile behavior</div>
			<stache-row>
    		<stache-column screenSmall="6">
					<p>Do not use a flyout when a screen is smaller than 480px. At smaller resolutions, the flyout covers too much of the screen and loses much of its value. For smaller screen sizes, navigate directly to the appropriate record or list.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/flyout-mobile.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>
	
	<header><div class="sky-section-heading">Related guidelines</div></header>
		<ul>
			<li><a routerLink="/design/guidelines/content-containers">Content containers</a></li>		
		</ul>
	
</section>
