<section>
  <header><div class="sky-section-heading">Usage</div></header>
  <stache-row>
    <stache-column screenSmall="6">
			<p>A detail panel is a container that lays over the page content to show larger amounts of supplementary information related to the user's task.  The detail panel may contain lists, record views, graphs, or bespoke information displays.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/flyout/flyout-skeleton.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<div class="sky-subsection-heading">When to use a detail panel</div>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a detail panel when opening records in lists to allow a user to return to the list view after completing a quick task on the record page.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-list-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a detail panel when drilling into an analytical insight to allow a user to quickly glance into what makes up that insight without spawning another workflow.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-dashboard-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Use a detail panel when drilling into child records to allow a user to retain the context of the parent record. Since the detail panel only covers part of the current page, the user can still refer back to the current page for context.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/flyout/flyout-record-view.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<div class="sky-subsection-heading">When not to use a detail panel</div>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel when navigating from one record to another instance of the same record type. For example, if a user is on a constituent record and clicks a link to a different constituent record the system should navigate to the new record instead of opening it in the detail panel.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-record-to-record.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel when navigating from a child page back to the parent page. For example, if a user is on a gift record and clicks on the link to return to the constituent record the system should navigate to a full page view of the constituent record instead of opening it in the detail panel.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-child-to-parent.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use another detail panel when there is already a detail panel open. Instead, if a user clicks on a link in the detail panel the panel will close and the page will navigate to the new link location. In other words, the detail panel is limited to a single drill in and any further drilling will open in a full page.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-double-panel.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel on pages that don't make sense without the panel open. For example, when entering grades for your class of students, just showing the names of the students in your class doesn't provide any value without having the grade entry form open as well.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-need-details.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>The detail panel works best when displaying large amounts of supplementary information. In cases where there is a small amount of additional information to display, consider using a <a routerLink="popover">popover</a> or an expandable <a routerLink="repeater">repeater</a> instead of a detail panel.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-small-content.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel to display items that need a considerable amount of time to load, such as a system generated report. Instead, allow the user to continue using the system while the information is generated, and use an alert to let the user know that the content is available.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-long-load.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel to link to external sites. Instead, open the external site in a new tab.  For example, when clicking on a constituent's address, the Google map of that address will open in a new tab.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-external.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<stache-row>
    <stache-column screenSmall="6">
			<p>Do not use the detail panel for tasks where the user will always need to see the full screen view of the details, such as the expanded view of a tile. In these cases, the system should navigate to a full page instead.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/flyout/not-need-full.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
	
	<header><div class="sky-section-heading">Interactions</div></header>
		<div class="sky-subsection-heading">Background page remains active</div>
			<p>The background page is active behind the panel. Clicking on a link for another record in the background page will update the panel to load the new record. This is different than clicking on a link inside the detail panel which will navigate away from the current page.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-bg-active-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Independent scrolling</div>
			<p>The panel and the page scroll independently without clicking. If a user touches, hovers, or focuses on the background page when scrolling, only the background content  will scroll. Similarly, if a user touches, hovers, or focuses on the detail panel when scrolling, only the detail panel will scroll. This allows the user to get to the content they want in the panel without losing any context of the page they are on.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-scroll-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Drag to resize</div>
			<p>The detail panel has a left border which can be clicked and dragged to expand the size of the panel. The panel can be resized anywhere between 320px and the full screen size. When the panel is dragged to the full size of the screen, it will automatically slide back 20px to the right so that a portion of the original page is still in view. The default size of the panel is 50% of the screen (or 320px, whichever is larger). A user can resize the panel, and the system will remember their new preferred size globally.</p>
			<stache-row>
    		<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-2.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenMedium="4">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-resize-3.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Help panel</div>
			<p>The detail panel covers the omnibar, but the help remains visible in the upper right corner of the screen. The help topic should understand that the detail panel is open and provide appropriate guidance based on the context.</p>
			<stache-row>
    		<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-help-1.png" style="width: 100%;" />
					</div>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-help-2.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>

		<div class="sky-subsection-heading">Modal dialog behavior</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When a user takes an action in the detail panel that launches a modal dialog, the modal dialog should cover the entire page.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/ixn-modal.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>
	
	<header><div class="sky-section-heading">Options</div></header>
	
		<div class="sky-subsection-heading">Next/previous row buttons</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When the detail panel is used in a list to view records, there are buttons in the panel toolbar to go to the next record or the previous record. Clicking on the next button will open the record in the next row that shares a type with the list. For example, in a gifts list, if a user has the detail panel open on the constituent record for the first gift in the list, clicking on the next button will open the gift record of the second row in the list. When the next/previous option is turned on, there is a visual indicator on the row in the list to show which row is currently selected.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/opt-arrows.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>		
	
		<div class="sky-subsection-heading">List toolbar</div>
			<stache-row>
				<stache-column screenSmall="6">
					<p>When viewing a list in the detail panel, the toolbar should give users the option to leave the "preview" list and create a new list for further manipulation. Clicking on the create list button will navigate to a new page containing the new list.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/opt-list.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>		

	<header><div class="sky-section-heading">Responsiveness</div></header>
		<div class="sky-subsection-heading">Mobile behavior</div>
			<stache-row>
    		<stache-column screenSmall="6">
					<p>The detail panel should only be used when the screen is larger than 480px because it covers too much of the screen at smaller resolutions, thus losing much of its value.  For smaller screen sizes, the system should navigate directly to the appropriate record or list.</p>
				</stache-column>
				<stache-column screenSmall="6">
					<div class="screenshot screenshot-info">
						<img src="~/assets/img/guidelines/flyout/flyout-mobile.png" style="width: 100%;" />
					</div>
				</stache-column>
			</stache-row>
	
</section>