<sky-demo-page
  pageTitle="Flyout"
  skyuxModule="SkyFlyoutModule"
  packageName="@skyux/flyout"
>

  <sky-demo-page-summary>
    <p>
      The flyout service launches a container over a page's content to display large quantities of supplementary information related to a task. The <sky-code>SkyFlyoutService</sky-code> provider gives flyouts a common look and feel. This service dynamically generates the flyout component and appends it directly to the document's <sky-code>body</sky-code> element. The <sky-code>SkyFlyoutInstance</sky-code> class watches for and triggers flyout events.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Flyout service methods">
    <p>
      The <sky-code>SkyFlyoutService</sky-code> launches flyouts and provides a common look and feel.
    </p>
    <sky-demo-page-property
      propertyName="close()"
      isOptional="true"
    >
      Closes the flyout. This method also removes the flyout's HTML elements from the DOM.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="open(component, config?)"
      isOptional="true"
    >
      Opens a flyout and displays the specified component. The <sky-code>component</sky-code> parameter determines the component to render. <stache-include fileName="components/entry-component.html"></stache-include> The optional <sky-code>config</sky-code> parameter is of type <sky-code>SkyFlyoutConfig</sky-code> and is passed to the specified component's constructor. This method returns a <sky-code>SkyFlyoutInstance</sky-code> object.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyFlyoutConfig type">
    <p>
      Specifies the configuration options to set up a flyout.
    </p>

    <sky-demo-page-property
      propertyName="ariaDescribedBy"
      isOptional="true"
    >
      Sets the flyout's <sky-code>aria-describedby</sky-code> attribute to support accessibility. The value should be the HTML element ID (without the leading <sky-code>#</sky-code>) of the element that describes the flyout. Typically, the description includes text on the flyout but not on items that users interact with such as buttons and forms. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
      Sets the flyout's <sky-code>aria-labelledby</sky-code> attribute to support accessibility. The value should be the HTML element ID (without the leading <sky-code>#</sky-code>) of the element that labels the flyout. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaRole"
      isOptional="true"
    >
      Specifies an ARIA role for the flyout to support accessibility by indicating how the flyout functions and what it controls. The ARIA role indicates what the flyout represents on the web page. For information about ARIA roles, see the <a href="https://www.w3.org/WAI/PF/aria/roles">WAI-ARIA roles model</a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="defaultWidth"
      defaultValue="500"
      isOptional="true"
    >
      Specifies the default width of the flyout container. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorNextButtonDisabled"
      defaultValue="false"
      isOptional="true"
    >
      Disables the next iterator button in the flyout header that accesses the next record in a record set. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorPreviousButtonDisabled"
      defaultValue="false"
      isOptional="true"
    >
      Disables the previous iterator button in the flyout header that accesses the previous record in a record set. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxWidth"
      defaultValue="defaultWidth"
      isOptional="true"
    >
      Specifies the maximum resize width of the flyout container. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minWidth"
      defaultValue="320"
      isOptional="true"
    >
      Specifies the minimum resize width of the flyout container. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="permalink"
      isOptional="true"
    >
      Displays a permalink button in the flyout header that navigates users to the URL (or application route) representative of the flyout's contents. This value is of type <sky-code>SkyFlyoutPermalink</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="providers"
      isOptional="true"
    >
      Specifies an array of custom providers to pass to the component's constructor. This property accepts an array of <sky-code>any</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showIterator"
      defaultValue="false"
      isOptional="true"
    >
      Indicates whether to display iterator buttons in the flyout header to allow users to access the next and previous records in a record set. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyFlyoutPermalink type">
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
    >
      Specifies a text label for the permalink button. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="route"
      isOptional="true"
    >
      Specifies an object that represents the Angular application route. The object includes two properties that are mapped to Angular's <a href="https://angular.io/api/router/Router#navigate"><sky-code>Router.navigate(commands, extras?)</sky-code></a> method.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="url"
      isOptional="true"
    >
      Specifies an external URL for the permalink. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyFlyoutInstance properties">
    <p>
      The <sky-code>SkyFlyoutService</sky-code> launches flyouts and returns a <sky-code>SkyFlyoutInstance</sky-code> object to represent a single displayed flyout.
    </p>
     <sky-demo-page-property
      propertyName="close()"
      isOptional="true"
    >
      Closes the flyout instance and emits its <sky-code>closed</sky-code> event.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="closed"
      isOptional="true"
    >
      An event that the flyout instance emits when it closes.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="componentInstance"
      isOptional="true"
    >
      Specifies the instance of the component to display in the flyout.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isOpen"
      defaultValue="true"
      isOptional="true"
    >
      A <sky-code>boolean</sky-code> value that returns <sky-code>true</sky-code> if the flyout is open.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorNextButtonClick"
      isOptional="true"
    >
      An event that the flyout instance emits when users click the next iterator button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorNextButtonDisabled"
      isOptional="true"
    >
      Disables the next iterator button. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorPreviousButtonClick"
      isOptional="true"
    >
      An event that the flyout instance emits when users click the previous iterator button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorPreviousButtonDisabled"
      isOptional="true"
    >
      Disables the previous iterator button. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-flyout-demo>
    </sky-flyout-demo>
    <sky-demo-page-code
      demoName="Flyout">
    </sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>
      Follow these guidelines to ensure that people can use flyouts with assistive technology or keyboards.
    </p>
    <ul>
      <li>
        When a flyout opens, place focus on the first focusable item. If the flyout does not include focusable items, then place focus on the flyout container element.
      </li>
      <li>
        While a flyout is open, limit focus to elements in the flyout. Do not move focus back to the initiating page behind the flyout. On the last focusable item, the Tab key should return focus to the first focusable item. And on the first focusable item, the Shift+Tab keys should switch focus to the last focusable item.
      </li>
      <li>
        When a flyout closes, return focus to the element that had focus before the flyout opened. This is usually the element that opened the flyout.
      </li>
    </ul>
  </sky-demo-page-content>

  <sky-demo-page-content sectionHeading="UX guidelines">
		<sky-flyout-guidelines></sky-flyout-guidelines>
  </sky-demo-page-content>

</sky-demo-page>
