<sky-demo-page
  pageTitle="Flyout">
  <sky-demo-page-summary>
    <p>
      The flyout service launches a container that lays over the page content to show larger amounts of supplementary information related to the user's task. The <stache-code>SkyFlyoutService</stache-code> provider lauches the flyouts with a common look-and-feel for given inner content. The <stache-code>SkyFlyoutInstance</stache-code> class allows you to watch for and trigger flyout events.
    </p>
    <sky-alert
      alertType="info">
      The flyout component is generated dynamically using the <stache-code>SkyFlyoutService</stache-code> and appended directly to the document's body element.
    </sky-alert>
  </sky-demo-page-summary>

  <sky-demo-page-properties
    sectionHeading="Flyout service methods">
    <sky-demo-page-property
      propertyName="open(component, config?)">
      Opens a flyout using the specified component as the contents of the flyout. The optional <stache-code>config</stache-code> parameter is of type <stache-code>SkyFlyoutConfig</stache-code>, which will be passed to the provided component's constructor. This method returns the flyout instance.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="close()">
      Closes the currently opened flyout. This method also removes the flyout's respective HTML elements from the DOM.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="SkyFlyoutConfig type">

    <sky-demo-page-property
      propertyName="providers"
      isOptional="true">
      An array of custom providers to be passed to the content component's constructor.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="ariaRole"
      isOptional="true">
      Sets the <stache-code>role</stache-code> attribute for the flyout for accessibility support.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true">
      Sets the <stache-code>aria-labelledby</stache-code> attribute for the flyout for accessibility support. The value should be an HTML element ID (without the leading <stache-code>#</stache-code>) pointing to the element that labels your flyout.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="ariaDescribedBy"
      isOptional="true">
      Sets the <stache-code>aria-describedby</stache-code> attribute for the flyout for accessibility support. The value should be an HTML element ID (without the leading <stache-code>#</stache-code>) pointing to the element that describes your flyout. Typically, this will be the text on your flyout, but does not include something the user would interact with, like buttons or a form.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Flyout instance properties">
     <sky-demo-page-property
      propertyName="close()">
      Closes the flyout instance. The <stache-code>closed</stache-code> event of the flyout instance will be emmitted.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="componentInstance">
      The instance of the component that makes up the contents of the opened flyout.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Flyout instance events">
    <sky-demo-page-property
      propertyName="closed">
      An event that is emitted by the flyout instance when it is closed.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-flyout-demo>
    </sky-flyout-demo>
    <sky-demo-page-code
      demoName="Flyout">
    </sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content
    sectionHeading="Accessibility">
    <p>
      Follow these guidelines to ensure that people can use flyouts with assistive technology or keyboards.
    </p>
    <ul>
      <li>
        When a flyout opens, focus should be on the first focusable item in the flyout. If the flyout does not include focusable items, then focus should be on the flyout container element.
      </li>
      <li>
        While a flyout is open, focus should remain on elements in the flyout when using Tab key to navigate. Focus should not move back to the initiating page behind the flyout. At the end of the flyout, the Tab key should return focus to the first focusable item in the flyout. Conversely, at the top of the flyout, the Shift+Tab keys should switch focus to the last focusable item in the flyout.
      </li>
      <li>
        When a flyout closes, focus should return to the element that had focus before the flyout opened. Usually this is the element that opened the flyout.
      </li>
    </ul>
  </sky-demo-page-content>

  <sky-demo-page-content
    sectionHeading="UX guidelines">
  	<h3 class="sky-subsection-heading">
      Flyout
    </h3>

    <p>
      A flyout is appropriate for content that meet any of the following criteria:
    </p>

    <ul>
      <li>
        When opening records in lists to allow a user to return to the list view after completing a quick task on the record page
      </li>
      <li>
        When drilling into an analytical insight to allow a user to quickly glance into what makes up that insight without spawning another workflow
      </li>
      <li>
        When drilling into child records to allow a user to retain the context of the parent record
      </li>
    </ul>

    <p>
      A flyout is not appropriate for content that meet any of the following criteria:
    </p>

    <ul>
      <li>
        When navigating from one record to another instance of the same record type
      </li>
      <li>
        When navigating from a child page back to the parent page
      </li>
      <li>
        When there is already a detail panel open
      </li>
      <li>
        When the page would not make sense without the panel open
      </li>
      <li>
        When there is only a small amount of supplementary information to display
      </li>
      <li>
        When displaying items that need a considerable amount of time to load, such as a system generated report
      </li>
      <li>
        When linking to external sites
      </li>
      <li>
        When opening a task where the user will always need to see the full screen view of the details
      </li>
      <li>
        When the screen size is 480px or smaller
      </li>
    </ul>
  </sky-demo-page-content>

</sky-demo-page>
