<sky-demo-page
  pageTitle="List View Grid"
  skyuxModule="SkyListViewGridModule"
  packageName="@skyux/list-builder-view-grids"
>

  <sky-demo-page-summary>
    <p>
      The list view grid component displays a grid for a SKY UX-themed list of data. It is designed for use within <a routerLink="../overview">a list component</a>. Internally, the <sky-code>sky-list-view-grid</sky-code> uses <a routerLink="../../grid">the <sky-code>sky-grid</sky-code> component</a>, which contains documentation for <sky-code>sky-grid-column</sky-code>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="List view grid properties">
    <sky-demo-page-property
      propertyName="name"
      [isOptional]="false"
    >
    Specifies the name of the view. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="displayedColumns"
      isOptional="true"
    >
    Specifies the columns to display by default based on the ID or field of the item. This property accepts an array or Observable array of <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="enableMultiselect"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to enable the multiselect feature to display a column of checkboxes on the left side of the grid. Multiselect also displays an action bar with buttons to select and clear all checkboxes. You can specify a unique ID with the <sky-code>multiselectRowId</sky-code> property, but multiselect defaults to the <sky-code>id</sky-code> property on the list's <sky-code>data</sky-code> object. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="fit"
      defaultValue="width"
      isOptional="true"
    >
    Specifies how the grid fits to its parent. The valid options are <sky-code>width</sky-code>, which fits the grid to the parent's full width, and <sky-code>scroll</sky-code>, which allows the grid to exceed the parent's width. If the grid does not have enough columns to fill the parent's width, it always stretches to the parent's full width. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="height"
      isOptional="true"
    >
    Specifies the height of the grid. This property accepts <sky-code>number</sky-code> or <sky-code>Observable number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hiddenColumns"
      isOptional="true"
    >
    Specifies the columns to hide by default based on the ID or field of the item. This property accepts an array or Observable array of <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="highlightSearchText"
      defaultValue="true"
      isOptional="true"
    >
    Indicates whether to highlight search text within the grid. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="multiselectRowId"
      isOptional="true"
    >
    Specifies a unique ID that matches a property on the <sky-code>data</sky-code> object. By default, this property uses the <sky-code>id</sky-code> property. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="rowHighlightedId"
      isOptional="true"
    >
    Specifies the ID of the row to highlight. The ID matches the <sky-code>id</sky-code> property of the <sky-code>data</sky-code> object. Typically, this property is used in conjunction with the flyout component to indicate the currently selected row. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="search"
      isOptional="true"
    >
    Specifies a search function to apply on the view data. This property accepts values of type <sky-code>(data: any, searchText: string) => boolean</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="settingsKey"
      isOptional="true"
    >
    Specifies a unique key for the UI Config Service to retrieve stored settings from a database. The UI Config Service saves configuration settings for users and returns <sky-code>selectedColumnIds</sky-code> to preserve their preferred column order and the sorting of columns. This property accepts <sky-code>string</sky-code> values. This property is for internal Blackbaud use only. For Blackbaud developers, the UI Config Service website describes how to <a href="https://docs.blackbaud.com/ui-config-service-docs/learn/integrations/skyux-components/grids">apply sticky settings to grids</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="width"
      isOptional="true"
    >
    Specifies the width of the grid. This property accepts <sky-code>number</sky-code> or <sky-code>Observable number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List view grid events">
    <p>
      When the multiselect feature is enabled and the selected checkboxes change, <a stacheRouterLink="components/list/overview">the list component's</a> <sky-code>selectedIdsChange</sky-code> event emits a <sky-code>Map string, boolean</sky-code> object to indicate the selected items. This differs from multiselect behavior in <a stacheRouterLink="components/grid">the grid component</a> where the <sky-code>multiselectSelectionChange</sky-code> event emits an array of IDs for the selected rows when the selection changes. 
    </p>
    <sky-demo-page-property
      propertyName="selectedColumnIdsChange"
    >
    Fires when columns change. This includes changes to hide or display columns and changes to the order of columns. The event emits an array of IDs for the displayed columns that reflects the column order.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List column selector action properties">
    <p>
      The <sky-code>sky-list-column-selector-action</sky-code> component provides a column selector modal for a list grid view when placed in a <sky-code>sky-list-toolbar</sky-code> component. For information the toolbar component, see <a stacheRouterLink="components/list/toolbar">the list toolbar</a>.
    </p>
    <p>
      <sky-code>SkyListViewGridModule</sky-code> includes this component along with <sky-code>sky-list-view-grid</sky-code>.
    </p>
    <sky-demo-page-property
      propertyName="gridView"
    >
    Enables the column selector in the list toolbar. The attribute must be set to the instance of the <sky-code>sky-grid-view</sky-code> component using the component's template reference variable.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="helpKey"
      isOptional="true"
    >
    Specifies a <sky-code>helpKey</sky-code> string. This property dispays the <i class="fa fa-question-circle" aria-hidden="true"></i> button in the grid header. When users click this button, the <sky-code>helpOpened</sky-code> event broadcasts the <sky-code>helpKey</sky-code> parameter.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List column selector action events">
    <sky-demo-page-property
      propertyName="helpOpened"
    >
    Fires when users click the <i class="fa fa-question-circle" aria-hidden="true"></i> button and broadcasts the <sky-code>helpKey</sky-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-list-view-grid-demo></sky-list-view-grid-demo>
    <sky-demo-page-code demoName="List view grid"></sky-demo-page-code>
  </sky-demo-page-example>
	
	<sky-demo-page-content sectionHeading="UX guidelines">
	
	<stache-include fileName="components/grid-ux-guidelines.html"></stache-include>

	<sky-row>
		<sky-column screenSmall="4" screenMedium="3">
			<header><div class="sky-section-heading">Related components</div></header>
			<ul>
				<li><a routerLink="/components/card">Card</a></li>
				<li><a routerLink="/components/grid">Grid</a></li>
				<li><a routerLink="/components/list/overview">List</a></li>
				<li><a routerLink="/components/list/filters">List filters</a></li>
				<li><a routerLink="/components/list/paging">List paging</a></li>
				<li><a routerLink="/components/list/toolbar">List toolbar</a></li>
				<li><a routerLink="/components/repeater">Repeater</a></li>
				<li><a routerLink="/components/summary-actionbar">Summary action bar</a></li>
			</ul>
		</sky-column>		
		<sky-column screenSmall="4" screenMedium="3">
			<header><div class="sky-section-heading">Related guidelines</div></header>
			<ul>
				<li><a routerLink="/design/guidelines/page-layouts">Page layout</a></li>
			</ul>
		</sky-column>
	</sky-row>
    
  </sky-demo-page-content>

</sky-demo-page>
