<sky-demo-page
  pageTitle="Repeater"
  skyuxModule="SkyRepeaterModule"
  packageName="@skyux/lists"
>

  <sky-demo-page-summary>
    The repeater component creates a container to display information for a list of objects. A repeater list is particularly effective as an alternative to a grid layout in mobile-intensive contexts and other scenarios that require the compact display of information. Within the <sky-code>sky-repeater</sky-code> component, the <sky-code>sky-repeater-item</sky-code> component creates individual repeater items. Within the repeater items, the <sky-code>sky-repeater-item-title</sky-code> component displays a header, the <sky-code>sky-repeater-item-content</sky-code> component displays content text when the repeater is expanded, and the <sky-code>sky-repeater-item-context-menu</sky-code> wraps and styles <a stacheRouterLink="/components/dropdown">a <sky-code>sky-dropdown</sky-code> component</a>.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Repeater properties">
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expandMode"
    >
    Specifies a layout for the repeater list to indicate whether users can collapse and expand repeater items. Items in a collapsed state display titles only. The valid options are <sky-code>multiple</sky-code>, <sky-code>none</sky-code>, and <sky-code>single</sky-code>.
    <ul>
      <li>
        <sky-code>multiple</sky-code> loads all repeater items in a collapsed state and allows users to expand and collapse them. This layout provides a more compact view but still allows users to expand as many repeater items as necessary. It is best-suited to repeater items where the most important information is in the titles and users only occasionally need to view body content.
      </li>
      <li>
        <sky-code>none</sky-code> loads all repeater items in an expanded state and does not allow users to collapse them. This standard layout provides the quickest access to the details in the repeater items. It is best-suited to repeater items with concise content that users need to view frequently.
      </li>
      <li>
        <sky-code>single</sky-code> loads all repeater items in a collapsed state and allows users to expand one item at a time. This layout provides the most compact view because users can only expand one repeater item at a time. It is best-suited to repeater items where the most important information is in the titles and users only occasionally need to view the body content of one repeater item at a time.
      </li>
    </ul>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="activeIndex"
      isOptional="true"
    >
    Specifies the index of the active repeater item. Only one item can be active at a time. This property accepts <sky-code>number</sky-code> values.
  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="Repeater item properties">
    <sky-demo-page-property
      propertyName="inlineFormConfig"
      isOptional="true"
    >
    Specifies configuration options for the buttons to display on an inline form within the repeater. This property accepts <a stacheRouterLink="/components/inline-form" fragment="skyinlineformconfig-properties">a <sky-code>SkyInlineFormConfig</sky-code> object</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="inlineFormTemplate"
      isOptional="true"
    >
    Specifies a template to use to instantiate an inline form within the repeater. This property accepts <a href="https://angular.io/api/core/TemplateRef">an Angular <sky-code>TemplateRef</sky-code> class</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isExpanded"
      isOptional="true"
      defaultValue="true"
    >
    Indicates whether the repeater item is expanded. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isSelected"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the repeater item's checkbox is selected. When users select the repeater item, the specified property on your model is updated accordingly. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectable"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to display a checkbox in the left of the repeater item. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showInlineForm"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to display an inline form within the repeater. Users can toggle between displaying and hiding the inline form. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="Repeater item events">
    <sky-demo-page-property
      propertyName="collapse"
      isOptional="true"
    >
    Fires when users collapse the repeater item.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expand"
      isOptional="true"
    >
    Fires when users expand the repeater item.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="inlineFormClose"
      isOptional="true"
    >
    Fires when the repeater includes an inline form and users close it. This event emits <a stacheRouterLink="/components/inline-form" fragment="skyinlineformcloseargs-properties">a <sky-code>SkyInlineFormCloseArgs</sky-code> type</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-repeater-demo></sky-repeater-demo>
    <sky-demo-page-code demoName="Repeater"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
