<sky-demo-page
  pageTitle="Numeric"
  skyuxModule="SkyNumericModule"
  packageName="@skyux/core"
>

  <sky-demo-page-summary>
    <p>
      The numeric pipe formats numbers to shorten values of 1000 or more to rounded numbers and abbreviation characters such as K for thousands, M for millions, B for billions, and T for trillion. The pipe can also format shortened number as currency, with proper localization and currency symbol placement.
    </p>
    <p>
      Pipe usage: <sky-code>number_expression | skyNumeric[:NumericOptions] ]]</sky-code>
    </p>
    <sky-alert alertType="warning">
      When you create a <sky-code>NumericOptions</sky-code> object in the template, you MUST have the space between the closing bracket for the object and the closing brackets for the pipe or it won't work. For examples, see the HTML code sample below.
    </sky-alert>
    <p>
      You can also import <sky-code>SkyNumericService</sky-code> and call the <sky-code>formatNumber</sky-code> method. The method uses a <sky-code>NumericOptions</sky-code> class that includes arguments to format the number. You create a new instance of the class with its parameters set and pass it in as the <sky-code>NumericOptions</sky-code> parameter.
    </p>
    <p>
      Method usage: <sky-code>this.skyNumeric.formatNumber(value, NumericOptions)</sky-code>
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="value"
    >
    Specifies the number to format. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="Numeric Options"
      isOptional="true"
    >
    Specifies the <sky-code>NumericOptions</sky-code> object that provides arguments for the number to format.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="NumericOptions properties">
    <sky-demo-page-property
      propertyName="digits"
      defaultValue="1"
      isOptional="true"
    >
    Specifies the maximum number of digits after the decimal separator. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="format"
      defaultValue="number"
      isOptional="true"
    >
    Specifies how to format the number. Options are <sky-code>currency</sky-code> or <sky-code>number</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iso"
      isOptional="true"
    >
    Specifies the ISO4217 currency code to use for currency formatting. If you do not specify a currency code, the component uses the browser's culture to determine the currency unless your SPA provides a different culture with <sky-code>SkyAppLocaleProvider</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDigits"
      defaultValue="0"
      isOptional="true"
    >
    Specifies the minimum number of digits after the decimal separator. This property only applies when the <sky-code>truncate</sky-code> property is set to <sky-code>false</sky-code>. If <sky-code>digits</sky-code> specifies a maximum number of digits, then <sky-code>minDigits</sky-code> must be less than that value. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="truncate"
      defaultValue="true"
      isOptional="true"
    >
    Indicates whether to shorten numbers to rounded numbers and abbreviation characters such as K for thousands, M for millions, B for billions, and T for trillion. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="truncateAfter"
      defaultValue="1000"
      isOptional="true"
    >
    Specifies the starting point after which numbers are shortened to rounded numbers and abbreviation characters. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-numeric-demo></sky-numeric-demo>
    <sky-demo-page-code demoName="Numeric"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
