<sky-demo-page
  pageTitle="Datepicker"
  skyuxModule="SkyDatepickerModule"
  packageName="@skyux/datetime"
>

  <sky-demo-page-summary>
    The datepicker module contains directives to let users select dates.  It is a SKY UX-themed replacement for the HTML <sky-code>input</sky-code> element with <sky-code>type="date"</sky-code>. The value that users select is driven through the <sky-code>ngModel</sky-code> attribute specified on the <sky-code>input</sky-code> element.

    <p>
      To use the datepicker module, you must install <sky-code>SkyPopoverModule</sky-code> as a dependency to your project. For information on <sky-code>SkyPopoverModule</sky-code>, see <a routerLink="/components/popover">Popover module</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Datepicker input directive properties">
    <sky-demo-page-property
      propertyName="skyDatepickerInput"
    >
      Creates the datepicker input and calendar. Place this directive on an <sky-code>input</sky-code> element, and wrap the input in a <sky-code>sky-datepicker</sky-code> component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY"
    >
      Specifies the date format for the input. Place this attribute on the <sky-code>input</sky-code> element to override the default date format in <sky-code>SkyDatepickerConfigService</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false">
      Indicates whether to disable the datepicker. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxDate"
      isOptional="true">
      Specifies the maximum selectable date in the calendar. Place this attribute on the <sky-code>input</sky-code> element to override the default maximum in <sky-code>SkyDatepickerConfigService</sky-code>. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDate"
      isOptional="true"    >
      Specifies the minimum selectable date in the calendar. Place this attribute on the <sky-code>input</sky-code> element to override the default minimum in <sky-code>SkyDatepickerConfigService</sky-code>. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyDatepickerNoValidate"
      isOptional="true"
      defaultValue="false">
      Indicates whether to prevent validation on the datepicker input. When set to <sky-code>true</sky-code>, date validation does not run on the input. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startingDay"
      isOptional="true"
      defaultValue="0">
      Specifies the starting day of the week in the calendar, where <sky-code>0</sky-code> sets the starting day to Sunday. Place this attribute on the <sky-code>input</sky-code> element to override the default starting day in <sky-code>SkyDatepickerConfigService</sky-code>. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDatepickerConfigService properties">
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY">
      Specifies the date format for the input. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxDate"
      isOptional="true">
      Specifies the maximum selectable date in the calendar. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDate"
      isOptional="true"    >
      Specifies the minimum selectable date in the calendar. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startingDay"
      isOptional="true"
      defaultValue="0">
      Specifies the starting day of the week in the calendar, where <sky-code>0</sky-code> sets the starting day to Sunday. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-datepicker-demo></sky-datepicker-demo>
    <sky-demo-page-code
      demoName="Datepicker">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
