<sky-tabbed-demo-page
  pageTitle="Datepicker"
>

  <sky-demo-page-summary>
    The datepicker module contains directives to create an input and calendar for users to select dates or fuzzy dates.
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-datepicker-demo></sky-datepicker-demo>
    <sky-fuzzy-datepicker-demo></sky-fuzzy-datepicker-demo>
  </sky-demo-page-example>

<sky-tabset id="content-tabs">

	<sky-tab
		tabHeading="Design">
	<sky-demo-page-content sectionHeading="Usage">
	<h3 class="sky-text-success">Use when</h3>
    <p class="sky-docs-text-block">Use datepickers when users need to enter valid dates.</p>
  </sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Anatomy">
		<sky-docs-anatomy imagePath="~/assets/img/guidelines/datepicker/anatomy.png">
      <sky-docs-anatomy-item>Input field</sky-docs-anatomy-item>
      <sky-docs-anatomy-item>Picker button</sky-docs-anatomy-item>
      <sky-docs-anatomy-item>Picker</sky-docs-anatomy-item>
    </sky-docs-anatomy>
	</sky-demo-page-content>

	<sky-demo-page-content sectionHeading="Options">
		<h3>Fuzzy dates</h3>
      <div class="sky-docs-text-block">
        <p>Fuzzy dates allow users to specify dates that are not complete. They enable partial dates when users are unsure of the complete date. For example, if users know the year but not the month or day, they can enter just the year. Supported formats include:</p>
        <ul>
          <li>Month, day, and year</li>
          <li>Month and day</li>
          <li>Month and year</li>
          <li>Year only</li>
        </ul>
      </div>
		<h3>Minimum and maximum dates</h3>
			<p class="sky-docs-text-block">You can specify minimum or maximum dates to prevent users from specifying dates before or after those thresholds.</p>
	</sky-demo-page-content>

	<sky-demo-page-content sectionHeading="Behavior & states">
		<h3>Month string conversion for fuzzy dates</h3>
			<sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>If users enter months as text instead of numbers, the datepicker converts the text to numbers when the datepicker loses focus.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img src="~/assets/img/guidelines/datepicker/behavior-fuzzy-text.png" />
				</sky-docs-visual-example-image>
			</sky-docs-visual-example>
		<h3>States</h3>
    <sky-demo-page-component-states>
      <sky-demo-page-component-state stateName="Blank" imagePath="~/assets/img/guidelines/datepicker/state-blank.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Picker" imagePath="~/assets/img/guidelines/datepicker/state-picker.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Date entered" imagePath="~/assets/img/guidelines/datepicker/state-filled.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Error" imagePath="~/assets/img/guidelines/datepicker/state-error.png"></sky-demo-page-component-state>
    </sky-demo-page-component-states>

	</sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Related information">
		<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/date-range-picker">Date range picker</a></li>
			</ul>
	</sky-demo-page-content>

  </sky-tab>

  <sky-tab
		tabHeading="Development">

	<sky-demo-page-module-info
		skyuxModule="SkyDatepickerModule"
    packageName="@skyux/datetime"
    githubRepo="skyux-datetime"
	>
  </sky-demo-page-module-info>

  <p>
    To use the datepicker module, you must install <sky-code>SkyPopoverModule</sky-code> as a dependency to your project. For more information, see the <a routerLink="/components/popover">popover module</a>.
  </p>

  <sky-demo-page-properties sectionHeading="Datepicker input directive properties">
    <sky-demo-page-property
      propertyName="skyDatepickerInput"
    >
      Creates the datepicker input and calendar. Place this directive on an <sky-code>input</sky-code> element, and wrap the input in a <sky-code>sky-datepicker</sky-code> component. The value that users select is driven through the <sky-code>ngModel</sky-code> attribute specified on the <sky-code>input</sky-code> element.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY"
    >
      Specifies the date format for the input. Place this attribute on the <sky-code>input</sky-code> element to override the default date format in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false">
      Indicates whether to disable the datepicker. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxDate"
      isOptional="true">
      Specifies the latest date that is available in the calendar. Place this attribute on the <sky-code>input</sky-code> element to override the default in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDate"
      isOptional="true"    >
      Specifies the earliest date that is available in the calendar. Place this attribute on the <sky-code>input</sky-code> element to override the default in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyDatepickerNoValidate"
      isOptional="true"
      defaultValue="false">
      Indicates whether to disable date validation on the datepicker input. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startingDay"
      isOptional="true"
      defaultValue="0">
      Specifies the starting day of the week in the calendar, where <sky-code>0</sky-code> sets the starting day to Sunday. Place this attribute on the <sky-code>input</sky-code> element to override the default starting day in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="strict"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether the format of the date value must match the format from the <sky-code>dateFormat</sky-code> value. If this property is <sky-code>true</sky-code> and the datepicker input directive cannot find an exact match, then the input is marked as invalid. If this property is <sky-code>false</sky-code> and the datepicker input directive cannot find an exact match, then it attempts to format the string based on the <a href="https://www.iso.org/iso-8601-date-and-time-format.html">ISO 8601 standard format</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Fuzzy datepicker input directive properties">
    <sky-demo-page-property
      propertyName="skyFuzzyDatepickerInput"
    >
      Creates the fuzzy datepicker input and calendar to let users specify dates that are not complete. For example, if users know the year but not the month or day, they can enter just the year. Place this directive on an <sky-code>input</sky-code> element, and wrap the input in a <sky-code>sky-datepicker</sky-code> component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY">
      Specifies the date format for the input. Place this attribute on the <sky-code>input</sky-code> element to override the default date format in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false">
      Indicates whether to disable the datepicker. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="futureDisabled"
      isOptional="true"
      defaultValue="false">
      Indicates whether to prevent users from specifying dates that are in the future. Place this attribute on the <sky-code>input</sky-code> element. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxDate"
      isOptional="true">
      Specifies the latest fuzzy date allowed. Place this attribute on the <sky-code>input</sky-code> element to prevent fuzzy dates after a specified date. This property accepts <a stacheRouterLink="." fragment="skyfuzzydate-properties">a <sky-code>SkyFuzzyDate</sky-code> value</a> that includes numeric month, day, and year values. For example: <sky-code>&#123; month&#58; 1, day&#58; 1, year&#58; 2027 &#125;</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDate"
      isOptional="true"    >
      Specifies the earliest fuzzy date allowed. Place this attribute on the <sky-code>input</sky-code> element to prevent fuzzy dates before a specified date. This property accepts <a stacheRouterLink="." fragment="skyfuzzydate-properties">a <sky-code>SkyFuzzyDate</sky-code> value</a> that includes numeric month, day, and year values. For example: <sky-code>&#123; month&#58; 1, day&#58; 1, year&#58; 2007 &#125;</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyDatepickerNoValidate"
      isOptional="true"
      defaultValue="false">
      Indicates whether to disable date validation on the fuzzy datepicker input. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startingDay"
      isOptional="true"
      defaultValue="0">
      Specifies the starting day of the week in the calendar, where <sky-code>0</sky-code> sets the starting day to Sunday. Place this attribute on the <sky-code>input</sky-code> element to override the default starting day in <a stacheRouterLink="." fragment="skydatepickerconfigservice-properties"><sky-code>SkyDatepickerConfigService</sky-code></a>. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="yearRequired"
      isOptional="true"
      defaultValue="false">
      Indicates whether to require the year in fuzzy dates. This property accepts a <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDatepickerConfigService properties">
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY">
      Specifies the date format for the input. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="maxDate"
      isOptional="true">
      Specifies the latest selectable date that is available in the calendar. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="minDate"
      isOptional="true"    >
      Specifies the earliest selectable date that is available in the calendar. This property accepts <sky-code>Date</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startingDay"
      isOptional="true"
      defaultValue="0">
      Specifies the starting day of the week in the calendar, where <sky-code>0</sky-code> sets the starting day to Sunday. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyFuzzyDate properties">
    <sky-demo-page-property
      propertyName="day"
      isOptional="true">
      Specifies the day in a fuzzy date, where <sky-code>1</sky-code> sets the day to the first day of the specified month. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="month"
      isOptional="true">
      Specifies the month in a fuzzy date, where <sky-code>1</sky-code> sets the month to January. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="year"
      isOptional="true">
      Specifies the year in a fuzzy date. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-datepicker-demo></sky-datepicker-demo>
    <sky-fuzzy-datepicker-demo></sky-fuzzy-datepicker-demo>
    <sky-demo-page-code
      demoName="Datepicker">
    </sky-demo-page-code>
  </sky-demo-page-example>

  </sky-tab>
</sky-tabset>

</sky-tabbed-demo-page>
