<sky-tabbed-demo-page
  pageTitle="Popover"
>

  <sky-demo-page-summary>
    The popover module allows you to display contextual content when users interact with an element on a page. The content can be plain text, HTML, or an Angular component.
  </sky-demo-page-summary>
	
	<sky-demo-page-example>
    <sky-popover-demo>
    </sky-popover-demo>
  </sky-demo-page-example>

<sky-tabset id="content-tabs">
	
	<sky-tab
		tabHeading="Design">
	
		<sky-demo-page-content sectionHeading="Usage">
			<h3>Use when</h3>
				<p>You need to give users access to small pieces of contextual content that are not always valuable to see.</p>
				<p>You need to guide users toward subtle-but-important elements when tasks include complex or unfamiliar capabilities.</p>
			<h3>Don't use when</h3>
				<p>The content is valuable to see most of the time. Use <a routerLink="/design/guidelines/user-assistance" fragment="persistent-inline-help">presistent inline help</a> instead.</p>
				<p>You need to show a large amount of content. Use a <a routerLink="/components/flyout">flyout</a> instead.</p>
		</sky-demo-page-content>
		
		<sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-two-col-example>
        <sky-docs-two-col-example-text>
          <sky-docs-anatomy-item anatomyNumber="1">Content area</sky-docs-anatomy-item>
          <sky-docs-anatomy-item anatomyNumber="2">Highlight border</sky-docs-anatomy-item>
          <sky-docs-anatomy-item anatomyNumber="3">Element pointer</sky-docs-anatomy-item>
        </sky-docs-two-col-example-text>
        <sky-docs-two-col-example-image>
          <div class="screenshot">
            <img src="~/assets/img/guidelines/popover/anatomy.png" />
          </div>
        </sky-docs-two-col-example-image>
      </sky-docs-two-col-example>
		</sky-demo-page-content>
		
		<sky-demo-page-content sectionHeading="Options">
			<h3>Positioning</h3>
			<sky-docs-two-col-example>
        <sky-docs-two-col-example-text>
          <p>You can specify the position of the popover in relation to the element it is pointing to. The default position is above and centered on the element.</p>
        </sky-docs-two-col-example-text>
        <sky-docs-two-col-example-image>
          <div class="screenshot">
						<img src="~/assets/img/guidelines/popover/option-position.png" />
					</div>
        </sky-docs-two-col-example-image>
      </sky-docs-two-col-example>
			<h3>Trigger</h3>
      <sky-docs-two-col-example>
        <sky-docs-two-col-example-text>
          <p>
						To ensure usability on touch devices, trigger user-invoked popovers on <stache-code>click</stache-code> rather than <stache-code>mouseenter</stache-code>.
					</p>
					<p>
						You can programatically invoke popovers, for example the first time a user visits a page to call out an important interface element that is easily overlooked. However, don't programatically invoke more than one popover on a page or they will lose effectiveness at drawing attention.
					</p>
        </sky-docs-two-col-example-text>
        <sky-docs-two-col-example-image>
          <div class="sky-deemphasized">Placeholder for animation of triggers</div>
        </sky-docs-two-col-example-image>
      </sky-docs-two-col-example>
		</sky-demo-page-content>
			
		<sky-demo-page-content sectionHeading="Behavior & states">
			<h3>Closing</h3>
				<div class="sky-text-block">Popovers close when the user clicks on or focuses an element outside the popover.</div>
			
			<h3>Responsiveness</h3>
        <sky-docs-two-col-example>
          <sky-docs-two-col-example-text>
            <p>
						  If the popover doesn't fit in the viewport in its current position it will automatically try to reposition itself so that it fits. If it does not fit in any position it will convert itself into a modal overlaying the page.
            </p>
          </sky-docs-two-col-example-text>
          <sky-docs-two-col-example-image>
            <div class="screenshot">
              <img src="~/assets/img/guidelines/popover/behavior-responsive.png" />
            </div>
          </sky-docs-two-col-example-image>
        </sky-docs-two-col-example>
      </sky-demo-page-content>
		
		<sky-demo-page-content sectionHeading="Content">
			<sky-docs-two-col-example>
          <sky-docs-two-col-example-text>
           <p>
              Keep the amount of content in a popover small. The content can be simple text or formatted HTML.
            </p>
            <p>
              Don't include too much content, form inputs or complex interactions.
            </p>
          </sky-docs-two-col-example-text>
          <sky-docs-two-col-example-image>
            <div class="screenshot screenshot-success sky-margin-stacked-content-section">
              <img src="~/assets/img/guidelines/popover/content-simple.png" />
              <div class="caption sky-text-success">You can use small amounts of plain text content.</div>
            </div>
            <div class="screenshot screenshot-success sky-margin-stacked-content-section">
              <img src="~/assets/img/guidelines/popover/content-html.png" />
              <div class="caption sky-text-success">You can use small amounts of formatted HTML content.</div>
            </div>
            <div class="screenshot screenshot-danger">
              <img class="bordered" src="~/assets/img/guidelines/popover/content-dont-overload.png" />
              <div class="caption sky-text-danger">Don't include large amounts of content.</div>
            </div>
          </sky-docs-two-col-example-image>
        </sky-docs-two-col-example>
		  </sky-demo-page-content>
		
		<sky-demo-page-content sectionHeading="Layout">
      <sky-docs-two-col-example>
        <sky-docs-two-col-example-text>
          <p>In most cases, use the default “above” placement for Popovers. This minimizes the chances that the Popover will obscure content that a user hasn’t seen yet or will interact with next.</p>
          <p>Use other placement options if the trigger for the Popover will be close to the edge of the display. Choose a placement that will obscure as little other content as possible.</p>
        </sky-docs-two-col-example-text>
        <sky-docs-two-col-example-image>
          <div class="screenshot sky-margin-stacked-content-section">
						<img src="~/assets/img/guidelines/popover/layout-alternate.png" />
					</div>
        </sky-docs-two-col-example-image>
      </sky-docs-two-col-example>
		</sky-demo-page-content>			
			
		<sky-demo-page-content sectionHeading="See more">
			<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/help-inline">Flyout</a></li>
				<li><a routerLink="/components/help-inline">Inline help</a></li>
			</ul>
			<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/content-containers">Content containers</a></li>
				<li><a routerLink="/design/guidelines/user-assistance">User assistance</a></li>
			</ul>
		</sky-demo-page-content>
		
	</sky-tab>
	
	<sky-tab
		tabHeading="Development">
		
	<sky-demo-page-module-info
		skyuxModule="SkyPopoverModule"
  	packageName="@skyux/popovers"
    githubRepo="skyux-popovers"
	>
	</sky-demo-page-module-info>
	
  <sky-demo-page-properties sectionHeading="Popover trigger directive properties">
    <sky-demo-page-property
      propertyName="skyPopover"
    >
    References the popover component to display. Add this directive to the trigger element that opens the popover.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyPopoverAlignment"
      defaultValue="center"
      isOptional="true"
    >
    Specifies the horizontal alignment of the popover in relation to the trigger element. Available values are <stache-code>left</stache-code>, <stache-code>right</stache-code>, and <stache-code>center</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyPopoverMessageStream"
      isOptional="true"
    >
    Provides an observable to send commands to the popover. The commands should respect <a stacheRouterLink="." fragment="skypopovermessage-type">the <stache-code>SkyPopoverMessage</stache-code> type</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyPopoverPlacement"
      defaultValue="above"
      isOptional="true"
    >
    Specifies the placement of the popover in relation to the trigger element. Available values are <stache-code>above</stache-code>, <stache-code>below</stache-code>, <stache-code>left</stache-code>, and <stache-code>right</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyPopoverTrigger"
      defaultValue="click"
      isOptional="true"
    >
    Specifies the user action that displays the popover. Available values are <stache-code>click</stache-code> and <stache-code>mouseenter</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Popover component properties">
    <sky-demo-page-property
      propertyName="#<popover-reference-name>"
    >
    Specifies a template reference variable for the popover component. The <stache-code>[skyPopover]</stache-code> directive uses this variable to reference the popover component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="alignment"
      defaultValue="center"
      isOptional="true"
    >
    The <stache-code>skyPopoverAlignment</stache-code> property on the trigger element overwrites this property. It specifies the horizontal alignment of the popover in relation to the trigger element. Available values are <stache-code>left</stache-code>, <stache-code>right</stache-code>, and <stache-code>center</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissOnBlur"
      defaultValue="true"
      isOptional="true"
    >
    Indicates whether to close the popover when it loses focus. To require users to click a trigger button to close the popover, set this input to <stache-code>false</stache-code>. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="placement"
      defaultValue="above"
      isOptional="true"
    >
    The <stache-code>skyPopoverPlacement</stache-code> property on the trigger element overwrites this property. It specifies the placement of the popover in relation to the trigger element. Available values are <stache-code>above</stache-code>, <stache-code>below</stache-code>, <stache-code>left</stache-code>, and <stache-code>right</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="popoverTitle"
      isOptional="true"
    >
    Specifies a title for the popover. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Popover component events">
    <sky-demo-page-property
      propertyName="popoverClosed"
    >
    Fires when users close the popover.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="popoverOpened"
    >
    Fires when users open the popover.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyPopoverMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true">
      Sets <stache-code>SkyPopoverMessage</stache-code> to one of the following types:
      <ul>
        <li>
          <stache-code>SkyPopoverMessageType.Close</stache-code> &mdash; Closes the popover.
        </li>
        <li>
          <stache-code>SkyPopoverMessageType.Open</stache-code> &mdash; Opens the popover.
        </li>
        <li>
          <stache-code>SkyPopoverMessageType.Reposition</stache-code> &mdash; Repositions the popover to the appropriate position. This is useful for when the popover’s width and height change while it is open.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>


  <sky-demo-page-example>
    <sky-popover-demo>
    </sky-popover-demo>
    <sky-demo-page-code demoName="Popover">
    </sky-demo-page-code>
  </sky-demo-page-example>
		
	</sky-tab>

</sky-tabset>

</sky-tabbed-demo-page>
