<stache
  layout="container"
  showTableOfContents="true"
  [pageTitle]="pageTitle">

  <stache-page-summary>
    <h4 *ngIf="skyuxModulesForDisplay">
      <span class="sky-field-label">Defined in</span>
      <span *ngFor="let moduleName of skyuxModulesForDisplay">
        <stache-code>{{ moduleName }}</stache-code>
      </span>
      <ng-container *ngIf="packageName">
        <span class="sky-field-label">in NPM package</span>
        <a href="https://npmjs.org/{{ packageName }}">
          <stache-code>{{ packageName }}</stache-code>
        </a>
      </ng-container>
    </h4>
    <ng-content select="sky-demo-page-summary"></ng-content>
  </stache-page-summary>

  <ng-container *ngIf="npmInstall">
    <stache-page-anchor>
      Installation
    </stache-page-anchor>
    <sky-code-block [code]="npmInstall"></sky-code-block>
  </ng-container>

  <ng-content select="sky-demo-page-properties"></ng-content>
  <ng-content select="sky-demo-page-example"></ng-content>

  <ng-content></ng-content>
</stache>
