<ng-container *ngIf="skyuxModulesForDisplay">
	<stache-page-anchor>
		Modules &amp; installation
	</stache-page-anchor>
	
  <sky-definition-list
    labelWidth="150px">
    <sky-definition-list-content>
      <sky-definition-list-label>
        Defined in module
      </sky-definition-list-label>
      <sky-definition-list-value>
        <span *ngFor="let moduleName of skyuxModulesForDisplay">
          <stache-code>{{ moduleName }}</stache-code>
        </span>
      </sky-definition-list-value>
    </sky-definition-list-content>
    
    <sky-definition-list-content *ngIf="packageName">
      <sky-definition-list-label>
        In NPM package
      </sky-definition-list-label>
      <sky-definition-list-value>
        <div id="package-name-wrapper">
          <div id="package-name">{{ packageName }}</div>
          <div>
            <a href="https://npmjs.org/{{ packageName }}">
              View in NPM
            </a>
          </div>
          <div>|</div>
          <div>
            <a href="https://github.com/blackbaud/{{ githubRepo }}">
              View in GitHub
            </a>
          </div>
      </div>
        
      </sky-definition-list-value>
    </sky-definition-list-content>
    
    <sky-definition-list-content *ngIf="npmInstall">
      <sky-definition-list-label>
        Installation command
      </sky-definition-list-label>
      <sky-definition-list-value>
        <div id="install-command-wrapper">
          <div id="install-command" #installCommand><stache-code>{{ npmInstall }}</stache-code></div>
          <sky-copy-to-clipboard buttonText="Copy" buttonClickedText="Copied!" [copyTarget]="installCommand"></sky-copy-to-clipboard>
        </div>
      </sky-definition-list-value>
    </sky-definition-list-content>

  </sky-definition-list>

</ng-container>