@import '~@blackbaud/skyux-design-tokens/scss/mixins';

.sky-demo-page-code {
  margin: 10px 0;
}

.stackblitz-wrapper ::ng-deep iframe {
  border: 0;
  margin: 10px 0;
}

.sky-demo-page-code-sample {
  @include sky-border(light, top, bottom, left, right);
  border-top: none;
  overflow: auto;
  padding: 10px;

  pre {
    margin: 0;
    padding: 0;
  }

  code {
    background-color: transparent;
    color: #000;
    line-height: 1.6em;
    padding: 0;
  }
}

.sky-demo-page-code-plunker {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-top: -60px;
    margin-bottom: 25px;
    text-align: right;
  }
}
