@import '~@blackbaud/skyux-design-tokens/scss/mixins';

.sky-demo-page-code {
  margin: 10px 0;
}

.sky-demo-page-code-stackblitz-embed ::ng-deep iframe {
  border: 0;
  margin: 10px 0;
}

.sky-demo-page-code-stackblitz {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-top: -60px;
    margin-bottom: 25px;
    text-align: right;
  }
}

.sky-demo-page-code-tabs-wrapper {
  @include sky-border(dark, top, bottom, left, right);

  ::ng-deep .sky-vertical-tabset-content {
    margin: 0;
  }

  ::ng-deep .sky-code-block-header {
    border: 0;
  }

  ::ng-deep .sky-code-output {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
}
