::ng-deep .sky-definition-list-content {
  margin-bottom: 10px !important;
}

div#install-command-wrapper {
  display: flex;
  
  > :not(:last-child) {
    margin-right: 10px;
  }
}

div#package-name-wrapper {
  display: flex;
  
  div {
    display: inline-block;
    margin-right: 5px;
  }
  
  div#package-name {
    margin-right: 20px;
  }
}