<stache
  layout="container"
  [pageTitle]="pageTitle">

  <stache-page-summary>
    <h4 *ngIf="skyuxModulesForDisplay">
      <span class="sky-field-label">Defined in</span>
      <span *ngFor="let moduleName of skyuxModulesForDisplay">
        <stache-code>{{ moduleName }}</stache-code>
      </span>
    </h4>
    <ng-content select="sky-demo-page-summary"></ng-content>
  </stache-page-summary>

  <stache-table-of-contents
    [routes]="tableOfContentsRoutes">
  </stache-table-of-contents>

  <ng-content select="sky-demo-page-properties"></ng-content>
  <ng-content select="sky-demo-page-example"></ng-content>

  <ng-content></ng-content>
</stache>
