<section class="sky-demo-page-code">
  <div class="sky-demo-page-code-header">
  <div class="stackblitz-wrapper" *ngIf="showDemoEmbed">
      <div #stackblitzEmbed></div>
    </div>
    <stache-page-anchor>
      Code
    </stache-page-anchor>
    <div class="sky-demo-page-code-stackblitz" *ngIf="showDemoRunButton"></div>
      <button
        type="button"
        class="sky-btn sky-btn-primary"
        (click)="openProjectInStackBlitz()"
      >
        <i class="fa fa-pencil"></i>
        Run in StackBlitz
      </button>
    </div>
  </div>
  <sky-tabset
    [active]="0">
    <sky-tab
      *ngFor="let codeFile of codeFilesForBinding"
      [tabHeading]="codeFile.name">
      <sky-code-block
        [code]="codeFile.codeImports"
        [languageType]="codeFile.language">
      </sky-code-block>
    </sky-tab>
  </sky-tabset>
</section>
