<sky-demo-page
  pageTitle="Wizard"
  skyuxModule="SkyProgressIndicatorModule"
>

  <sky-demo-page-summary>
    <p>
      A wizard guides users through a set of pre-defined steps in a particular order. It uses a <a routerLink="/components/progress-indicator">progress indicator component</a> within a <a routerLink="/components/modal">modal component</a> to represent a series of related decisions in a user’s direct workflow. Wizards illustrate the step-wise nature of tasks and reinforce the progress toward final goals as users complete steps. Wizards are most useful when users must perform steps in a particular order.
    </p>
    <p>
      To create a wizard, place a progress indicator inside a modal and set its <stache-code>displayMode</stache-code> property to <stache-code>Horizontal</stache-code>. For information about progress indicators, see the <a routerLink="/components/progress-indicator">progress indicator component</a>. And for information about modals, see the <a routerLink="/components/modal">modal component</a>.
    </p>
    <sky-alert alertType="info">
      This wizard implementation replaces a previous version that was deprecated because of limitations that interfered with complex configuration tasks. The deprecated wizard used the <a routerLink="/components/tabs">tabs module</a> within a modal component and set <stache-code>tabStyle="wizard"</stache-code> on the <stache-code>sky-tabset</stache-code> component to guide users through a set of pre-defined steps. We recommend that you create wizards with the progressive indicator component instead of this deprectated implementation.
    </sky-alert>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Progress indicator properties">
    <sky-demo-page-property
      propertyName="displayMode()"
      isOptional="true"
      defaultValue="Vertical"
    >
      Specifies whether to display the progress indicator vertically or horizontally. For modal wizards, set the display mode to <stache-code>Horizontal</stache-code>. For information about other types of progress indicators, see the <a routerLink="/components/progress-indicator">progress indicator component</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Progress indicator nav button properties">
    <p>
      The progress indicator nav button component allows users to navigate the steps in modal wizards. We recommend against using it in waterfall pages and passive progress indicators.
    </p>
    <sky-demo-page-property
      propertyName="buttonText"
      isOptional="true"
      defaultValue="Next"
    >
      Specifies the label to display on the nav button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttonType"
      isOptional="true"
      defaultValue="next"
    >
      Specifies the type of nav button to include. Options include <stache-code>finish</stache-code>, <stache-code>next</stache-code>, and <stache-code>previous</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to disable the nav button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="progressIndicator"
    >
      Specifies the progress indicator component to associate with the nav button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-wizard-demo-modal></sky-wizard-demo-modal>
    <sky-demo-page-code demoName="Wizard"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="UX guidelines">
    <p>
      Modal wizards guide users through tasks that require a series of related decisions, but progress indicator components can also create waterfall pages to visually represents progress through a series of sequential steps. For guidance on whether to use modal wizards or waterfall pages, see the <a stacheRouterLink="/components/progress-indicator" fragment="ux-guidelines">progress indicator UX guidelines</a>.
    </p>
    <p>
      Use modal wizards when:
    </p>
    <ul>
			<li>
        Tasks are best presented as multiple steps that users can complete in a single sitting.
      </li>
			<li>
        Tasks do not result in records or settings with page-level views.
      </li>
			<li>
        The interaction complexity of each step is low. For example, steps use standard form inputs and controls.
      </li>
			<li>
        Tasks include no more than six steps.
      </li>
		</ul>
  </sky-demo-page-content>

</sky-demo-page>
