<sky-demo-page
  pageTitle="Wizard"
  skyuxModule="SkyTabsModule"
>

  <sky-demo-page-summary>
    <p>
      A wizard guides users through a set of pre-defined steps in a particular order. It uses a progress indicator component within a modal component to represent the steps in a task as a series of related decisions in a user’s direct workflow. The wizard illustrates the step-wise nature of a task and reinforces the progress towards the final goal as users complete each step. Wizards are most useful when users must perform steps in a particular order.
    </p>
    <p>
      To create a wizard, place a progress indicator inside a modal and set its <stache-code>displayMode</stache-code> property to <stache-code>Horizontal</stache-code>. For more information about progress indicators, see the <a routerLink="/components/progress-indicator">progress indicator component</a>, And for more information about modals, see the <a routerLink="/components/modal">modal component</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Progress indicator properties">
    <sky-demo-page-property
      propertyName="displayMode()"
      isOptional="true"
      defaultValue="Vertical"
    >
      Specifies whether to display the progress indicator vertically or horizontally. For modal wizards, you must set the display mode to <stache-code>Horizontal</stache-code>. For information about other types of progress indicators, see <a routerLink="/components/wizard">the progress indicator component</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Progress indicator nav button properties">
    <p>
      The progress indicator nav button component allows users to navigate the steps in modal wizards. We recommend against using it in waterfall pages and passive progress indicators.
    </p>
    <sky-demo-page-property
      propertyName="buttonText"
      isOptional="true"
      defaultValue="Next"
    >
      Specifies the label to display on the nav button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttonType"
      isOptional="true"
      defaultValue="next"
    >
      Specifies the type of nav button to include. Options include <stache-code>finish</stache-code>, <stache-code>next</stache-code>, and <stache-code>previous</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to disable the nav button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="progressIndicator"
      isOptional="true"
    >
      Specifies the progress indicator component to associate with the nav button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-wizard-demo></sky-wizard-demo>
    <sky-demo-page-code demoName="Wizard"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="UX guidelines">
  	<p>
      A wizard is appropriate for forms that meet the following criteria:
    </p>
    <ul>
			<li>
        The task can be divided into discrete steps.
      </li>
			<li>
        The order of the steps is important.
      </li>
			<li>
        User actions in earlier steps affect later steps.
      </li>
			<li>
        Users must complete or review the fields in every step.
      </li>
			<li>
        Users might want to save their progress so that they can leave the form and return later.
      </li>
		</ul>
  </sky-demo-page-content>

</sky-demo-page>
