<stache
  pageTitle="How to Set the Window Title in a SPA"
  showTableOfContents="true"
  navOrder="70"
  navTitle="Setting the window title">

  <stache-page-summary>
    <p>
      <sky-code>SkyAppTitleService</sky-code> enables SKY UX SPAs to set the window title as users navigate within the SPA. When used on a SPA with the omnibar enabled, this Angular service will automatically add additional information to the title to adhere to the <a href="https://developer.blackbaud.com/skyux/design/guidelines/page-layouts#page-titles">SKY UX page title guidelines</a>.
    </p>
  </stache-page-summary>

  <stache-page-anchor>
    Setting a static page title
  </stache-page-anchor>

  <p>
    To use the <sky-code>SkyAppTitleService</sky-code>, inject the service into your page's main Angular component, then call its <sky-code>setTitle()</sky-code> method inside the component's <sky-code>ngOnInit()</sky-code>:
  </p>
  <sky-code-block languageType="typescript">
    import {
      Component,
      OnInit
    } from '@angular/core';

    import {
      SkyAppTitleService
    } from '@skyux/core';

    @Component()
    export class MyComponent implements OnInit {
      constructor(private titleSvc: SkyAppTitleService) { }

      public ngOnInit() {
        this.titleSvc.setTitle({
          titleParts: [
            // Multiple strings specified here will be
            // separated by a hyphen in the page title.
            'My Title'
          ]
        });
      }
    }
  </sky-code-block>

  <stache-page-anchor>
    Setting the page title asynchronously
  </stache-page-anchor>

  <p>
    Sometimes you will want to set the page title to a value from the result of an asynchronous process like a web request. In this case, you will want to ensure that the page's main component has not been destroyed before the asynchronous process has completed; otherwise, the page's title may get set after the user has navigated away from the page, leaving the previous page's title in the browser's title bar. Here is an example where data is loaded using an <sky-code>Observable</sky-code>, and the title set when the <sky-code>Observable</sky-code> emits a value. It uses the technique <a href="https://www.intertech.com/Blog/angular-best-practice-unsubscribing-rxjs-observables/">described here</a> to unsubscribe from the <sky-code>Observable</sky-code> when the component is destroyed, therefore canceling the logic that sets the title if the user navigates to another page in the SPA.
  </p>

  <sky-code-block languageType="typescript">
    import {
      Component,
      Input,
      OnDestroy
    } from '@angular/core';

    import {
      Subject
    } from 'rxjs';

    import {
      SkyAppTitleService
    } from '@skyux/core';

    import {
      MyConstituentService
    } from '../api/constituent.service';

    @Component()
    export class MyComponent implements OnDestroy {
      @Input()
      public set constituentId(value: string) {
        this._constituentId = value;
        this.loadConstituent();
      }

      public get constituentId(): string {
        return this._constituentId;
      }

      private ngUnsubscribe = new Subject&lt;any&gt;();

      private _constituentId: string;

      constructor(
        private titleSvc: SkyAppTitleService,
        private constitSvc: MyConstituentService
      ) { }

      public ngOnDestroy() {
        this.ngUnsubscribe.next();
        this.ngUnsubscribe.destroy();
      }

      private loadConstituent() {
        this.constitSvc.loadConstituent(this.constituentId)
          .takeUntil(this.ngUnsubscribe)
          .subscribe((constituent) => {
            this.titleSvc.setTitle({
              titleParts: [
                constituent.name
              ]
            });
          });
      }
    }
  </sky-code-block>

</stache>

