<sky-demo-page
  pageTitle="Date Range Picker"
  navTitle="Date range picker"
  skyuxModule="SkyDateRangePickerModule"
  packageName="@skyux/datetime"
>
  <sky-demo-page-summary>
    The date range picker component creates a text input with a dropdown for users to select a date range from a set of well-known options. This includes options that enable users to specify dates to create their own date range. The text input is a composite component of <a stacheRouterLink="/components/datepicker">up to two <sky-code>sky-datepicker</sky-code> components</a>.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Date range picker component properties">
    <sky-demo-page-property
      propertyName="label"
    >
      Specifies a label for the date range picker. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="calculatorIds"
      isOptional="true"
    >
      Specifies IDs for the date range options to include in the field's dropdown. The options specify calculator objects that return two <sky-code>Date</sky-code> objects to represent date ranges. This property accepts <a stacheRouterLink="." fragment="skydaterangecalculatorid-properties">an array of <sky-code>SkyDateRangeCalculatorId</sky-code> values</a>. By default, it includes <a stacheRouterLink="." fragment="skydaterangecalculatorid-properties">all <sky-code>SkyDateRangeCalculatorId</sky-code> values</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dateFormat"
      isOptional="true"
      defaultValue="MM/DD/YYYY"
    >
      Specifies a date format for <a stacheRouterLink="/components/datepicker">the <sky-code>sky-datepicker</sky-code> components</a> that make up the date range picker. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to disable the date range picker. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Date range calculation">
    <p>
      The form model for the date range picker field returns a value with a type of <sky-code>SkyDateRangeCalculation</sky-code>.
    </p>
    <sky-demo-page-property
      propertyName="calculatorId"
    >
      Specifies the calculator that determines the dates in the date range. This property returns <a stacheRouterLink="." fragment="skydaterangecalculatorid-properties">a <sky-code>SkyDateRangeCalculatorId</sky-code> value</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="endDate"
      isOptional="true"
    >
      Specifies the last date in the date range. This property returns a <sky-code>Date</sky-code> value.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="startDate"
      isOptional="true"
    >
      Specifies the first date in the date range. This property returns a <sky-code>Date</sky-code> value.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDateRangeCalculatorId properties">
    <p>
      <sky-code>SkyDateRangeCalculatorId</sky-code> values specify calculator objects that return two <sky-code>Date</sky-code> objects to represent date ranges. The <sky-code>SkyDateRangeCalculatorId</sky-code> values are used to populate the options in the date range picker's dropdown.
    </p>
    <p>
      SKY UX uses the <sky-code>SkyDateRangeService</sky-code> to create calculators and configures each one with a <sky-code>validate</sky-code> function to confirm that the dates users select are compatible. For example, <sky-code>validate</sky-code> functions ensure that start dates are before end dates. SKY UX also configures calculators to call a <sky-code>getValue</sky-code> function after the <sky-code>validate</sky-code> function and return a range of two <sky-code>Date</sky-code> objects.
    </p>
    <sky-demo-page-property
      propertyName="After"
      isOptional="true"
    >
      Enables users to select a start date with no end date.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="AnyTime"
      isOptional="true"
    >
      Selects no dates and considers all dates within the date range. This is the default selection.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="Before"
      isOptional="true"
    >
      Enables users to select an end date with no starting date.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="LastCalendarYear"
      isOptional="true"
    >
      Sets the start date to the first day of the year before the current year and the end date to the last day of that year.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="LastFiscalYear"
      isOptional="true"
    >
      Sets the start date to the first day of the fiscal year before the current fiscal year and the end date to the last day of that fiscal year. The fiscal year is Oct. 1 to Sept. 30.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="LastMonth"
      isOptional="true"
    >
      Sets the start date to the first day of the month before the current month and the end date to the final day of that month.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="LastQuarter"
      isOptional="true"
    >
      Sets the start date to the first day of the quarter before the current quarter and the end date to the last day of that quarter. Quarters are January to March, April to June, July to September, and October to December.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="LastWeek"
      isOptional="true"
    >
      Sets the start date to Sunday of the week before the current week and the end date to Saturday of that week.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="NextCalendarYear"
      isOptional="true"
    >
      Sets the start date to the first day of the year after the current year and the end date to the last day of that year.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="NextFiscalYear"
      isOptional="true"
    >
      Sets the start date to the first day of the fiscal year after the current fiscal year and the end date to the last day of that fiscal year. The fiscal year is Oct. 1 to Sept. 30.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="NextMonth"
      isOptional="true"
    >
      Sets the start date to the first day of the month after the current month and the end date to the last day of that month.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="NextQuarter"
      isOptional="true"
    >
      Sets the start date to the first day of the quarter after the current quarter and the end date to the last day of that quarter. Quarters are January to March, April to June, July to September, and October to December.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="NextWeek"
      isOptional="true"
    >
      Sets the start date to Sunday of the week after the current week and the end date to Saturday of that week.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="SpecificRange"
      isOptional="true"
    >
      Enables users to select specific start and end dates.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ThisCalendarYear"
      isOptional="true"
    >
      Sets the start date to the first day of the current year and the end date to the last day of the year.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ThisFiscalYear"
      isOptional="true"
    >
      Sets the start date to the first day of the current fiscal year and the end date to the last day of the fiscal year. The fiscal year is Oct. 1 to Sept. 30.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ThisMonth"
      isOptional="true"
    >
      Sets the start date to the first day of the current month and the end date to the last day of the month.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ThisQuarter"
      isOptional="true"
    >
      Sets the start date to the first day of the current quarter and the end date to the last day of the quarter. Quarters are January to March, April to June, July to September, and October to December.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ThisWeek"
      isOptional="true"
    >
      Sets the start date to Sunday of the current week and the end date to Saturday.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="Today"
      isOptional="true"
    >
      Sets the start and end dates to the current day.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="Tomorrow"
      isOptional="true"
    >
      Sets the start and end dates to the day after the current day.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="Yesterday"
      isOptional="true"
    >
      Sets the start and end dates to the day before the current day.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Error handling">
    <p>
      Each calculator in the date range picker's dropdown has its own validator that runs when the value changes. Errors are returned in the following format:
    </p>
    <sky-code-block>
      {
        skyDateRange: {
          calculatorId: SkyDateRangeCalculatorId,
          errors: {
            [nameOfTheError: string]: boolean;
          }
        }
      }
  </sky-code-block>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-date-range-picker-demo>
    </sky-date-range-picker-demo>
    <sky-demo-page-code
      demoName="Date range picker"
    >
    </sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="UX guidelines">

    <header><div class="sky-section-heading">Usage</div></header>
      <p>Use the date range picker when users need to select a range of dates or a single date relative to the current day, such as yesterday.</p>

    <header><div class="sky-section-heading">Behavior</div></header>
      <header><div class="sky-subsection-heading sky-margin-stacked-default">Specific range</div></header>
        <sky-row>
          <sky-column screenSmall="6">
            <p>When users select "Specific range," from and to date fields appear.</p>
          </sky-column>
          <sky-column screenSmall="6">
            <div class="screenshot screenshot-info">
              <img src="~/assets/img/guidelines/date-range-picker/behavior-specific-range.png" />
            </div>
          </sky-column>
        </sky-row>

      <header><div class="sky-subsection-heading sky-margin-stacked-default">Responsiveness</div></header>
        <sky-row>
          <sky-column screenSmall="6">
            <p>On smaller viewports, the date fields that appear when users select "Specific range" reflow into a one-column layout.</p>
          </sky-column>
          <sky-column screenSmall="6">
            <div class="screenshot screenshot-info">
              <img src="~/assets/img/guidelines/date-range-picker/behavior-responsive.png" style="width: auto;" />
            </div>
          </sky-column>
        </sky-row>

      <header><div class="sky-section-heading">Layout</div></header>
        <header><div class="sky-subsection-heading sky-margin-stacked-default">Error message</div></header>
          <sky-row>
            <sky-column screenSmall="6">
              <p>Display validation error messages below the date range picker.</p>
            </sky-column>
            <sky-column screenSmall="6">
              <div class="screenshot screenshot-info">
                <img src="~/assets/img/guidelines/date-range-picker/content-error.png"/>
              </div>
            </sky-column>
          </sky-row>

      <header><div class="sky-section-heading">Related content</div></header>
        <header><div class="sky-subsection-heading sky-margin-stacked-default">Guidelines</div></header>
          <ul>
            <li><a routerLink="/design/guidelines/form-design">Form design</a></li>
          </ul>
        <header><div class="sky-subsection-heading sky-margin-stacked-default">Components</div></header>
          <ul>
            <li><a routerLink="/components/form">Form</a></li>
          </ul>

  </sky-demo-page-content>
</sky-demo-page>
