<div
  class="sky-margin-stacked-separate"
>

  <!-- #region [Inputs are for demonstration purposes only.] -->
  <sky-fluid-grid>
    <sky-row>
      <sky-column screenSmall="6">
        <h4
          id="sky-demo-modes"
        >
          Modes
        </h4>
        <ul
          class="sky-list-unstyled"
        >
          <li>
            <sky-radio
              name="mode"
              value="navigation"
              (change)="onModeChange($event)"
              [(ngModel)]="selectedMode"
            >
              <sky-radio-label>
                Navigation
              </sky-radio-label>
            </sky-radio>
          </li>
          <li>
              <sky-radio
                name="mode"
                value="readOnly"
                (change)="onModeChange($event)"
                [(ngModel)]="selectedMode"
              >
              <sky-radio-label>
                Read-only
              </sky-radio-label>
            </sky-radio>
          </li>
          <li>
            <sky-radio
              name="mode"
              value="selection"
              (change)="onModeChange($event)"
              [(ngModel)]="selectedMode"
            >
              <sky-radio-label>
                Selection
              </sky-radio-label>
            </sky-radio>
            <ul
              class="sky-list-unstyled"
              style="margin: 10px 0 10px 20px"
            >
              <li>
                <sky-checkbox
                  [disabled]="selectedMode !== 'selection' || enableCascading"
                  [(ngModel)]="selectLeafNodesOnly"
                >
                  <sky-checkbox-label>
                    Leaf-node selection only
                  </sky-checkbox-label>
                </sky-checkbox>
              </li>
              <li>
                <sky-radio
                  name="selectMode"
                  value="singleSelect"
                  [disabled]="selectedMode !== 'selection'"
                  (change)="onSelectModeChange($event)"
                  [(ngModel)]="selectedSelectMode"
                >
                  <sky-radio-label>
                    Single-select
                  </sky-radio-label>
                </sky-radio>
              </li>
              <li>
                <sky-radio
                  name="selectMode"
                  value="multiSelect"
                  [disabled]="selectedMode !== 'selection'"
                  (change)="onSelectModeChange($event)"
                  [(ngModel)]="selectedSelectMode"
                >
                  <sky-radio-label>
                    Multi-select
                  </sky-radio-label>
                </sky-radio>
                <ul
                  class="sky-list-unstyled"
                  style="margin: 10px 0 10px 20px"
                >
                  <li>
                    <sky-checkbox
                      [disabled]="selectedMode !== 'selection' || selectLeafNodesOnly || selectSingle"
                      [(ngModel)]="enableCascading"
                    >
                      <sky-checkbox-label>
                        Enable cascading
                      </sky-checkbox-label>
                    </sky-checkbox>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </sky-column>
      <sky-column screenSmall="6">
        <ul
          class="sky-list-unstyled"
        >
          <li>
            <sky-checkbox
              [(ngModel)]="showToolbar"
            >
              <sky-checkbox-label>
                Include toolbar
              </sky-checkbox-label>
            </sky-checkbox>
          </li>
          <li>
            <sky-checkbox
              [(ngModel)]="showContextMenus"
            >
              <sky-checkbox-label>
                Include context menus
              </sky-checkbox-label>
            </sky-checkbox>
          </li>
        </ul>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
  <!-- #endregion -->

  <div
    class="sky-padding-even-default sky-demo-container"
  >
    <sky-angular-tree-wrapper
      [readOnly]="readOnly"
      [selectLeafNodesOnly]="selectLeafNodesOnly"
      [selectSingle]="selectSingle"
      [showToolbar]="showToolbar"
    >
      <tree-root
        [nodes]="nodes"
        [options]="treeOptions"
        (stateChange)="onTreeStateChange($event)"
        #tree
      >
        <ng-template
          let-index="index"
          let-node
          let-templates="templates"
          #treeNodeFullTemplate
        >
          <sky-angular-tree-node
            [index]="index"
            [node]="node"
            [templates]="templates"
          >
            <sky-dropdown *ngIf="showContextMenus"
              buttonType="context-menu"
            >
              <sky-dropdown-menu>
                <sky-dropdown-item *ngFor="let item of dropdownItems">
                  <button
                    type="button"
                    (click)="actionClicked(item.name, node)"
                  >
                    {{ item.name }}
                  </button>
                </sky-dropdown-item>
              </sky-dropdown-menu>
            </sky-dropdown>
          </sky-angular-tree-node>
        </ng-template>
      </tree-root>
    </sky-angular-tree-wrapper>
  </div>
</div>
