<sky-demo-page
  pageTitle="Action button"
  skyuxModule="SkyActionButtonModule"
>

  <sky-demo-page-summary>
    <p>
      The action button component creates a large button with an icon, header, and details. These buttons are used in sets to present users with multiple, branching options to move forward with a task.
    </p>
    <p>
      The <stache-code>sky-action-button-container</stache-code> component insures that all inner <stache-code>sky-action-button</stache-code> coponents have consistent height and spacing. The <stache-code>sky-action-button</stache-code> component consists of three inner components: <stache-code>sky-action-button-icon</stache-code>, <stache-code>sky-action-button-header</stache-code>, and <stache-code>sky-action-button-details</stache-code>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Action button events">
    <sky-demo-page-property
      propertyName="actionClick">
      Fires when the user clicks the action button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Action button icon properties">
    <sky-demo-page-property
      propertyName="iconType">
      Specifies an icon to be used from the Font Awesome library. For example, to use the <stache-code>fa-filter</stache-code> icon, use <stache-code>filter</stache-code> as the <stache-code>iconType</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-action-button-demo></sky-action-button-demo>
    <sky-demo-page-code demoName="Action button"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="UX guidelines">
		
	<header><div class="sky-section-heading">Usage</div></header>
		<p>Use action buttons when:</p>
		<ul>
			<li>The user has initiated a task or workflow</li>
					<ul>
							<li>This is often done via a page's primary action</li>
					</ul>
			<li>The task has between 2 and 6 methods of completion</li>
					<ul>
							<li>The user must choose exactly one option</li>
							<li>If there are more relevant choices, consider a different <a routerLink="/design/guidelines/form-design" fragment="selection-inputs">selection input</a> and interaction</li>
					</ul>
			<li>The choices are system-defined, not user-defined</li>
			<li>The choice of method will determine how the majority of the workflow will proceed</li>
					<ul>
							<li>This choice is made at or near the beginning of the task</li>
					</ul>
			<li>The outcome of end result will be largely the same, regardless of the method</li>
		</ul>
		<p>
			Action buttons must represent a necessary step in any workflow they inhabit - they should not be used in ways where they can be skipped, avoided, or answered later. Present them in a way that isolates the choice they represent and removes other decisions, different tasks, or other content. Take advantage of the "details" line in the button to give users context or explain the differences between the options.
		</p>	
		
	<header><div class="sky-subsection-heading">When to use action buttons</div></header>
			
  <stache-row>
    <stache-column screenSmall="6">
			<p>Use action buttons immediately after a user has initiated a task, to differentiate between different branches the task may follow.</p>
		</stache-column>
		<stache-column screenSmall="6">
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-in-modal.png" style="width: 100%;" />
			</div>
		</stache-column>
	</stache-row>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            Use action buttons on a page or in a dialogue, but only when a task is underway and the choice about how to complete the task is the only choice relevant to the user. Do not display any other inputs or choices until the user picks an option. When the user picks an option, hide the action buttons (or close the modal).
            </p>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-on-page.png" style="width: 100%;" />
			</div>
        </stache-column>
    </stache-row>
    
    <header><div class="sky-subsection-heading">When not to use action buttons</div></header>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            Do not use a single action button by itself. Action buttons should not serve as a primary call-to-action in a page where many other actions are available to the user.
            </p>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/actionbutton/single-action-button-dont.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            Do not use actions buttons to present different methods for completing a task when the user has not initated the task yet. Action buttons should not compete against other content or actions for the user’s attention.
            </p>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-on-workspace-dont.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            Do not use actions buttons when the consequential differences between the choices are a small minority of the scale of the task, or when the choice would not be made at the beginning of the task. Use a different selection input and progressive disclosure to reveal additional content, if needed.
            </p>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-inside-long-dialogue-dont.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
    
    <header><div class="sky-section-heading">Workflow placement and behaviors</div></header>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            Use a set of action buttons inside a modal when no page already exists, or the remaining bulk of the task after the action button decision takes place inside a modal. This is common when creating a new record that only requires a standard modal during different versions of its 'Add' process.
            </p>
            <ul>
                <li>Use a 'default' size modal for 2 action buttons and a 'largeModal' for 3 or more.</li>
                <ul>
                    <li>Center the action buttons inside the modal, wrapping to another row if needed.</li>
                </ul>
                <li>When the user selects a choice, dismiss this modal and open whatever container is appropriate for the remainder of the task.</li>
                <ul>
                    <li>If the user cancels or abandons the task afterwards, do not return the user to this modal.</li>
                </ul>
                <li>Always provide a "Cancel" action inside a modal with action buttons.</li>
            </ul>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-in-modal.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            When the user is completing an Add or configuration process contained inside a page or tab (that includes no other task), use action buttons directly on the page. Most 'Add' processes will use the modal example above.
            </p>
            <ul>
                <li>If necessary, include a question above the action buttons to explain the decision being made.</li>
                <li>Center the question and action buttons inside the page.</li>
                <li>When the user selects a choice, remove the action buttons and replace them with the consequent next steps of the workflow.</li>
                <li>If the user leaves the page without selecting a choice, the record or process should be treated as "incomplete" and have any appropriate status indicators on its parent view.</li>
                <ul>
                    <li>An explicit "Cancel" or "Delete" action underneath the action buttons and be used if it is valuable for the user to delete the record entirely from this point.</li>
                </ul>
            </ul>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-on-page.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
    
    <stache-row>
        <stache-column screenSmall="6">
            <p>
            When the user is adding a new user-defined tab and choosing how populate its content, use action buttons directly inside the tab, rather than inside a modal.
            </p>
            <ul>
                <li>There is no need for a "Cancel" action underneath the action buttons, since user-defined tabs can be removed on the tab control.</li>
            </ul>
        </stache-column>
        <stache-column screenSmall="6">
            <div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/actionbutton/action-buttons-in-tabs.png" style="width: 100%;" />
            </div>
        </stache-column>
    </stache-row>
		
	</sky-demo-page-content>
    
</sky-demo-page>
