<div
  class="sky-margin-stacked-separate"
  id="example-simple"
>
  <h3>Split view demo</h3>

  <sky-split-view
    [messageStream]="splitViewStream"
  >
    <sky-split-view-drawer
      [ariaLabel]="'Transaction list'"
      [width]="listWidth"
    >
      <sky-repeater>
        <sky-repeater-item *ngFor="let item of items; let i = index"
          [ngClass]="{ 'sky-repeater-active' : activeIndex === i }"
          (click)="onItemClick(i)"
        >
          <sky-repeater-item-content>
            {{ item.amount }} <br />
            {{ item.date }} <br />
            {{ item.vendor }}
          </sky-repeater-item-content>
        </sky-repeater-item>
      </sky-repeater>
    </sky-split-view-drawer>

    <sky-split-view-workspace
      [ariaLabel]="'Transaction form'"
    >
      <form
        [formGroup]="splitViewDemoForm"
        (ngSubmit)="onSubmit()"
      >
        <sky-definition-list
          labelWidth="150px"
        >
          <sky-definition-list-content>
            <sky-definition-list-label>
              Receipt amount
            </sky-definition-list-label>
            <sky-definition-list-value>
              {{ activeRecord.amount }}
            </sky-definition-list-value>
          </sky-definition-list-content>
          <sky-definition-list-content>
            <sky-definition-list-label>
              Date
            </sky-definition-list-label>
            <sky-definition-list-value>
              {{ activeRecord.date }}
            </sky-definition-list-value>
          </sky-definition-list-content>
          <sky-definition-list-content>
            <sky-definition-list-label>
              Vendor
            </sky-definition-list-label>
            <sky-definition-list-value>
              {{ activeRecord.vendor }}
            </sky-definition-list-value>
          </sky-definition-list-content>
          <sky-definition-list-content>
            <sky-definition-list-label>
              Receipt image
            </sky-definition-list-label>
            <sky-definition-list-value>
              {{ activeRecord.receiptImage }}
            </sky-definition-list-value>
          </sky-definition-list-content>
        </sky-definition-list>
        <div
          class="sky-form-group"
        >
          <label
            class="sky-control-label"
            for="approvedAmount"
          >
            Approved amount
          </label>
          <input
            class="sky-form-control"
            formControlName="approvedAmount"
            name="approvedAmount"
            type="text"
          />
        </div>

        <div
          class="sky-form-group"
        >
          <label
            class="sky-control-label"
            for="comments"
          >
            Comments
          </label>
          <textarea
            class="sky-form-control"
            formControlName="comments"
            name="comments"
          ></textarea>
        </div>

        <div
          class="sky-form-group"
        >
          <button
            class="sky-btn sky-btn-primary"
            name="submit"
            type="submit"
          >
            Approve expense
          </button>
          <button
            class="sky-btn sky-btn-link"
            name="deny"
            type="button"
          >
            Deny request
          </button>
        </div>

      </form>
    </sky-split-view-workspace>
  </sky-split-view>
</div>
