<sky-demo-page
  pageTitle="Avatar"
  skyuxModule="SkyAvatarModule"
  packageName="@skyux/avatar"
>

  <sky-demo-page-summary>
    <p>
      The avatar component displays an image to identify a record and includes an option to let users change the image. If the image is missing, the avatar component can display initials for the record that the avatar represents.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Avatar properties">
    <sky-demo-page-property
      propertyName="canChange"
      defaultValue="false"
    >
      Indicates whether users can change the image. To select a different image, users click the image or drag another image on top of it, much like the <sky-code>sky-file-drop</sky-code> component in the <a routerLink="../fileattachments">file attachment module</a>. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="name"
    >
      Specifies the name of the record that the avatar represents. If the <sky-code>src</sky-code> property does not specify an image, the component extracts initials from the first and last words of this name and displays them in place of the missing image. To ensure that the component extracts the correct initials, specify a name with no prefix or suffix. You can specify just the initials with a space between them. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="src"
    >
      Specifies an image to display to identify a record. This property accepts <sky-code>string</sky-code>, <sky-code>Blob</sky-code>, or <sky-code>File</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Avatar events">
    <sky-demo-page-property
      propertyName="avatarChanged"
      isOptional="true"
    >
      Emits <a stacheRouterLink="." fragment="skyfileitem-properties">a <sky-code>SkyFileItem</sky-code> object</a> when the image is updated.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyFileItem properties">
    <sky-demo-page-property
      propertyName="errorParam"
    >
    Specifies error details if the file causes an error.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="errorType"
    >
    Specifies an error type if the file causes an error.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="file"
    >
    Specifies the <sky-code>File</sky-code> object associated with the <sky-code>SkyFileItem</sky-code> object.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="url"
    >
    Specifies the URL of the file item.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-avatar-demo></sky-avatar-demo>
    <sky-demo-page-code
      demoName="Avatar">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
