<stache
  pageTitle="Organization"
  showTableOfContents="true"
  layout="sidebar">

  <stache-page-anchor>
    <stache-code>@skyux</stache-code>
  </stache-page-anchor>

  <app-packages-grid
    [packages]="skyuxPackages">
  </app-packages-grid>

  <stache-page-anchor>
    <stache-code>@skyux-sdk</stache-code>
  </stache-page-anchor>

  <app-packages-grid
    [packages]="sdkPackages">
  </app-packages-grid>

  <stache-page-anchor>
    <stache-code>@blackbaud</stache-code>
  </stache-page-anchor>

  <sky-alert alertType="warning">
    Please note we are actively republishing these packages under <stache-code>@skyux</stache-code> and <stache-code>@skyux-sdk</stache-code>.
  </sky-alert>

  <app-packages-grid
    [packages]="blackbaudPackages">
  </app-packages-grid>

</stache>
