@import '~@blackbaud/skyux-design-tokens/scss/mixins';

body,
.stache-layout-blank {
  background-color: #FFF !important;
}

p {
  line-height: 1.6em !important;
}

.sky-demo-bg-gray {
  background-color: $sky-border-color-neutral-light !important;
  padding: 10px !important;
}

.stache-hero {
  @media(min-width: 1000px) {
    background-position-y: -200px !important;
  }
  @media(min-width: 1300px) {
    background-position-y: -300px !important;
  }
}

.tutorial-previous-button {
  text-align: left;
  padding: 10px;
}

.tutorial-next-button {
  text-align: right;
  padding: 10px;
}

/* Design documentation flex table layout */
.definition-table {
  border-bottom: 1px dotted #ccc;
	&:last-of-type {
		border-bottom: none;
	}
}

.definition-code,
.definition-item,
.definition-styling,
.definition-usage {
  margin: 10px 10px 10px 0;
  flex-wrap: wrap;
}

.definition-item {
  width: 100px;
}

.definition-styling,
.definition-table-wide .definition-code {
  flex: 1;
}

.definition-usage {
  flex: 2;
}

.definition-table-narrow .definition-props {
  flex: 1;
}

.text-center {
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

@media (min-width: 479px) {
  .definition-table,
  .definition-props {
    display: flex;
    flex-wrap: wrap;
  }

  .definition-code {
    flex: 1;
  }

  .definition-table-narrow .definition-usage {
    flex: 1;
  }

  .definition-table-narrow .definition-code {
    flex: 5;
  }
}

@media (min-width: 767px) {
  .definition-props {
    flex: 3;
  }
}

.swatch {
  width: 50px;
  height: 50px;
}

.screenshot {
  box-sizing: border-box;
  border: 30px solid;

  &.screenshot-info {
    border-color: $sky-background-color-info-light;
  }

  &.screenshot-success {
    border-color: $sky-background-color-success;
  }

  &.screenshot-danger {
    border-color: $sky-background-color-danger;
  }

  img {
    display: block;
    width: 100%;
  }
}

.screenshot-responsive {
  display: block;
  width: 100%;
}

.screenshot-margin-bottom {
	margin-bottom: 20px;
}

// Start content tables
.content-table {
  border-collapse: collapse;
  td, th {
      padding: 10px 5px;
  }
  td {
    border-bottom: 1px dotted $sky-border-color-neutral-light;
    vertical-align: top;
  }
  tr:nth-child(even) {
    background-color: $sky-color-gray-01;
  }
  label {
    display: block;
    padding-left: 23px;
    text-indent: -26px;
  }
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
  a {
    font-size: 14px;
    font-style: italic;
  }
}

// Blog styling
article.blog-post {
	margin-bottom: 20px;
}

// Site redesign placeholders
img.bordered {
	@include sky-border(light, top, right, bottom, left);
	padding: $sky-padding-even-large;
}

video.bordered {
  @include sky-border(light, top, right, bottom, left);
}

.sky-margin-stacked-content-section {
	margin-bottom: 50px;
}

.caption {
  margin-top: $sky-margin-stacked-default;
  padding-top: $sky-margin-stacked-compact;
  border-top: 4px solid $sky-background-color-neutral-light;

  &.caption-info {
    border-color: $sky-background-color-neutral-light;
  }

  &.caption-success {
    border-color: $sky-highlight-color-success;
  }

  &.caption-warning {
    border-color: $sky-highlight-color-warning;
  }

  &.caption-danger {
    border-color: $sky-highlight-color-danger;
  }
}