@import '~@blackbaud/skyux-design-tokens/scss/mixins';

body {
  background-color: #fff !important;
}

p {
  line-height: 1.6em !important;
}

.sky-demo-bg-gray {
  background-color: $sky-border-color-neutral-light !important;
  padding: 10px !important;
}

.stache-hero {
  @media(min-width: 1000px) {
    background-position-y: -200px !important;
  }
  @media(min-width: 1300px) {
    background-position-y: -300px !important;
  }
}

.tutorial-previous-button {
  text-align: left;
  padding: 10px;
}

.tutorial-next-button {
  text-align: right;
  padding: 10px;
}

/* Design documentation flex table layout */
.definition-table {
  border-bottom: 1px dotted #ccc;
	&:last-of-type {
		border-bottom: none;
	}
}

.definition-code,
.definition-item,
.definition-styling,
.definition-usage {
  margin: 10px 10px 10px 0;
  flex-wrap: wrap;
}

.definition-item {
  width: 100px;
}

.definition-styling,
.definition-table-wide .definition-code {
  flex: 1;
}

.definition-usage {
  flex: 2;
}

.definition-table-narrow .definition-props {
  flex: 1;
}

.text-center {
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

@media (min-width: 479px) {
  .definition-table,
  .definition-props {
    display: flex;
    flex-wrap: wrap;
  }

  .definition-code {
    flex: 1;
  }

  .definition-table-narrow .definition-usage {
    flex: 1;
  }

  .definition-table-narrow .definition-code {
    flex: 5;
  }
}

@media (min-width: 767px) {
  .definition-props {
    flex: 3;
  }
}

.swatch {
  width: 50px;
  height: 50px;
}

.screenshot {
  box-sizing: border-box;
	
	.screenshot-caption{
		border-top: 5px solid;
		padding-top: 5px;
	}

  &.screenshot-info {
    
		.screenshot-caption{
			border-color: $sky-highlight-color-info;
		}
  }

  &.screenshot-success {
    .screenshot-caption{
			border-color: $sky-highlight-color-success;
		}
  }

  &.screenshot-danger {
    .screenshot-caption{
			border-color: $sky-highlight-color-danger;
		}
  }
}

// Start content tables
.content-table {
  border-collapse: collapse;
  td, th {
      padding: 10px 5px;
  }
  td {
    border-bottom: 1px dotted $sky-border-color-neutral-light;
    vertical-align: top;
  }
  tr:nth-child(even) {
    background-color: $sky-color-gray-01;
  }
  label {
    display: block;
    padding-left: 23px;
    text-indent: -26px;
  }
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
  a {
    font-size: 14px;
    font-style: italic;
  }
}

// Blog styling
article.blog-post {
	@include sky-border(row);
	margin-bottom: 20px;
}
