@import '~@blackbaud/skyux-design-tokens/scss/mixins';

body,
.stache-layout-blank {
  background-color: #FFF !important;
}

p {
  line-height: 1.6em !important;
}

.sky-demo-bg-gray {
  background-color: $sky-border-color-neutral-light !important;
  padding: 10px !important;
}

.stache-hero {
  @media(min-width: 1000px) {
    background-position-y: -200px !important;
  }
  @media(min-width: 1300px) {
    background-position-y: -300px !important;
  }
}

.tutorial-previous-button {
  text-align: left;
  padding: 10px;
}

.tutorial-next-button {
  text-align: right;
  padding: 10px;
}

/* Design documentation flex table layout */
.definition-table {
  border-bottom: 1px dotted #ccc;
	&:last-of-type {
		border-bottom: none;
	}
}

.definition-code,
.definition-item,
.definition-styling,
.definition-usage {
  margin: 10px 10px 10px 0;
  flex-wrap: wrap;
}

.definition-item {
  width: 100px;
}

.definition-styling,
.definition-table-wide .definition-code {
  flex: 1;
}

.definition-usage {
  flex: 2;
}

.definition-table-narrow .definition-props {
  flex: 1;
}

.text-center {
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

@media (min-width: 479px) {
  .definition-table,
  .definition-props {
    display: flex;
    flex-wrap: wrap;
  }

  .definition-code {
    flex: 1;
  }

  .definition-table-narrow .definition-usage {
    flex: 1;
  }

  .definition-table-narrow .definition-code {
    flex: 5;
  }
}

@media (min-width: 767px) {
  .definition-props {
    flex: 3;
  }
}

.swatch {
  width: 50px;
  height: 50px;
}

.screenshot {

  &.screenshot-info {
    img {
			
		}
		.caption {
			margin-top: $sky-margin-stacked-default;
			padding-top: $sky-margin-stacked-compact;
			border-top: 4px solid $sky-background-color-neutral-light;
  	}
  }

	&.screenshot-success {
		img {
			
		}
		.caption {
			margin-top: $sky-margin-stacked-default;
			padding-top: $sky-margin-stacked-compact;
			border-top: 4px solid $sky-background-color-success;
  	}
	}

  &.screenshot-danger {
		img {
			
		}
		.caption {
			margin-top: $sky-margin-stacked-default;
			padding-top: $sky-margin-stacked-compact;
			border-top: 4px solid $sky-background-color-danger;
  	}
  }

  img {
    display: block;
  }
}

.screenshot-responsive {
  display: block;
  width: 100%;
}

// Start content tables
.content-table {
  border-collapse: collapse;
  td, th {
      padding: 10px 5px;
  }
  td {
    border-bottom: 1px dotted $sky-border-color-neutral-light;
    vertical-align: top;
  }
  tr:nth-child(even) {
    background-color: $sky-color-gray-01;
  }
  label {
    display: block;
    padding-left: 23px;
    text-indent: -26px;
  }
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
  a {
    font-size: 14px;
    font-style: italic;
  }
}

// Blog styling
article.blog-post {
	@include sky-border(row);
	margin-bottom: 20px;
}

// Site redesign placeholders
img.bordered {
	@include sky-border(light, top, right, bottom, left);
}

.two-col-right-image{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
	.two-col-text {
		flex: 0 0 25%;
		min-width: 320px;
		max-width: 690px;
		margin-right: 30px;
	}
	
	.two-col-image {
		flex: 0;
		//display: flex;
		
		img{
		}
	}
}

.sky-margin-stacked-content-section {
	margin-bottom: 50px;
}

.anatomy-marker {
	display: flex;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin-right: $sky-margin-inline-compact;
}

.anatomy-item {
	margin-bottom: $sky-margin-stacked-default;
	display: flex;
	align-items: center;
	
	&.anatomy-item-required {
		.anatomy-marker {
			color: $sky-text-color-on-dark;
			background-color: #4d842d;
		}
	}
		
	&.anatomy-item-optional {
		.anatomy-marker {
			background-color: $sky-background-color-success;
		}
	}
}

.sky-text-block {
	width: 690px;
}

table.sky-content-table {
	border-collapse: collapse;
	
	td, th {
		text-align: left;
		padding: $sky-margin-stacked-default;
	}
	
	td {
		border-bottom: 1px dotted $sky-border-color-neutral-medium; //@include sky-border(row) 
	}
	
	th{
		background-color: $sky-background-color-info-light;
	}
	
	tr {
		border-bottom: 1px dotted $sky-border-color-neutral-medium;
	}
	
	.property-name {
		width: 20%;
		min-width: 200px;
	}
	
	.property-description {
		width: 40%;
		min-width: 200px;
		max-width: 690px;
	}
	
	.property-default {
		width: 20%;
		min-width: 200px;
	}
	
	.property-optional {
		width: 20%;
		min-width: 200px;
	}
}