<sky-demo-page
  pageTitle="URL validation"
  skyuxModule="SkyUrlValidationModule"
  packageName="@skyux/validation"
>

  <sky-demo-page-summary>
    The URL validation module validates the format of URLs in input fields.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="URL validation input directive properties">
    <sky-demo-page-property
      propertyName="skyUrlValidation"
    >
      Creates an input that validates URLs. Place this attribute on an <sky-code>input</sky-code> element. If users enters values that are not valid URLs, an error message appears. This directive uses <sky-code>NgModel</sky-code> to bind data.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="URL validator function properties">
    <sky-demo-page-property propertyName="SkyValidators.url">
      Validates URLs in reactive forms. Add this validator directly to the form control model in the component class. If users enter values that are not valid URLs, the validator throws an error. Since this is a sync validator, it returns a set of validation errors or <sky-code>undefined</sky-code> immediately when users enter values.
    </sky-demo-page-property>
  </sky-demo-page-properties>


  <sky-demo-page-example>
    <sky-url-validation-demo>
    </sky-url-validation-demo>
    <sky-demo-page-code
      demoName="URL validation">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
