<sky-demo-page
  pageTitle="Grid"
  skyuxModule="SkyGridModule"
  packageName="@skyux/grids"
>

  <sky-demo-page-summary>
    <p>
      This grid component displays a SKY UX-themed grid of data. The grid should contain <sky-code>sky-grid-column</sky-code> components that specify column information. The <sky-code>sky-grid</sky-code> component can provide a view of a searchable, paginated list component when used within <a routerLink="../list-view-grid">the <sky-code>sky-list</sky-code> component</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Grid properties">
    <sky-demo-page-property
      propertyName="columns"
    >
    Specifies columns and column properties for the grid. This property accepts an array of <sky-code>SkyGridColumnModel</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="data"
    >
    Specifies the data for the grid. Each item requires an <sky-code>id</sky-code> and a property that maps to the <sky-code>field</sky-code> or <sky-code>id</sky-code> property of each column in the grid. This property accepts an array of <sky-code>any</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="enableMultiselect"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to enable the multiselect feature to display a column of checkboxes on the left side of the grid. You can specify a unique ID with the <sky-code>multiselectRowId</sky-code> property, but multiselect defaults to the <sky-code>id</sky-code> property on the <sky-code>data</sky-code> object. To include options to select and clear all multiselect checkboxes, we recommend the <a routerLink="/components/list/grid">list view grid</a> component. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="fit"
      defaultValue="width"
      isOptional="true"
    >
    Specifies how the grid fits to its parent. The valid options are <sky-code>width</sky-code>, which fits the grid to the parent's full width, and <sky-code>scroll</sky-code>, which allows the grid to exceed the parent's width. If the grid does not have enough columns to fill the parent's width, it always stretches to the parent's full width. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hasToolbar"
      defaultValue="false"
      isOptional="true"
    >
    Indicates whether to display a toolbar with the grid. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="height"
      isOptional="true"
    >
    Specifies the height of the grid. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="highlightText"
      isOptional="true"
    >
    Specifies text to highlight within the grid. Typically, this property is used in conjunction with search. The property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
      isOptional="true"
    >
    Provides an observable to send commands to the grid. The commands should respect the <sky-code>SkyGridMessage</sky-code> type. (See below.)
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="multiselectRowId"
      isOptional="true"
    >
    Specifies a unique ID that matches a property on the <sky-code>data</sky-code> object. By default, this property uses the <sky-code>id</sky-code> property. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="rowHighlightedId"
      isOptional="true"
    >
    Specifies the ID of the row to highlight. The ID matches the <sky-code>id</sky-code> property of the <sky-code>data</sky-code> object. Typically, this property is used in conjunction with the flyout component to indicate the currently selected row. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectedColumnIds"
      isOptional="true"
    >
    Specifies the columns to display in the grid based on the <sky-code>id</sky-code> or <sky-code>field</sky-code> properties of the columns. If no columns are specified, then the grid displays all columns. This property accepts an array of <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="settingsKey"
      isOptional="true"
    >
    Specifies a unique key for the UI Config Service to retrieve stored settings from a database. The UI Config Service saves configuration settings for users and returns <sky-code>selectedColumnIds</sky-code> to preserve their preferred column order and the sorting of columns. This property accepts <sky-code>string</sky-code> values. This property is for internal Blackbaud use only. For Blackbaud developers, the UI Config Service website describes how to <a href="https://docs.blackbaud.com/ui-config-service-docs/learn/integrations/skyux-components/grids">apply sticky settings to grids</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sortField"
      isOptional="true"
    >
    Displays a caret in the column that was used to sort the grid. This is particularly useful when you programmatically sort data and want to visually indicate how the grid was sorted. This property accepts <a stacheRouterLink="." fragment="listsortfieldselectormodel-properties">a <sky-code>ListSortFieldSelectorModel</sky-code> value</a> to represent the current sort field and the sort order.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="width"
      isOptional="true"
    >
    Specifies the width of the grid. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyGridMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true">
      Sets the message to one of the following <sky-code>SkyGridMessage</sky-code> types:
      <ul>
        <li>
          <sky-code>SkyGridMessageType.ClearAll</sky-code> &mdash; Clears the multiselect checkboxes for all rows in the grid.
        </li>
        <li>
          <sky-code>SkyGridMessageType.SelectAll</sky-code> &mdash; Selects the multiselect checkboxes for all rows in the grid.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="ListSortFieldSelectorModel properties">
    <sky-demo-page-property
      propertyName="fieldSelector"
    >
      Represents the current sort field. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="descending"
      defaultValue="false"
      isOptional="true"
    >
      Indicates whether to sort in descending order. The caret that visually indicates the sort order points down for descending order and up for ascending order. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Grid events">
    <sky-demo-page-property
      propertyName="columnWidthChange"
      isOptional="true"
    >
    Fires when the width of a column changes. Emits an array of <sky-code>SkyGridColumnWidthModelChange</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="multiselectSelectionChange"
      isOptional="true"
    >
    Fires when the selection of multiselect checkboxes changes. Emits an array of IDs for the selected rows based on the <sky-code>multiselectRowId</sky-code> property that the consumer provides.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectedColumnIdsChange"
      isOptional="true"
    >
    Fires when the columns to display in the grid change or when the order of the columns changes. The event emits an array of IDs for the displayed columns that reflects the column order.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sortFieldChange"
      isOptional="true"
      isOptional="true"
    >
    Fires when the active sort field changes. Emits a <sky-code>ListSortFieldSelectorModel</sky-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Grid column properties">
    <sky-demo-page-property
      propertyName="description"
    >
    Specifies a description for the column.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="heading"
    >
    Specifies text to display in the column header.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="field"
      isOptional="true"
    >
    Specifies the property to retrieve cell information from an entry on the grid <sky-code>data</sky-code> array. You must provide either the <sky-code>id</sky-code> or <sky-code>field</sky-code> property for every column, but do not provide both. If <sky-code>id</sky-code> does not exist on a column, then <sky-code>field</sky-code> is the entry for the grid <sky-code>selectedColumnIds</sky-code> array.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hidden"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the column is initially hidden when grid <sky-code>selectedColumnIds</sky-code> are not provided.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="id"
      isOptional="true"
    >
    Specifies a unique ID for the column. You must provide either the <sky-code>id</sky-code> or <sky-code>field</sky-code> property for every column, but do not provide both. If <sky-code>field</sky-code> does not exist on a column, then the <sky-code>id</sky-code> property retrieves cell information from an entry on the grid <sky-code>data</sky-code> array.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isSortable"
      [isOptional]="true"
      defaultValue="true"
    >
    Indicates whether the column sorts the grid when users click the column header.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="locked"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the column is locked. If set to <sky-code>true</sky-code>, then users cannot drag the column to another position and or drag other columns before the locked column.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="search"
      isOptional="true"
    >
    Specifies a search function to apply for the specific column. By default, the column executes a string compare on the column data. Acceptable values: <sky-code>(data: any, searchText: string) => boolean</sky-code>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="template"
      isOptional="true"
    >
    Specifies a template for a column. This can be assigned as a reference to the <sky-code>template</sky-code> attribute, or it can be assigned as a child of the <sky-code>template</sky-code> element inside the <sky-code>sky-grid-column</sky-code> component. The template has access to the <sky-code>value</sky-code> variable, which contains the value passed to the column, and the <sky-code>row</sky-code> variable, which contains the entire row data.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="width"
      isOptional="true"
    >
    Specifies the width of the column.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-grid-demo></sky-grid-demo>
    <sky-demo-page-code demoName="Grid"></sky-demo-page-code>
  </sky-demo-page-example>


  <sky-demo-page-content sectionHeading="UX guidelines">
	
	<stache-include fileName="components/grid-ux-guidelines.html"></stache-include>

	<sky-row>
		<sky-column screenSmall="4" screenMedium="3">
			<header><div class="sky-section-heading">Related components</div></header>
			<ul>
				<li><a routerLink="/components/card">Card</a></li>
				<li><a routerLink="/components/filter">Filter</a></li>
				<li><a routerLink="/components/infinite-scroll">Infinite scroll</a></li>
				<li><a routerLink="/components/list/grid">List view grid</a></li>
				<li><a routerLink="/components/paging">Paging</a></li>
				<li><a routerLink="/components/repeater">Repeater</a></li>
				<li><a routerLink="/components/sort">Sort</a></li>
				<li><a routerLink="/components/summary-actionbar">Summary action bar</a></li>
				<li><a routerLink="/components/toolbar">Toolbar</a></li>
			</ul>
		</sky-column>		
		<sky-column screenSmall="4" screenMedium="3">
			<header><div class="sky-section-heading">Related guidelines</div></header>
			<ul>
				<li><a routerLink="/design/guidelines/page-layouts">Page layout</a></li>
			</ul>
		</sky-column>
	</sky-row>
    
  </sky-demo-page-content>

</sky-demo-page>
