<sky-tabbed-demo-page
  pageTitle="Passive Progress Indicator"
>

  <sky-demo-page-summary>
    <p>
      The progress indicator module visually represents progress through sequential steps toward a goal. Passive progress indicators represent steps outside of user control.
    </p>
  </sky-demo-page-summary>

  <div class="sky-margin-stacked-content-section">
    <sky-demo-page-example>
      <sky-progress-indicator-demo>
      </sky-progress-indicator-demo>
    </sky-demo-page-example>
  </div>

  <sky-tabset id="content-tabs">
    
    <sky-tab tabHeading="Design">
      <sky-demo-page-content sectionHeading="Usage">
        <h3 class="sky-text-success">Use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Use passive progress indicators when users must be aware of sequential progress that they are not responsible for.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <div>
              <img src="~/assets/img/guidelines/progress-indicator/passive-progress-usage-1.png" />
              <div class="caption caption-success sky-text-success">Do use passive progress indicators to track sequential steps that other users take.</div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    
        <h3 class="sky-text-danger">Don't use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Don't use passive progress indicators for tasks that require user interaction. Use <a routerLink="/components/progress-indicator/waterfall-progress-indicator">waterfall progress indicators</a> or <a routerLink="/components/wizard">wizards</a> instead.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <div>
              <img src="~/assets/img/guidelines/progress-indicator/passive-progress-usage-2.png" />
              <div class="caption caption-danger sky-text-danger">Don't use passive progress indicators when users must take action on any of the steps.</div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Don’t use passive progress indicators to represent independent steps or statuses that are not sequential.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <div>
              <img src="~/assets/img/guidelines/progress-indicator/passive-progress-usage-3.png" />
              <div class="caption caption-danger sky-text-danger">Don't use passive progress to track steps that are not sequential.</div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Don't use passive progress indicators simultaneously for multiple items in lists.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <div class="sky-margin-stacked-separate">
              <img src="~/assets/img/guidelines/progress-indicator/passive-progress-usage-4.png" />
              <div class="caption caption-danger sky-text-danger">Don't display multiple passive progress indicators in lists.</div>
            </div>
            <div>
              <img src="~/assets/img/guidelines/progress-indicator/passive-progress-usage-5.png" />
              <div class="caption caption-success sky-text-success">Do roll up steps into a single status in lists. Use a container such as <a routerLink="/components/flyout">flyouts</a> or <a routerLink="/components/popover">popovers</a> to display details from passive progress indicators.</div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      </sky-demo-page-content>
    
      <sky-demo-page-content sectionHeading="Anatomy">
        <sky-docs-anatomy imagePath="~/assets/img/guidelines/progress-indicator/passive-progress-anatomy.png">
          <sky-docs-anatomy-item anatomyNumber="1">Completed step indicator</sky-docs-anatomy-item>
          <sky-docs-anatomy-item anatomyNumber="2">Pending step indicator</sky-docs-anatomy-item>
            <sky-docs-anatomy-item anatomyNumber="3">Step label</sky-docs-anatomy-item>
          <sky-docs-anatomy-item isOptional="true" anatomyNumber="4">Step details</sky-docs-anatomy-item>
        </sky-docs-anatomy>
      </sky-demo-page-content>
    
      <sky-demo-page-content sectionHeading="Options">
        <h3>Step details</h3>
        <div class="sky-text-block">
          <p>You can provide additional details about completed or current steps. Use step details to provide extra context to users, but avoid too many details or the implication that users should take action.</p>
        </div>
      </sky-demo-page-content>
    
      <sky-demo-page-content sectionHeading="Content">
        <div class="sky-text-block">
          <p>Be concise in step labels. For completed steps, use past tense verbs ("Submitted," "Approved") and include datestamps in parentheses. Only include timestamps if the extra detail is necessary. For pending steps, use present tense verbs or gerunds ("Submitting", "Awaiting").</p>
          <p>Use step details sparingly, and be concise.</p>
        </div>
      </sky-demo-page-content>
    
      <sky-demo-page-content sectionHeading="Layout">
        <div class="sky-text-block">
          <p>Use passive progress indicators one at a time. When they apply to record views, use them in page summaries or other containers such as tiles.</p>
          <p>To display passive progress indicators for items in lists, use dynamic containers such as <a routerLink="/components/flyout">flyouts</a> or <a routerLink="/components/popover">popovers</a>.</p>
        </div>
      </sky-demo-page-content>
    
      <sky-demo-page-content sectionHeading="Related information">
        <h3>Components</h3>
        <ul>
          <li><a routerLink="/components/flyout">Flyout</a></li>
          <li><a routerLink="/components/popover">Popover</a></li>
            <li><a routerLink="/components/progress-indicator/waterfall-progress-indicator">Waterfall progress indicator</a></li>
            <li><a routerLink="/components/wizard">Wizard</a></li>
        </ul>
        <h3>Guidelines</h3>
        <ul>
          <li><a routerLink="/design/guidelines/call-out-info">Calling out information</a></li>
        </ul>
      </sky-demo-page-content>
    </sky-tab>
    
    <sky-tab tabHeading="Development">
      <sky-demo-page-properties sectionHeading="Progress indicator child components">
        <sky-demo-page-property
          propertyName="sky-progress-indicator-item"
        >
          Specifies a step to include in the progress indicator.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="sky-progress-indicator-nav-button"
        >
          Displays a button to navigate the steps in a modal wizard.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="sky-progress-indicator-reset-button"
        >
          Displays a button to mark all items in the progress indicator as incomplete and set the first progress item as the active item.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="sky-progress-indicator-title"
        >
          Specifies a header to display above the progress indicator.
        </sky-demo-page-property>
      </sky-demo-page-properties>
  
      <sky-demo-page-properties sectionHeading="Progress indicator properties">
        <sky-demo-page-property
          propertyName="displayMode"
          isOptional="true"
          defaultValue="Vertical"
        >
          Specifies whether to display the progress indicator vertically or horizontally. For <a routerLink="/components/wizard">modal wizards</a>, use the horizontal display mode. For waterfall pages and passive progress indicators, use the vertical display mode. This property accepts <sky-code>string</sky-code> values and a type of <a stacheRouterLink="." fragment="skyprogressindicatordisplaymode-properties">the <sky-code>SkyProgressIndicatorDisplayMode</sky-code> property</a>.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="isPassive"
          isOptional="true"
          defaultValue="false"
        >
          Indicates whether the progress indicator is passive. Passive progress indicators inform users of progress that concerns them but that they are not responsible for, and they must use the vertical display mode. This property accepts <sky-code>boolean</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="messageStream"
          isOptional="true"
        >
          Specifies <a stacheRouterLink="." fragment="skyprogressindicatormessagetype-properties">an observable of <sky-code>SkyProgressIndicatorMessageType</sky-code></a> that determines the status to display for progress items in the progress indicator. The message stream is a queue of commanding messages to change the state of the progress indicator based on one of the three message types. This property accepts <sky-code>string</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="startingIndex"
          isOptional="true"
        >
          Specifies the index for the first progress item to make active when the progress indicator loads. All steps that precede the first progress item are marked as complete. This property accepts <sky-code>number</sky-code> values.
        </sky-demo-page-property>
      </sky-demo-page-properties>
  
      <sky-demo-page-properties sectionHeading="Progress indicator events">
        <sky-demo-page-property
          propertyName="progressChanges"
          isOptional="true"
        >
          Fires when the progress indicator changes the status of a progress item.
        </sky-demo-page-property>
      </sky-demo-page-properties>
  
      <sky-demo-page-properties sectionHeading="SkyProgressIndicatorDisplayMode properties">
        <sky-demo-page-property
          propertyName="Horizontal"
        >
          Specifies a horizontal layout for the progress indicator.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="Vertical"
        >
          Specifies a vertical layout for the progress indicator.
        </sky-demo-page-property>
      </sky-demo-page-properties>
  
      <sky-demo-page-properties sectionHeading="SkyProgressIndicatorMessageType properties">
        <sky-demo-page-property
          propertyName="Progress"
        >
          Indicates that the current step is complete. This completes the active progress item and moves to the next progress item.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="Regress"
        >
          Indicates that progress should return to the previous item. This moves from the currently active item to the item that precedes it.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="Reset"
        >
          Indicates that progress is incomplete. This marks all items as incomplete and sets the first progress item as the active item.
        </sky-demo-page-property>
      </sky-demo-page-properties>
  
      <sky-demo-page-properties sectionHeading="Progress indicator reset button properties">
        <sky-demo-page-property
          propertyName="progressIndicator"
        >
          Specifies the progress indicator component to associate with the reset button. This property accepts an array or Observable array of <sky-code>string</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="disabled"
          isOptional="true"
          defaultValue="false"
        >
          Indicates whether to disable the reset button. This property accepts <sky-code>boolean</sky-code> values.
        </sky-demo-page-property>
      </sky-demo-page-properties>

      <sky-demo-page-properties sectionHeading="Progress indicator reset button events">
        <sky-demo-page-property
          propertyName="resetClick"
          isOptional="true"
        >
          Fires when users select the reset button that marks all items as incomplete and sets the first progress item as the active item.
        </sky-demo-page-property>
      </sky-demo-page-properties>

      <sky-demo-page-properties sectionHeading="Progress indicator nav button properties">
        <p>
          The progress indicator nav button component allows users to navigate the steps in modal wizards. We recommend against using it in waterfall pages and passive progress indicators.
        </p>
        <sky-demo-page-property
          propertyName="progressIndicator"
        >
          Specifies the progress indicator component to associate with the nav button. This property accepts an array or Observable array of <sky-code>string</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="buttonText"
          isOptional="true"
          defaultValue="Next"
        >
          Specifies the label to display on the nav button. The property accepts <sky-code>string</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="buttonType"
          isOptional="true"
          defaultValue="next"
        >
          Specifies the type of nav button to include. The valid options are <sky-code>finish</sky-code>, <sky-code>next</sky-code>, and <sky-code>previous</sky-code>. This property accepts <sky-code>string</sky-code> values.
        </sky-demo-page-property>
        <sky-demo-page-property
          propertyName="disabled"
          isOptional="true"
          defaultValue="false"
        >
          Indicates whether to disable the nav button. This property accepts <sky-code>boolean</sky-code> values.
        </sky-demo-page-property>
      </sky-demo-page-properties>
      
      <sky-demo-page-example>
        <sky-progress-indicator-demo>
        </sky-progress-indicator-demo>
        <sky-demo-page-code demoName="Progress indicator"></sky-demo-page-code>
      </sky-demo-page-example>
    </sky-tab>
  </sky-tabset>

</sky-tabbed-demo-page>
