<stache
  pageTitle="Button"
  windowTitle="Button"
  layout="container"
	showTableOfContents="true">

  <p>
    The button classes create buttons to trigger actions from within an interface. For information about styles and implementation, see the <a routerLink="/design/guidelines/buttons-links">buttons and links guidelines</a>.
  </p>
	
	<div>
	<stache-page-anchor>Classes</stache-page-anchor>
	
  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-primary">Primary</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>
          The primary button triggers the most important action on a page, the most frequently used action on a page, or the progressive terminal action on a dialogue (such as 'Save' or 'Done'). Pages and dialogues should only include one primary button to ensure that it draws user attention. For information about how to use primary actions, see the <a routerLink="/design/guidelines/page-layouts" fragment="primary-action-guidelines">primary action guidelines</a>.
        </p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-primary&quot;&gt;Primary&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-default">Secondary</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>
          Secondary buttons trigger less important or less frequently used actions. Since secondary buttons are less important than primary buttons, SKY UX reduces the visual weight to make them noticeable but not attention-drawing.
        </p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-default&quot;&gt;Secondary&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-link">Link button</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>
          Link buttons can trigger actions that take users to other pages. They can also trigger actions that end tasks or exit modals. For example, you can use this option to create a Cancel button.
        </p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-link&quot;&gt;Link button&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-link-inline">Inline link</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>
          Inline link buttons trigger the same type of actions as link buttons, but the styling is altered so that the buttons fit inline.
        </p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-link-inline&quot;&gt;Inline link&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>
	
	<div class="definition-table">
    <div class="definition-item">
      <div style="margin-bottom: 10px;">
        <button type="button" class="sky-btn sky-btn-primary sky-btn-disabled">Primary</button>
      </div>
      <div style="margin-bottom: 10px;">
        <button type="button" class="sky-btn sky-btn-default sky-btn-disabled">Secondary</button>
      </div>
      <div style="margin-bottom: 10px;">
        <button type="button" class="sky-btn sky-btn-link sky-btn-disabled">Link button</button>
      </div>
      <div style="margin-bottom: 10px;">
        <button type="button" class="sky-btn sky-btn-link-inline sky-btn-disabled">Inline link</button>
      </div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>You can disable all button types by applying an additional class. The most common case is to disable actions until users complete the prerequisite tasks.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>class="sky-btn-disabled"</stache-code>
      </div>
    </div>
  </div>
		
	</div>
	
	<div>
	<stache-page-anchor>UX guidelines</stache-page-anchor>
	<div class="sky-subsection-heading">Button text</div>
	<p>Use the following format for button text:</p>
	<p><span class="sky-emphasized">&lt;Verb&gt; &lt;direct object&gt;</span></p>
	<p></p>
	<div style="margin-bottom: 20px;">
		<img class="screenshot screenshot-info" src="~/assets/img/guidelines/wording/add-button.png" alt="button text: Add constituent"/>
	</div>
	<p>Additional button text guidelines:</p>
	<ul>
		<li>Use sentence case.</li>
		<li>The direct object can be singular or plural depending on whether the action lets you act on one or multiple items.</li>
		<li>Don’t append extra words such as “details.” For example, use “Edit constituent” rather than “Edit constituent details.”</li>
	</ul>
	
	<div class="sky-subsection-heading">Related guidelines</div>
		<ul>
			<li><a routerLink="/design/guidelines/buttons-links">Buttons and links</a></li>
		</ul>	
		
	</div>
	
</stache>
