<sky-demo-page
  pageTitle="Confirm"
  skyuxModule="SkyConfirmModule"
  packageName="@skyux/modals"
>

  <sky-demo-page-summary>
    The confirm service launches simple confirmation dialogs to allow users to confirm actions. The <sky-code>SkyConfirmService</sky-code> provider launches the confirmation dialog. Within the service, you can specify the dialog's message and customize the button text.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Confirm service methods">
    <sky-demo-page-property
      propertyName="open(config)"
      isOptional="true"
    >
    Opens a confirmation dialog and passes the <sky-code>config</sky-code> parameter of type <sky-code>SkyConfirmConfig</sky-code> to the component's constructor. This method returns an object of type <sky-code>SkyConfirmInstance</sky-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Service configuration (SkyConfirmConfig)">
    <sky-demo-page-property
      propertyName="message"
    >
    Specifies the message to display in a bold font at the top of the dialog. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="body"
      isOptional="true"
    >
    Specifies secondary text to display in plain font under the primary message. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttons"
      isOptional="true"
    >
    Specifies an array of <sky-code>SkyConfirmButtonConfig</sky-code> objects that overwrite the default configuration for buttons. The number of items in the array must match the number of buttons that the <sky-code>type</sky-code> property specifies. Each <sky-code>SkyConfirmButtonConfig</sky-code> object includes the following properties:
    <ul>
      <li>
        <sky-code>action</sky-code> — Specifies an identifier to return when users select the button to close the confirmation dialog. This is useful to determine which button users select. This property accepts <sky-code>string</sky-code> values.
      </li>
      <li>
        <sky-code>text</sky-code> — Specifies the label for the button. This property accepts <sky-code>string</sky-code> values.
      </li>
      <li>
        <sky-code>autofocus</sky-code> — <em>(Optional.)</em> Indicates whether to place focus on this button by default. This property accepts <sky-code>boolean</sky-code> values. <em>(Default: false)</em>
      </li>
      <li>
        <sky-code>styleType</sky-code> — <em>(Optional.)</em> Specifies a <a stacheRouterLink="/components/button" fragment="classes">SKY UX button class</a> to apply to the button. The valid options are <sky-code>primary</sky-code> to format the primary action on the dialog, <sky-code>default</sky-code> to format a secondary action, and <sky-code>link</sky-code> to format an action that takes users to another page. This property accepts <sky-code>string</sky-code> values.
      </li>
    </ul>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="preserveWhitespace"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to preserve whitespace and new lines inside the confirm component. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="type"
      isOptional="true"
    >
    Specifies a <sky-code>SkyConfirmType</sky-code> enum that indicates how many buttons to include in the dialog. The valid options are:
    <ul>
      <li>
        <sky-code>Custom</sky-code> — Allows you to define your own buttons using the <sky-code>buttons</sky-code> property to specify an array of <sky-code>SkyConfirmButtonConfig</sky-code> objects.  The integer value equivalent is 0.
      </li>
      <li>
        <sky-code>OK</sky-code> — Displays one button with <strong>OK</strong> as the default label. The integer value equivalent is 1.
      </li>
      <li>
        <sky-code>YesCancel</sky-code> — Displays two buttons with <strong>Yes</strong> and <strong>Cancel</strong> as the default labels. The integer value equivalent is 2.
      </li>
      <li>
        <sky-code>YesNoCancel</sky-code> — Displays three buttons with <strong>Yes</strong>, <strong>No</strong>, and <strong>Cancel</strong> as the default labels. The integer value equivalent is 3.
      </li>
    </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyConfirmInstance events">
    <sky-demo-page-property
      propertyName="closed"
      isOptional="true"
    >
    Fires when users select an action to close the confirmation dialog. This event returns a <sky-code>SkyConfirmCloseEventArgs</sky-code> object with information about the button that users select. The <sky-code>SkyConfirmCloseEventArgs</sky-code> object includes the following property:
    <ul>
      <li>
        <sky-code>action</sky-code> — The identifier for the button that users selected to close the confirmation dialog.
      </li>
    </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-confirm-demo>
    </sky-confirm-demo>
    <sky-demo-page-code
      demoName="Confirm">
    </sky-demo-page-code>
  </sky-demo-page-example>

	<sky-demo-page-content sectionHeading="UX guidelines">
		<section>
			<header>
        <div class="sky-section-heading">Usage</div>
      </header>
			<p>
        A confirmation dialog focuses user attention on a specific question. It is appropriate for scenarios that meet the following criteria:
      </p>
			<ul>
				<li>
          <p>
            An action could be destructive or especially costly when performed by mistake.
          </p>
        </li>
				<li>
          <p>
            Users must respond to a single question to proceed with the action.
          </p>
        </li>
				<li>
          <p>
            The response to the question requires no input fields.
          </p>
        </li>
			</ul>
		</section>
		<section>
  		<header>
        <div class="sky-section-heading">Content</div>
      </header>
			<p>
        The question portion of the dialog must contain only one question.
      </p>
			<ul>
        <li>
          <p>
            The text can be more than one sentence.
          </p>
        </li>
				<li>
          <p>
            <span class="sky-text-danger">Do not use this component if the context of the question requires significant explanation, illustration, or dynamic feedback of downstream consequences.</span>
          </p>
        </li>
			</ul>
			<p>
        The answer portion of the dialog answers the question or tells users what will happen. It can contain up to 3 choices represented as terminal actions (buttons) that should reiterate the action to take. For example, use "Delete" for the primary button text if the question is "Are you sure you want to delete this draft?"
      </p>
			<ul>
				<li>
          <p>
            A primary button triggers the recommended or most-common action.
          </p>
        </li>
				<li>
          <p>
            A secondary button can trigger a less-common action.
          </p>
        </li>
				<li>
          <p>
            A link button cancels the action.
          </p>
        </li>
				<li>
          <p>
            Each button closes the dialog.
          </p>
        </li>
			</ul>
		</section>
	</sky-demo-page-content>

</sky-demo-page>
