<sky-demo-page
  pageTitle="Toast"
  skyuxModule="SkyToastModule"
>

  <sky-demo-page-summary>
    <p>
      The toast module displays messages over the page's content.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="SkyToastService">
    <p>
      The <stache-code>SkyToastService</stache-code> launches toast messages and provides a common look and feel.
    </p>
    <sky-demo-page-property
      propertyName="openMessage(message, config?)">
      Opens a message toast and displays the provided message. The <stache-code>message</stache-code> parameter is of type <stache-code>string</stache-code> and determines the message to be displayed. The optional <stache-code>config</stache-code> parameter is of type <stache-code>SkyToastConfig</stache-code> and adds additional configuration options to the toast. This method returns a <stache-code>SkyToastInstance</stache-code> instance.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="openComponent(component, config?, providers?)"
    >
      Opens a custom toast and renders the provided component in a toast. The <stache-code>component</stache-code> parameter determines the component to be rendered. The optional <stache-code>config</stache-code> parameter is of type <stache-code>SkyToastConfig</stache-code> and adds additional configuration options to the toast. The optional <stache-code>providers</stache-code> parameter is of type <stache-code>StaticProvider[]</stache-code> and specifies an array of custom providers to pass to the <stache-code>component</stache-code>'s constructor. This method returns a <stache-code>SkyToastInstance</stache-code> instance.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="closeAll()"
    >
      Closes all open toasts at once.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyToastConfig">
    <p>
      The configuration used to set up a toast.
    </p>
    <sky-demo-page-property
      propertyName="type"
      isOptional="true"
    >
      The type of toast that determines the color and icon displayed. Available values are:
      <ul>
        <li><stache-code>SkyToastType.Info</stache-code></li>
        <li><stache-code>SkyToastType.Success</stache-code></li>
        <li><stache-code>SkyToastType.Warning</stache-code></li>
        <li><stache-code>SkyToastType.Danger</stache-code></li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyToastInstance">
    <p>
      An object representing a single, displayed toast.
    </p>
    <sky-demo-page-property propertyName="close()">
      Closes the respective toast.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="closed">
      An observable that indicates when the toast has been closed.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-toast-demo>
    </sky-toast-demo>
    <sky-demo-page-code
      demoName="Toast">
    </sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
