<sky-tabbed-demo-page
  pageTitle="Timepicker"
>

<sky-demo-page-summary>
  <p>
    The timepicker module creates a SKY UX-themed input field and picker for users to enter or select times.
  </p>
</sky-demo-page-summary>

<sky-demo-page-example>
   <sky-timepicker-demo></sky-timepicker-demo>
</sky-demo-page-example>

<sky-tabset id="content-tabs">
  
  <sky-tab tabHeading="Design">
    <sky-demo-page-content sectionHeading="Usage">
      
      <h3 class="sky-text-success">Use when</h3>
      
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Use timepickers when users need to specify the time of day.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-usage-1.png" />
          <div class="caption caption-success sky-text-success">Do use timepickers when users specify times in 12-hour or 24-hour formats.</div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Use two timepickers when users need to specify start and stop times.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-usage-2.png" />
          <div class="caption caption-success sky-text-success">Do use two timepickers when users specify time ranges with start and stop times.</div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      
      <h3 class="sky-text-danger">Don't use when</h3>
      
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Don't use timepickers when users need to specify general durations or time spans. Use <a routerLink="/components/radio">radio buttons</a> or HTML select fields instead.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-usage-3.png" />
          <div class="caption caption-danger sky-text-danger sky-margin-stacked-content-section">Don't use timepickers when users specify hours and minutes as lengths of time.</div>
        </sky-docs-visual-example-image>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-usage-4.png" />
          <div class="caption caption-success sky-text-success">Do use <a routerLink="/components/radio">radio buttons</a> or HTML select fields when users specify durations or time spans.</div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/timepicker/timepicker-anatomy.png">
        <sky-docs-anatomy-item anatomyNumber="1">Input field</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Picker button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Picker</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Options">
      <h3>12-hour timepicker</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Use the 12-hour option for regions and users that use 12-hour time designations. This allows users to select hours, minutes, and "AM" or "PM".</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-options-1.png" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      
      <h3>24-hour timepicker</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Use the 24-hour option for regions and users that use 24-hour time designations. This allows users to select hours and minutes.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/timepicker/timepicker-options-2.png" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Behavior and states">


        
<!--  This behavior discusses a pending issue https://github.com/blackbaud/skyux-datetime/issues/61
        Leave this out until the intended behavior is implemented
            <h3>Automatic default</h3>
            <sky-docs-visual-example>
              <sky-docs-visual-example-text>
                <p>You can choose to initialize a timepicker with a default time. This will appear in the text field and will set the selected state of the fields in the picker popup as well.</p>
                <p>If a timepicker has no initial value, it will automatically set its own default when the picker button is selected. The default is automatically set to the next hour, on the hour. For example, if the picker button is clicked at 10:37 AM, it will set the default time to 11:00 AM.</p>
            </sky-docs-visual-example-text>
              <sky-docs-visual-example-image>
                    <img src="~/assets/img/guidelines/timepicker/timepicker-behavior-placeholder.png" />
                </sky-docs-visual-example-image>
            </sky-docs-visual-example>
-->

      <h3>Keyboard entries</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>Users can use the keyboard to enter time values in the input field. Times automatically resolve to the correct format when the field loses focus.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <video class="bordered" controls>
            <source src="~/assets/img/guidelines/timepicker/timepicker-autoformatting.mp4" type="video/mp4" />
          </video>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    
      <h3>States</h3>
      <sky-demo-page-component-states>
        <sky-demo-page-component-state stateName="Default" imagePath="~/assets/img/guidelines/timepicker/timepicker-state-default.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Input field focused" imagePath="~/assets/img/guidelines/timepicker/timepicker-state-focused.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Picker open" imagePath="~/assets/img/guidelines/timepicker/timepicker-state-picker.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Time entered" imagePath="~/assets/img/guidelines/timepicker/timepicker-state-entered.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Error" imagePath="~/assets/img/guidelines/timepicker/timepicker-state-error.png"></sky-demo-page-component-state>
      </sky-demo-page-component-states>
    </sky-demo-page-content>
  
    <sky-demo-page-content sectionHeading="Layout">
      <div class="sky-docs-text-block">
        <p>Use 1/2- or 1/3-width columns for individual timepicker fields inside <a routerLink="/components/modal">modals</a>, except when using small (300px) modals. When using two timepickers for start and stop times, use 10px of horizontal space between them.</p>
      </div>
    </sky-demo-page-content>
  
    <sky-demo-page-content sectionHeading="Related information">
      <h3>Components</h3>
      <ul>
        <li><a routerLink="/components/datepicker">Datepicker</a></li>
        <li><a routerLink="/components/popover">Popover</a></li>
        <li><a routerLink="/components/radio">Radio button</a></li>
      </ul>
    
      <h3>Guidelines</h3>
      <ul>
        <li><a routerLink="/design/guidelines/form-design">Form design</a></li>
      </ul>
    </sky-demo-page-content>
  </sky-tab>

  <sky-tab tabHeading="Development">
    <p>
      The timepicker module contains directives to create a SKY UX-themed replacement for the HTML <sky-code>input</sky-code> element with <sky-code>type="time"</sky-code>. The value that users select is driven through the <sky-code>ngModel</sky-code> attribute specified on the <sky-code>input</sky-code> element.
    </p>
    <sky-demo-page-module-info
      skyuxModule="SkyTimepickerModule"
      packageName="@skyux/datetime"
      githubRepo="skyux-datetime"
    >
    </sky-demo-page-module-info>
  
    <sky-demo-page-properties sectionHeading="Timepicker input directive properties">
      <sky-demo-page-property
        propertyName="skyTimepickerInput"
      >
      Creates the timepicker input field and picker. Place this attribute on an <sky-code>input</sky-code> element, and wrap the input in a <sky-code>sky-timepicker</sky-code> component. This attribute must be set to the instance of the <sky-code>sky-timepicker</sky-code>.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="disabled"
        isOptional="true"
        defaultValue="false"
      >
      Indicates whether to disable the timepicker. This property accepts <sky-code>boolean</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="returnFormat"
        isOptional="true"
      >
      Specifies a custom time format. For examples, see the <a href="https://momentjs.com/docs/#/displaying/format/">moment.js docs</a>. This property accepts <sky-code>string</sky-code> values.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="timeFormat"
        isOptional="true"
        defaultValue="hh"
      >
      Specifies the 12-hour <sky-code>hh</sky-code> or 24-hour <sky-code>HH</sky-code> time format for the input. This property accepts <sky-code>string</sky-code> values.
      </sky-demo-page-property>
    </sky-demo-page-properties>
  
    <sky-demo-page-properties sectionHeading="Timepicker events">
      <sky-demo-page-property
        propertyName="selectedTimeChanged"
        isOptional="true"
      >
      Fires when the value in the timepicker input changes.
      </sky-demo-page-property>
    </sky-demo-page-properties>
  
    <sky-demo-page-example>
      <sky-timepicker-demo></sky-timepicker-demo>
      <sky-demo-page-code
        demoName="Timepicker">
      </sky-demo-page-code>
    </sky-demo-page-example>
  
  </sky-tab>

</sky-tabset>

</sky-tabbed-demo-page>
