<sky-demo-page
  pageTitle="Timepicker"
  skyuxModule="SkyTimepickerModule"
  packageName="@skyux/datetime"
>

  <sky-demo-page-summary>
    The timepicker module contains directives to let users select times. It is a SKY UX-themed replacement for the HTML <sky-code>input</sky-code> element with <sky-code>type="time"</sky-code>.
    The value that users select is driven through the <sky-code>ngModel</sky-code> attribute
    specified on the <sky-code>input</sky-code> element.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Timepicker input directive properties">
    <sky-demo-page-property
      propertyName="skyTimepickerInput"
    >
    Creates the timepicker input and dropdown. Place this attribute on an <sky-code>input</sky-code> element, and wrap the input in a <sky-code>sky-timepicker</sky-code> component. This attribute must be set to the instance of the <sky-code>sky-timepicker</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false">
    Indicates whether to disable the timepicker. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="returnFormat"
      isOptional="true">
    Specifies a custom time format. See the <a href="https://momentjs.com/docs/#/displaying/format/">moment.js docs</a> for examples. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="timeFormat"
      isOptional="true"
      defaultValue="hh">
    Specifies the 12-hour <sky-code>hh</sky-code> or 24-hour <sky-code>HH</sky-code> time format for the input. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Timepicker component events">
    <sky-demo-page-property
      propertyName="selectedTimeChanged">
    Fires when the value in the timepicker input changes.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-timepicker-demo></sky-timepicker-demo>
    <sky-demo-page-code
      demoName="Timepicker">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
