<sky-demo-page
  pageTitle="Timepicker"
  skyuxModule="SkyTimepickerModule"
>

  <sky-demo-page-summary>
    The timepicker module contains directives to let users select times. It is a SKY UX-themed replacement for the HTML <stache-code>input</stache-code> element with <stache-code>type="time"</stache-code>.
    The value that users select is driven through the <stache-code>ngModel</stache-code> attribute
    specified on the <stache-code>input</stache-code> element.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Timepicker input directive properties">
    <sky-demo-page-property
      propertyName="skyTimepickerInput"
    >
    Creates the timepicker input and dropdown. Place this attribute on an <stache-code>input</stache-code> element, and wrap the input in a <stache-code>sky-timepicker</stache-code> component. This attribute must be set to the instance of the <stache-code>sky-timepicker</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false">
    Indicates whether to disable the datepicker. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="returnFormat"
      isOptional="true">
    Specifies a custom time format. See the <a href="https://momentjs.com/docs/#/displaying/format/">moment.js docs</a> for examples. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="timeFormat"
      isOptional="true"
      defaultValue="hh">
    Specifies the 12-hour <stache-code>hh</stache-code> or 24-hour <stache-code>HH</stache-code> time format for the input. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Timepicker component events">
    <sky-demo-page-property
      propertyName="selectedTimeChanged">
    Fires when the value in the timepicker input changes.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-timepicker-demo></sky-timepicker-demo>
    <sky-demo-page-code demoName="Timepicker"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
