<sky-tabbed-demo-page
  pageTitle="Split view"
>
  <sky-demo-page-summary>
    <p>
      The split view component displays a list alongside a workspace where users can view details for the selected item and take actions.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-split-view-demo></sky-split-view-demo>
  </sky-demo-page-example>

<sky-tabset id="content-tabs">

  <sky-tab
    tabHeading="Design">

    <sky-demo-page-content sectionHeading="Usage">
      <h3 class="sky-text-success">Use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Use a split view when users need to work through a list of items with the intent of taking action on each item.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/use-when.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      <h3 class="sky-text-danger">Don't use when</h3>
        <div class="sky-text-block"><p>Don't use a split view when users are likely to interact with a small number of items in the list. Use a regular list instead, and follow the <a stacheRouterLink="/components/flyout" fragment="ux-guidelines">flyout</a> guidelines to determine whether to use a flyout or navigate to the selected record.</p></div>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <h3>Large viewport</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/split-view/anatomy-desktop.png">
        <sky-docs-anatomy-item anatomyNumber="1">List panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Workspace panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3" isOptional="true">Summary action bar</sky-docs-anatomy-item>
      </sky-docs-anatomy>
      <h3>Small viewport</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/split-view/anatomy-mobile.png">
        <sky-docs-anatomy-item anatomyNumber="1">List panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Responsive header bar</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Workspace panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4" isOptional="true">Summary action bar</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>List type</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p><a routerLink="/components/repeater">Repeaters</a> are the most common list type because they enable flexible content layouts.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/option-list-type-repeater.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Tree views can be used when items are hierarchical. If items at different levels have different types, you can use multiple views in the workspace panel.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/option-list-type-tree.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>You can technically use <a routerLink="/components/grid">grids</a>, but we recommend that you avoid them if possible. They do not scale well at the typically small width of the list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/option-list-type-grid.png" />
            <div class="caption caption-warning sky-text-warning">Use caution with grids because they do not perform well at narrow widths.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      <h3>List manipulation</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>You can include a <a routerLink="/components/list/toolbar">list toolbar</a> to let users add items to the list or filter, sort, and search the list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/option-toolbar.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Behavior and states">
      <h3>Automatically advance to the next item</h3>
        <div class="sky-text-block">
          <p>If users are likely to work through the list sequentially, automatically advance to the next item after users invoke the primary action in the workspace.</p>
        </div>
      <h3>Place focus in the workspace</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>When users select an item in the list, place focus on the first focusable element in the workspace so that users can start working immediately.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/behavior-focus.png" />
          </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      <h3>Change panel width</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Users can change the panel widths using drag-and-drop or keyboard interactions. If the list content is wider than the panel, a horizontal scrollbar appears.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/split-view/behavior-resize.png" />
          </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    </sky-demo-page-content>
    <h3>Responsiveness</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>In smaller viewports, the split view automatically switches from a side-by-side view to a panel-switching interaction where users switch between the list and the workspace. The responsive workspace header should include iterator buttons for users to move between items without going back to the list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
             <img src="~/assets/img/guidelines/split-view/behavior-responsive.png" />
          </sky-docs-visual-example-image>
      </sky-docs-visual-example>

    <sky-demo-page-content sectionHeading="Layout">
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>A split view should be the last item on a page. Do not place additional content below it.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/split-view/layout-last-item.png" />
          <div class="caption caption-danger sky-text-danger">Don't place content below the split view.</div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Related information">
      <h3>Components</h3>
      <ul>
        <li><a routerLink="/components/repeater">Repeater</a></li>
        <li><a routerLink="/components/summary-actionbar">Summary action bar</a></li>
      </ul>
    </sky-demo-page-content>

  </sky-tab>

  <sky-tab
    tabHeading="Development">

  <sky-demo-page-module-info
    skyuxModule="SkySplitViewModule"
    packageName="@skyux/split-view"
    githubRepo="skyux-split-view"
  >
  </sky-demo-page-module-info>

  <sky-demo-page-properties sectionHeading="Split view properties">
    <sky-demo-page-property
      propertyName="backButtonText"
      isOptional="true"
      defaultValue="Back to list"
    >
      Specifies a label for the button that appears in the workspace header in responsive mode. This button returns users to the list. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
      isOptional="true"
    >
      Provides an observable to send commands to the split view component. The commands should respect <a stacheRouterLink="." fragment="skysplitviewmessage-type">the <sky-code>SkySplitViewMessage</sky-code> type</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkySplitViewMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true"
    >
      Sets <sky-code>SkySplitViewMessage</sky-code> to one of the following types:
      <ul>
        <li>
          <sky-code>SkySplitViewMessageType.FocusWorkspace</sky-code> — Places focus on the first focusable element in the workspace.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view child components">
    <sky-demo-page-property
      propertyName="sky-split-view-drawer"
    >
      Specifies the content to display in the split view's list panel.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-split-view-workspace"
    >
      Specifies the content to display in the split view's workspace panel.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view drawer properties">
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
      Sets the list panel's <sky-code>aria-label</sky-code> attribute to support accessibility. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="width"
      isOptional="true"
    >
      Sets the list panel's width in pixels. This property accepts <sky-code>numeric</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view workspace properties">
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
      Sets the workspace panel's <sky-code>aria-label</sky-code> attribute to support accessibility. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-split-view-demo></sky-split-view-demo>
    <sky-demo-page-code demoName="Split view"></sky-demo-page-code>
  </sky-demo-page-example>

  </sky-tab>

  </sky-tabset>

</sky-tabbed-demo-page>
