<sky-tabbed-demo-page
  pageTitle="Split view"
>
  <sky-demo-page-summary>
    <p>
      The split view component allows users to work through a list of items, while displaying each item's details in context. The split view component consists of two panels: the list panel, and the workspace panel. The <sky-code>SkySplitViewService</sky-code> allows consumers to control what is displayed in the workspace panel.
    </p>
  </sky-demo-page-summary>
  
  <sky-demo-page-example>
    <sky-split-view-demo></sky-split-view-demo>
  </sky-demo-page-example>
  
<sky-tabset id="content-tabs">

  <sky-tab
    tabHeading="Design">

    <sky-demo-page-content sectionHeading="Usage">
      <h3>Use when</h3>
        
      <h3>Don't use when</h3>
        
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <h3>Large viewport</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/split-view/anatomy-desktop.png">
        <sky-docs-anatomy-item anatomyNumber="1">List panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Workspace panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3" isOptional="true">Summary action bar</sky-docs-anatomy-item>
      </sky-docs-anatomy>
      <h3>Small viewport</h3>
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/split-view/anatomy-mobile.png">
        <sky-docs-anatomy-item anatomyNumber="1">List panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Responsive header bar</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Workspace panel</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4" isOptional="true">Summary action bar</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>List type</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p><a routerLink="/components/repeater">Repeaters</a> will be the most common component used for the list of items due to the flexible content layouts they enable.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Tree views can also be used if the items in the list are hierarchical. You may use different views in the workspace panel if the items at different levels of the tree are of different types.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>While <a routerLink="/components/grid">grids</a> may technically be used, avoid them if possible. They do not scale well to the typically-small width of the navigation list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      <h3>List manipulation</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>You may include a list toolbar so that users can filter, sort and search the list, or add new items to the list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Behavior and states">
      <h3>Responsiveness</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Placeholder</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      <h3>List item iteration</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Placeholder</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>

          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Layout">
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>A split view should be the last item on a page; there should not be additional content below it.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Related information">
      <h3>Components</h3>
      <ul>
        <li><a routerLink="/components/repeater">Repeater</a></li>
        <li><a routerLink="/components/summary-actionbar">Summary action bar</a></li>
      </ul>
    </sky-demo-page-content>

  </sky-tab>

  <sky-tab
    tabHeading="Development">

  <sky-demo-page-module-info
    skyuxModule="SkySplitViewModule"
    packageName="@skyux/split-view"
    githubRepo="skyux-split-view"
  >
  </sky-demo-page-module-info>  
  
  <sky-demo-page-properties sectionHeading="Split view properties">
    <sky-demo-page-property
      propertyName="listWidth"
      isOptional="true"
      defaultValue="320"
    >
      Specifies the default width of the left-side list panel. This property accepts number values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
      isOptional="true"
    >
      Provides an observable to send commands to the split view component. The commands should respect the <sky-code>SkySplitViewMessage</sky-code> type.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkySplitViewMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true"
    >
      Sets <sky-code>SkySplitViewMessage</sky-code> to one of the following types:
      <ul>
        <li>
          <sky-code>SkySplitViewMessageType.FocusWorkspace</sky-code> — Sets focus on the first focussable element in the workspace.
        </li>
        <li>
          <sky-code>SkySplitViewMessageType.EnableIteratorNextButton</sky-code> — Enables the next iterator button.
        </li>
        <li>
          <sky-code>SkySplitViewMessageType.EnableIteratorPreviousButton</sky-code> — Enables the previous iterator button.
        </li>
        <li>
          <sky-code>SkySplitViewMessageType.DisableIteratorNextButton</sky-code> — Disables the next iterator button.
        </li>
        <li>
          <sky-code>SkySplitViewMessageType.DisableIteratorPreviousButton</sky-code> — Disables the previous iterator button.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view events">
    <sky-demo-page-property
      propertyName="beforeWorkspaceClose"
      isOptional="true"
    >
      An event that the split view component emits when it is about to hide the workspace panel. It emits a <sky-code>SkySplitViewBeforeWorkspaceCloseHandler</sky-code> object with a <sky-code>closeWorkspace</sky-code> method that closes the workspace panel. If a subscription exists for this event, the workspace does not hide until the subscriber calls the <sky-code>closeWorkspace</sky-code> method. This is typically used while in responsive mode to prevent a user from clicking the "Back to list" button and losing unsaved changes in their workspace.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorNextButtonClick"
      isOptional="true"
    >
      An event that the split view component emits when users click the next iterator button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iteratorPreviousButtonClick"
      isOptional="true"
    >
      An event that the split view component emits when users click the previous iterator button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view child components">
    <sky-demo-page-property
      propertyName="sky-split-view-list"
    >
      Specifies content to display in the split view's list panel on the left.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-split-view-workspace"
    >
      Specifies content to display in the split view's workspace panel on the right.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view list properties">
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
      Sets the list panel's aria-label attribute to support accessibility. This property accepts string values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Split view workspace properties">
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
      Sets the workspace panel's aria-label attribute to support accessibility. This property accepts string values.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  
  <sky-demo-page-example>
    <sky-split-view-demo></sky-split-view-demo>
    <sky-demo-page-code demoName="Split view"></sky-demo-page-code>
  </sky-demo-page-example>  
  
  </sky-tab>
  
  </sky-tabset>

</sky-tabbed-demo-page>
