<sky-tabbed-demo-page
  pageTitle="Angular tree view"
>

  <sky-demo-page-summary>
    The angular tree view provides a hierarchical view for a list of items.
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-angular-tree-view-demo></sky-angular-tree-view-demo>
    <sky-demo-page-code demoName="Angular tree view"></sky-demo-page-code>
  </sky-demo-page-example>

<sky-tabset id="content-tabs">

  <sky-tab
    tabHeading="Design">

    <sky-demo-page-content sectionHeading="Usage">
      <h3 class="sky-text-success">Use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
              <p>Use tree views to show lists of hierarchical items. They can be used in view-only or selection contexts.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <div>
              <img src="~/assets/img/guidelines/angular-tree-view/use-when.png" />
              <div class="caption caption-success sky-text-success">Do use tree views to show lists of hierarchical items.</div>
            </div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/angular-tree-view/anatomy.png">
        <sky-docs-anatomy-item anatomyNumber="1">Expand/collapse button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">List item content</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3" isOptional="true">Checkbox</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4" isOptional="true">Context menu</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>Selection</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>You can use single- or multi-select mode when you use a tree view in a selection context.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/angular-tree-view/option-select.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>With cascading selection when the user selects a node, all descendant nodes are also selected. Use this mode if it's likely that users will want to select a node and all its descendants.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/angular-tree-view/option-cascading.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>With leaf-only selection the user can only select the leaf nodes in the tree. Use the leaf-node-only selection mode if the higher-level nodes in the tree are categories and you want the user to only select the leaf node items.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/angular-tree-view/option-leaf-only.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      <h3>Split view</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>You can use tree views as the list in a <a routerLink="/components/split-view">split view</a> if the user needs to work with hierarchical items.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/angular-tree-view/option-split-view.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Behavior & states">
      <h3>Expand/collapse nodes</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Clicking the expand/collapse button expands/collapses the node.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/angular-tree-view/behavior-expand.png" />
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
      <h3>States</h3>
      <sky-demo-page-component-states>
        <sky-demo-page-component-state stateName="Active" imagePath="~/assets/img/guidelines/angular-tree-view/state-active.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Selected" imagePath="~/assets/img/guidelines/angular-tree-view/state-selected.png"></sky-demo-page-component-state>
      </sky-demo-page-component-states>

    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Related information">
      <h3>Components</h3>
      <ul>
        <li><a routerLink="/components/flyout">Split view</a></li>
      </ul>
    </sky-demo-page-content>

  </sky-tab>

  <sky-tab
    tabHeading="Development">

  </sky-tab>

</sky-tabset>

</sky-tabbed-demo-page>
