<sky-tabbed-demo-page
  pageTitle="Tabs"
>

  <sky-demo-page-summary>
    <p>
      The tabs module contains components to render tabs that divide large subsets of content on a page. The module includes options to display buttons in the tab area and to make tabs closeable. The <stache-code>sky-tabset</stache-code> component creates a container for the tabs, and within it, the <stache-code>sky-tab</stache-code> component creates an individual tab. The content within a <stache-code>sky-tab</stache-code> component is displayed when that tab is active.
    </p>
  </sky-demo-page-summary>
	
	<div class="sky-margin-stacked-content-section">
	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
  </sky-demo-page-example>
	</div>
		
	<sky-tabset id="content-tabs">
	
	<sky-tab
		tabHeading="Design">	
	<sky-demo-page-content sectionHeading="Usage">
	<h3>Use when</h3>
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>Users need quick access to different slices of the same data.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-success">
					<img class="bordered" src="~/assets/img/guidelines/tab/use-slices.png" />
					<div class="caption sky-text-success">Do use tabs to show different slices of the same data.</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>Users need to complete different tasks on the page, which each have a significant amount of data related to the task.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>				
				<div class="screenshot screenshot-success">
					<img class="bordered" src="~/assets/img/guidelines/tab/use-tasks.png" />
					<div class="caption sky-text-success">Do use tabs to group content for different tasks.</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
		
	<h3>Don't use when</h3>
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>You already have a set of tabs on the page. Try changing the workflow rather than using multiple sets of tabs.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-danger sky-margin-stacked-content-section">
					<img class="bordered" src="~/assets/img/guidelines/tab/dont-double-tab-horz.png" />
					<div class="caption sky-text-danger">Don't use multiple sets of tabs on a single page.</div>
				</div>
				<div class="screenshot screenshot-danger">
					<img class="bordered" src="~/assets/img/guidelines/tab/dont-double-tab-vert.png" />
					<div class="caption sky-text-danger">Don't combine vertical tabs with horizontal tabs.</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
    
    <sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>The tabs are likely to overflow the available horizontal space, which will lead to the collapsed tab dropdown and a large amount of unused space in the tab bar. Use <a routerLink="/components/vertical-tabs">vertical tabs</a> instead.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-danger">
					<img class="bordered" src="~/assets/img/guidelines/tab/dont-overflow.png" />
					<div class="caption sky-text-danger">Don't use horizontal tabs when they are likely to overflow.</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
		
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Anatomy">
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
        <sky-docs-anatomy-item anatomyNumber="1">Selected tab</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Unselected tab</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Tab border</sky-docs-anatomy-item>
        <sky-docs-anatomy-item isOptional="true" anatomyNumber="4">Tab count</sky-docs-anatomy-item>
        <sky-docs-anatomy-item isOptional="true" anatomyNumber="5">Close tab button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item isOptional="true" anatomyNumber="6">Open tab button</sky-docs-anatomy-item>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot">
					<img class="bordered" srcset="~/assets/img/guidelines/tab/anatomy.png 1x, ~/assets/img/guidelines/tab/anatomy_2x.png 2x" src="~/assets/img/guidelines/tab/anatomy.png" />
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Options">
		<h3>Count</h3>
			<sky-docs-two-col-example>
				<sky-docs-two-col-example-text>
					<p>When you use tabs to hold lists, you can include the list's record count in the tab so users know if there are records to look at without navigating to the tab.</p>
				</sky-docs-two-col-example-text>
				<sky-docs-two-col-example-image>
					<div class="screenshot">
						<img class="bordered" src="~/assets/img/guidelines/tab/option-count.png" />
					</div>
				</sky-docs-two-col-example-image>
			</sky-docs-two-col-example>
		<h3>Open and close</h3>
			<sky-docs-two-col-example>
				<sky-docs-two-col-example-text>
					<p>If users need to work with a subset of large number of available tabs, let them open and close tabs so they are only working with relevant tabs. If users have more than one option of what to display in a new tab, use action buttons within the tab view to let them choose the option they want.</p>
				</sky-docs-two-col-example-text>
				<sky-docs-two-col-example-image>
					<div class="screenshot">
						<img class="bordered" src="~/assets/img/guidelines/tab/option-open-close.png" />
					</div>
				</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Behavior & states">
		<h3>Overflowing tabs</h3>
			<sky-docs-two-col-example>
				<sky-docs-two-col-example-text>
					<p>If there are too many tabs to fit in the allotted space, the tabs collapse into a dropdown.</p>
				</sky-docs-two-col-example-text>
				<sky-docs-two-col-example-image>
					<div class="screenshot">
						<img src="~/assets/img/guidelines/tab/behavior-responsive.png" />
					</div>
				</sky-docs-two-col-example-image>
			</sky-docs-two-col-example>
		<h3>States</h3>
    <sky-demo-page-states-table>
      <sky-demo-page-states-table-item stateName="Selected" imagePath="~/assets/img/guidelines/tab/state-selected.png"></sky-demo-page-states-table-item>
      <sky-demo-page-states-table-item stateName="Unselected" imagePath="~/assets/img/guidelines/tab/state-unselected.png"></sky-demo-page-states-table-item>
      <sky-demo-page-states-table-item stateName="Hover" imagePath="~/assets/img/guidelines/tab/state-hover.png"></sky-demo-page-states-table-item>
      <sky-demo-page-states-table-item stateName="Collapsed, closed" imagePath="~/assets/img/guidelines/tab/state-collapsed-closed.png"></sky-demo-page-states-table-item>
      <sky-demo-page-states-table-item stateName="Collapsed, open" imagePath="~/assets/img/guidelines/tab/state-collapsed-open.png"></sky-demo-page-states-table-item>
    </sky-demo-page-states-table>
			
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Content">
		<h3>Page titles</h3>
		<div class="sky-text-block">
			<p>
        If tabs are the main navigation on a page, display the tab header in the page title. Use the following format: <span class="sky-emphasized">&lt;Tab title&gt; - &lt;Page title&gt; - &lt;Product title&gt;</span>. For example: <span class="sky-emphasized">Portfolio - Work center - Blackbaud</span>. In addition, follow these guidelines for page titles:
			</p>
			<ul>
				<li>Keep titles short.</li>
				<li>Make titles unique.</li>
				<li>Provide concise descriptions of each page's contents or purpose. Titles should stand on their own and make sense out of context.</li>
				<li>Start with the most meaningful, differentiating terms so that they can be scanned in browser tabs, window lists, and browser bookmarks.</li>
			</ul>
		</div>
	</sky-demo-page-content>	
		
	<sky-demo-page-content sectionHeading="Layout">
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>Tabs and their contents are always the last (bottommost) content inside their container. Don’t put content underneath a tab set if it’s not inside one of the tabs.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-danger">
					<img class="bordered" src="~/assets/img/guidelines/tab/layout-bottommost.png" />
					<div class="caption sky-text-danger">Don't put additional content underneath tabs</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>The tab line extends the full width of the overall container. Don’t use left or right margins on the tab line and ignore any padding the overall container defines.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-success sky-margin-stacked-content-section">
					<img src="~/assets/img/guidelines/tab/layout-full-width.png" />
					<div class="caption sky-text-success">Do extend the tab line the full width of the container</div>
				</div>
				<div class="screenshot screenshot-danger">
					<img src="~/assets/img/guidelines/tab/layout-dont-pad-line.png" />
					<div class="caption sky-text-danger">Don't apply the container's padding to the tab line</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
		<sky-docs-two-col-example>
			<sky-docs-two-col-example-text>
				<p>The contents inside of a tab do not have additional left or right padding. The left and right gutters should align with those of the content outside of the tabs.</p>
			</sky-docs-two-col-example-text>
			<sky-docs-two-col-example-image>
				<div class="screenshot screenshot-danger">
					<img class="bordered" src="~/assets/img/guidelines/tab/layout-dont-pad-content.png" />
					<div class="caption sky-text-danger">Don't apply additional left-right padding to the tab contents</div>
				</div>
			</sky-docs-two-col-example-image>
		</sky-docs-two-col-example>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="See more">
		<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/vertical-tabs">Vertical tabs</a></li>
			</ul>
		<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/content-containers">Content containers</a></li>
				<li><a routerLink="/design/guidelines/page-layouts">Page design</a></li>
			</ul>
	</sky-demo-page-content>
		
	</sky-tab>
	
	<sky-tab
		tabHeading="Development">
		
	<sky-demo-page-module-info
		skyuxModule="SkyTabsModule"
		packageName="@skyux/tabs"
    githubRepo="skyux-tabs"
	>
	</sky-demo-page-module-info>	
		
  <sky-demo-page-properties sectionHeading="Tabset properties">
    <sky-demo-page-property
      propertyName="active"
    >
    Specifies the index of the active tab. This property accepts <stache-code>number</stache-code> or <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabStyle"
      defaultValue="tabs"
    >
    This property is deprecated. It specifies the behavior for a series of tabs. The property was designed to create wizards by setting <stache-code>tabStyle="wizard"</stache-code> on tabsets in modals, but this wizard implementation was replaced by <a stacheRouterLink="/components/progress-indicator">the progress indicator component</a>. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset events">
    <sky-demo-page-property
      propertyName="activeChange"
    >
    Fires when the active tab changes and emits the index of the active tab.
    </sky-demo-page-property>
		<sky-demo-page-property
      propertyName="newTab"
    >
    Fires when users click the button to add a new tab. The new tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="openTab"
    >
    Fires when users click the button to open a tab. The open tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab properties">
    <sky-demo-page-property
      propertyName="tabHeading"
    >
    Specifies the tab header. When using tabs as the main navigation on a page, use <a href="https://angular.io/docs/ts/latest/cookbook/set-document-title.html">the Angular <stache-code>Title</stache-code> service</a> and <a stacheRouterLink="learn/reference/configuration" fragment="app">the SKY UX <stache-code>title</stache-code> configuration property</a> to reflect the tab header in the page title. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="active"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the tab is active when the tabset loads. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to disable the tab. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabHeaderCount"
      isOptional="true"
    >
    Displays a counter beside the tab header. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      isOptional="true"
    >
    Specifies a unique identifier for the tab. If not defined, the identifier is set to the position of the tab on load, starting with <stache-code>0</stache-code>. This property accepts <stache-code>string</stache-code> or <stache-code>number</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab events">
    <sky-demo-page-property
      propertyName="close"
    >
    Fires when users click the button to close the tab. The close button is added to the tab when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
    <sky-demo-page-code demoName="Tabs"></sky-demo-page-code>
  </sky-demo-page-example>
  
	</sky-tab>
		
	</sky-tabset>
</sky-tabbed-demo-page>