<sky-tabbed-demo-page
  pageTitle="Tabs"
>

  <sky-demo-page-summary>
    <p>
      The tabs module renders tabs that divide large subsets of content on a page. It includes options to display buttons in the tab area and to make tabs closeable.
    </p>
  </sky-demo-page-summary>
	
	<div class="sky-margin-stacked-content-section">
	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
  </sky-demo-page-example>
	</div>
		
	<sky-tabset id="content-tabs">
	
	<sky-tab
		tabHeading="Design">	
	<sky-demo-page-content sectionHeading="Usage">
	<h3 class="sky-text-success">Use when</h3>
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
					<p>Use tabs when users require quick access to different slices of the same data.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div>
					<img class="bordered" src="~/assets/img/guidelines/tab/use-slices.png" />
					<div class="caption caption-success sky-text-success">Do use tabs to show different slices of the same data.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
				<p>Use tabs when users need to complete different tasks on a page, and each task includes a significant amount of data.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>				
				<div>
					<img class="bordered" src="~/assets/img/guidelines/tab/use-tasks.png" />
					<div class="caption caption-success sky-text-success">Do use tabs to group content for different tasks.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
		
	<h3 class="sky-text-danger">Don't use when</h3>
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
					<p>Don't use tabs when a page already has a set of tabs. Change the workflow instead of using multiple sets of tabs.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div class="sky-margin-stacked-content-section">
					<img class="bordered" src="~/assets/img/guidelines/tab/dont-double-tab-horz.png" />
					<div class="caption caption-danger sky-text-danger">Don't use multiple sets of tabs on a page.</div>
        </div>
        <div>
          <img class="bordered" src="~/assets/img/guidelines/tab/dont-double-tab-vert.png" />
          <div class="caption caption-danger sky-text-danger">Don't combine vertical tabs and horizontal tabs.</div>
        </div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
    
    <sky-docs-visual-example>
			<sky-docs-visual-example-text>
					<p>The tabs are likely to overflow the available horizontal space. This leads to a collapsed tab dropdown and a large amount of unused space in the tab bar. Use <a routerLink="/components/vertical-tabs">vertical tabs</a> instead.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div>
					<img class="bordered" src="~/assets/img/guidelines/tab/dont-overflow.png" />
					<div class="caption caption-danger sky-text-danger">Don't use horizontal tabs when they are likely to overflow and collapse into a dropdown.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
		
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Anatomy">
		<sky-docs-anatomy imagePath="~/assets/img/guidelines/tab/anatomy.png">
      <sky-docs-anatomy-item anatomyNumber="1">Selected tab</sky-docs-anatomy-item>
      <sky-docs-anatomy-item anatomyNumber="2">Unselected tab</sky-docs-anatomy-item>
      <sky-docs-anatomy-item anatomyNumber="3">Tab border</sky-docs-anatomy-item>
      <sky-docs-anatomy-item isOptional="true" anatomyNumber="4">Tab count</sky-docs-anatomy-item>
      <sky-docs-anatomy-item isOptional="true" anatomyNumber="5">Close tab button</sky-docs-anatomy-item>
      <sky-docs-anatomy-item isOptional="true" anatomyNumber="6">Add tab button</sky-docs-anatomy-item>
    </sky-docs-anatomy>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Options">
		<h3>Count</h3>
			<sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>When a tab displays a list, you can include the record count in the tab if seeing that number will meaningfully impact the user's behavior.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img class="bordered" src="~/assets/img/guidelines/tab/option-count.png" />
				</sky-docs-visual-example-image>
			</sky-docs-visual-example>
		<h3>Add and close</h3>
			<sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>If users need to work with a subset of tabs in a large tabset, let them add and close tabs to display only the relevant tabs.</p>
					<p>If a new tab includes multiple options on what to display, use action buttons in the tab view to let users make selections.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img class="bordered" src="~/assets/img/guidelines/tab/option-open-close.png" />
				</sky-docs-visual-example-image>
		</sky-docs-visual-example>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Behavior & states">
		<h3>Overflowing tabs</h3>
			<sky-docs-visual-example>
				<sky-docs-visual-example-text>
					<p>If the tabset includes too many tabs to fit in the tab bar's available horizontal space, the tabs collapse into a dropdown.</p>
				</sky-docs-visual-example-text>
				<sky-docs-visual-example-image>
				  <img src="~/assets/img/guidelines/tab/behavior-responsive.png" />
				</sky-docs-visual-example-image>
			</sky-docs-visual-example>
		<h3>States</h3>
    <sky-demo-page-component-states>
      <sky-demo-page-component-state stateName="Selected" imagePath="~/assets/img/guidelines/tab/state-selected.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Unselected" imagePath="~/assets/img/guidelines/tab/state-unselected.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Hover" imagePath="~/assets/img/guidelines/tab/state-hover.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Collapsed, closed" imagePath="~/assets/img/guidelines/tab/state-collapsed-closed.png"></sky-demo-page-component-state>
      <sky-demo-page-component-state stateName="Collapsed, open" imagePath="~/assets/img/guidelines/tab/state-collapsed-open.png"></sky-demo-page-component-state>
    </sky-demo-page-component-states>
			
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Content">
		<h3>Page titles</h3>
			<p>
        If tabs are the main navigation on a page, display the tab header in the page title. Use the following format: <span class="sky-emphasized">&lt;Page title&gt; — &lt;Company, product, or site identifier&gt;</span>. For example: <span class="sky-emphasized">Portfolio — Work center — Blackbaud</span>. In addition, follow these guidelines for page titles:
			</p>
			<ul>
				<li>Keep titles short.</li>
				<li>Make titles unique.</li>
				<li>Provide concise descriptions of each page's contents or purpose. Titles should stand on their own and make sense out of context.</li>
				<li>Start with the most meaningful, differentiating terms for users to scan in browser tabs, window lists, and browser bookmarks.</li>
			</ul>
			<p>
				For information about how to use <a href="https://angular.io/docs/ts/latest/cookbook/set-document-title.html">the Angular <sky-code>Title</sky-code> service</a> and the SKY UX <sky-code>title</sky-code> configuration property to specify the title, see <a stacheRouterLink="learn/reference/configuration" fragment="app">the configuration reference</a>.
			</p>
	</sky-demo-page-content>
		
	<sky-demo-page-content sectionHeading="Layout">
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
				<p>Tabs are always the last (bottommost) content in their container. Don’t put additional content under tabs.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div>
					<img class="bordered" src="~/assets/img/guidelines/tab/layout-bottommost.png" />
					<div class="caption caption-danger sky-text-danger">Don't put additional content under tabs.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
				<p>The tab border extends the full width of the container. Don’t use left or right margins on the tab border, and ignore any padding that the container defines.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div class="sky-margin-stacked-content-section">
					<img src="~/assets/img/guidelines/tab/layout-full-width.png" />
					<div class="caption caption-success sky-text-success">Do extend the tab border to the full width of the container.</div>
				</div>
				<div>
					<img src="~/assets/img/guidelines/tab/layout-dont-pad-line.png" />
					<div class="caption caption-danger sky-text-danger">Don't apply the container's padding to the tab border.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
		<sky-docs-visual-example>
			<sky-docs-visual-example-text>
				<p>Tab content does not have additional left or right padding. The left and right gutters align with the gutters for content outside the tabs.</p>
			</sky-docs-visual-example-text>
			<sky-docs-visual-example-image>
				<div>
					<img class="bordered" src="~/assets/img/guidelines/tab/layout-dont-pad-content.png" />
					<div class="caption caption-danger sky-text-danger">Don't apply additional left or right padding to tab content.</div>
				</div>
			</sky-docs-visual-example-image>
		</sky-docs-visual-example>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Related information">
		<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/vertical-tabs">Vertical tabs</a></li>
			</ul>
		<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/content-containers">Content containers</a></li>
				<li><a routerLink="/design/guidelines/page-layouts">Page design</a></li>
			</ul>
	</sky-demo-page-content>
		
	</sky-tab>
	
	<sky-tab
		tabHeading="Development">
		
	<sky-demo-page-module-info
		skyuxModule="SkyTabsModule"
		packageName="@skyux/tabs"
    githubRepo="skyux-tabs"
	>
	</sky-demo-page-module-info>	

  <sky-demo-page-properties sectionHeading="Tabs module components">
    <sky-demo-page-property
      propertyName="sky-tabset"
    >
    Creates a container for tabs that divide large subsets of content on a page.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-tab"
    >
    Creates an individual tab within the <sky-code>sky-tabset</sky-code> component and displays content when the tab is active.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset properties">
    <sky-demo-page-property
      propertyName="active"
    >
    Specifies the index of the active tab. This property accepts <sky-code>number</sky-code> or <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabStyle"
      defaultValue="tabs"
			isOptional="true"
    >
    This property is deprecated. It specifies the behavior for a series of tabs. The property was designed to create wizards by setting <sky-code>tabStyle="wizard"</sky-code> on tabsets in modals, but this wizard implementation was replaced by <a stacheRouterLink="/components/progress-indicator">the progress indicator component</a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset events">
    <sky-demo-page-property
      propertyName="activeChange"
      isOptional="true"
    >
    Fires when the active tab changes. This event emits the index of the active tab.
    </sky-demo-page-property>
		<sky-demo-page-property
      propertyName="newTab"
      isOptional="true"
    >
    Fires when users click the button to add a new tab. The new tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="openTab"
      isOptional="true"
    >
    Fires when users click the button to open a tab. The open tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab properties">
    <sky-demo-page-property
      propertyName="tabHeading"
    >
    Specifies the tab header. When using tabs as the main navigation on a page, use <a href="https://angular.io/docs/ts/latest/cookbook/set-document-title.html">the Angular <sky-code>Title</sky-code> service</a> and <a stacheRouterLink="learn/reference/configuration" fragment="app">the SKY UX <sky-code>title</sky-code> configuration property</a> to reflect the tab header in the page title. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="active"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the tab is active when the tabset loads. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to disable the tab. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabHeaderCount"
      isOptional="true"
    >
    Displays a counter beside the tab header. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      isOptional="true"
    >
    Specifies a unique identifier for the tab. If not defined, the identifier is set to the position of the tab on load, starting with <sky-code>0</sky-code>. This property accepts <sky-code>string</sky-code> or <sky-code>number</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab events">
    <sky-demo-page-property
      propertyName="close"
      isOptional="true"
    >
    Fires when users click the button to close the tab. The close button is added to the tab when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
    <sky-demo-page-code
      demoName="Tabs">
    </sky-demo-page-code>
  </sky-demo-page-example>
  
	</sky-tab>
		
	</sky-tabset>
</sky-tabbed-demo-page>