<sky-demo-page
  pageTitle="Tabs"
  skyuxModule="SkyTabsModule"
  packageName="@skyux/tabs"
>

  <sky-demo-page-summary>
    <p>
      The tabs module contains components to render tabs that divide large subsets of content on a page. The module includes options to display buttons in the tab area and to make tabs closeable. The <stache-code>sky-tabset</stache-code> component creates a container for the tabs, and within it, the <stache-code>sky-tab</stache-code> component creates an individual tab. The content within a <stache-code>sky-tab</stache-code> component is displayed when that tab is active.
    </p>
  </sky-demo-page-summary>
	
	<div class="sky-margin-stacked-content-section">
	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
  </sky-demo-page-example>
	</div>
		
	<sky-tabset>
	
	<sky-tab
		tabHeading="Design">	
	<sky-demo-page-content sectionHeading="Usage">
	<h3>Use when</h3>
		<div class="two-col-right-image sky-margin-stacked-separate">
			<div class="two-col-text">
				<ul>
					<li>Users need quick access to different slices of the same data.</li>
					<li>Users need to complete different tasks on the page, which each have a significant amount of data related to the task.</li>
				</ul>
			</div>
			<div class="two-col-image">
				<div class="screenshot screenshot-success sky-margin-stacked-content-section">
					<img src="~/assets/img/guidelines/tab/use-slices.png" />
					<div class="caption sky-text-success">Do use tabs to show different slices of the same data.</div>
				</div>
				
				<div class="screenshot screenshot-success">
					<img src="~/assets/img/guidelines/tab/use-tasks.png" />
					<div class="caption sky-text-success">Do use tabs to group content for different tasks.</div>
				</div>
			</div>
		</div>
		
	<h3>Don't use when</h3>
		<div class="two-col-right-image sky-margin-stacked-separate">
			<div class="two-col-text">
				<ul>
					<li>You already have a set of tabs on the page. Try changing the workflow rather than using multiple sets of tabs.</li>
				</ul>
			</div>
			<div class="two-col-image">
				<div class="screenshot screenshot-danger sky-margin-stacked-content-section">
					<img src="~/assets/img/guidelines/tab/dont-double-tab-horz.png" />
					<div class="caption sky-text-danger">Don't use multiple sets of tabs on a single page.</div>
				</div>
				<div class="screenshot screenshot-danger">
					<img src="~/assets/img/guidelines/tab/dont-double-tab-vert.png" />
					<div class="caption sky-text-danger">Don't combine vertical tabs with horizontal tabs.</div>
				</div>
			</div>
		</div>
		
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Anatomy">
		<div class="two-col-right-image sky-margin-stacked-separate">
			<div class="two-col-text">
				<div class="anatomy-list">
					<div class="anatomy-item anatomy-item-required"><div class="anatomy-marker">1</div><div class="anatomy-description">Selected tab</div></div>
					<div class="anatomy-item anatomy-item-required"><div class="anatomy-marker">2</div>Unselected tab</div>
					<div class="anatomy-item anatomy-item-required"><div class="anatomy-marker">3</div>Tab border</div>
					<div class="anatomy-item anatomy-item-optional"><div class="anatomy-marker">4</div>Tab count (optional)</div>
					<div class="anatomy-item anatomy-item-optional"><div class="anatomy-marker">5</div>Close tab button (optional)</div>
					<div class="anatomy-item anatomy-item-optional"><div class="anatomy-marker">6</div>Open tab button (optional)</div>
				</div>
			</div>
			<div class="two-col-image">
				<div class="screenshot">
					<img src="~/assets/img/guidelines/tab/anatomy.png" />
				</div>
			</div>
		</div>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Options">
		<h3>Count</h3>
			<div class="two-col-right-image sky-margin-stacked-separate">
				<div class="two-col-text">
					<p>When you use tabs to hold lists, you can include the list's record count in the tab so users know if there are records to look at without navigating to the tab.</p>
				</div>
				<div class="two-col-image">
					<div class="screenshot">
						<img src="~/assets/img/guidelines/tab/option-count.png" />
					</div>
				</div>
			</div>
		<h3>Open and close</h3>
			<div class="two-col-right-image sky-margin-stacked-separate">
				<div class="two-col-text">
					<p>If users need to work with a subset of large number of available tabs, let them open and close tabs so they are only working with relevant tabs. If users have more than one option of what to display in a new tab, use action buttons within the tab view to let them choose the option they want.</p>
				</div>
				<div class="two-col-image">
					<div class="screenshot">
						<img src="~/assets/img/guidelines/tab/option-open-close.png" />
					</div>
				</div>
		</div>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Behavior & states">
		<h3>Overflowing tabs</h3>
			<div class="two-col-right-image sky-margin-stacked-separate">
				<div class="two-col-text">
					<p>If there are too many tabs to fit in the allotted space, the tabs collapse into a dropdown.</p>
				</div>
				<div class="two-col-image">
					<div class="screenshot screenshot-info">
						<img class="bordered" src="~/assets/img/guidelines/errorhandling/background-error.png" />
						<div class="caption">A neutral caption</div>
					</div>
				</div>
			</div>
		<h3>States</h3>
			<div class="two-col-right-image sky-margin-stacked-separate">
				<div class="two-col-text">
					<p>If there are too many tabs to fit in the allotted space, the tabs collapse into a dropdown.</p>
				</div>
				<div class="two-col-image">
					<div class="screenshot screenshot-info">
						<img class="bordered" src="~/assets/img/guidelines/errorhandling/background-error.png" />
						<div class="caption">A neutral caption</div>
					</div>
				</div>
			</div>
	</sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="Content">
		<h3>Page titles</h3>
			<p>
        If tabs are the main navigation on a page, display the tab header in the page title. Use the following format: <span class="sky-emphasized">&lt;Tab title&gt; - &lt;Page title&gt; - &lt;Product title&gt;</span>. For example: <span class="sky-emphasized">Portfolio - Work center - Blackbaud</span>. In addition, follow these guidelines for page titles:
			</p>
			<ul>
				<li>Keep titles short.</li>
				<li>Make titles unique.</li>
				<li>Provide concise descriptions of each page's contents or purpose. Titles should stand on their own and make sense out of context.</li>
				<li>Start with the most meaningful, differentiating terms so that they can be scanned in browser tabs, window lists, and browser bookmarks.</li>
			</ul>
	</sky-demo-page-content>	
		
	<sky-demo-page-content sectionHeading="Layout">
		<div class="two-col-right-image sky-margin-stacked-separate">
				<div class="two-col-text">
					<ul>
						<li>Use <stache-code>$sky-margin-stacked-separate</stache-code> vertical margin between the tabs and the preceeding content.</li>
						<li>Use <stache-code>$sky-padding-even-large</stache-code> padding within the tab view, except when using a single full-width list within the tab.</li>
					</ul>
				</div>
				<div class="two-col-image">
					<div class="screenshot screenshot-info">
						<img class="bordered" src="~/assets/img/guidelines/errorhandling/background-error.png" />
						<div class="caption">A neutral caption</div>
					</div>
				</div>
			</div>
	</sky-demo-page-content>
	
	</sky-tab>
	
	<sky-tab
		tabHeading="Angular development">
  <sky-demo-page-properties sectionHeading="Tabset properties">
    <sky-demo-page-property
      propertyName="active"
    >
    Specifies the index of the active tab. This property accepts <stache-code>number</stache-code> or <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabStyle"
      defaultValue="tabs"
    >
    This property is deprecated. It specifies the behavior for a series of tabs. The property was designed to create wizards by setting <stache-code>tabStyle="wizard"</stache-code> on tabsets in modals, but this wizard implementation was replaced by <a stacheRouterLink="/components/progress-indicator">the progress indicator component</a>. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset events">
    <sky-demo-page-property
      propertyName="activeChange"
    >
    Fires when the active tab changes and emits the index of the active tab.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="newTab"
    >
    Fires when users click the button to add a new tab. The new tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="openTab"
    >
    Fires when users click the button to open a tab. The open tab button is added to the tab area when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab properties">
    <sky-demo-page-property
      propertyName="tabHeading"
    >
    Specifies the tab header. When using tabs as the main navigation on a page, use <a href="https://angular.io/docs/ts/latest/cookbook/set-document-title.html">the Angular <stache-code>Title</stache-code> service</a> and <a stacheRouterLink="learn/reference/configuration" fragment="app">the SKY UX <stache-code>title</stache-code> configuration property</a> to reflect the tab header in the page title. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="active"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether the tab is active when the tabset loads. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to disable the tab. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabHeaderCount"
      isOptional="true"
    >
    Displays a counter beside the tab header. This property accepts <stache-code>string</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabIndex"
      isOptional="true"
    >
    Specifies a unique identifier for the tab. If not defined, the identifier is set to the position of the tab on load, starting with <stache-code>0</stache-code>. This property accepts <stache-code>string</stache-code> or <stache-code>number</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab events">
    <sky-demo-page-property
      propertyName="close"
    >
    Fires when users click the button to close the tab. The close button is added to the tab when you specify a listener for this event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

	<sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
    <sky-demo-page-code demoName="Tabs"></sky-demo-page-code>
  </sky-demo-page-example>
  
	</sky-tab>
		
	</sky-tabset>
</sky-demo-page>
