<sky-demo-page
  pageTitle="Select Field"
  navTitle="Select field"
  skyuxModule="SkySelectFieldModule"
  packageName="@skyux/select-field"
>

  <sky-demo-page-summary>
    <p>
      The select field component creates a text input or button that launches a modal where users can select items. The modal displays a searchable, browsable, and filterable list of items. The component displays a text input to launch the modal when users can only select one item. It displays a button to launch the modal when users can select multiple items.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Select field properties">
    <sky-demo-page-property
      propertyName="data"
    >
    Defines a data source to populate the select field component's modal with items that users can select. This property accepts an Observable array of <sky-code>SkySelectField</sky-code> values. <a stacheRouterLink="." fragment="skyselectfield-properties">The <sky-code>SkySelectField</sky-code> type</a> extends the <sky-code>any</sky-code> type and supports <sky-code>id</sky-code>, <sky-code>label</sky-code>, and <sky-code>category</sky-code> values for the data objects that you inject into the select field component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabel"
      isOptional="true"
    >
    Defines a string value to label the select field component's text input or button for accessibility. If the text input or button includes a visible label on the screen, use the <sky-code>ariaLabelledBy</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
    Identifies the element that defines a label for the select field component's text input or button. If the text input or button does not include a visible label on the screen, use the <sky-code>ariaLabel</sky-code> property instead. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="descriptorKey"
      isOptional="true"
      defaultValue="label"
    >
    Specifies a property to highlight with bold text in the select field component's modal. The valid options are <sky-code>id</sky-code>, <sky-code>label</sky-code>, and <sky-code>category</sky-code> and correspond to the values that the <sky-code>data</sky-code> property injects into the component. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to disable the select field component's text input or button to prevent users from opening the modal. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="multipleSelectOpenButtonText"
      isOptional="true"
      defaultValue="Select values"
    >
    Specifies a label for the button when <sky-code>selectMode</sky-code> is set to <sky-code>multiple</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="pickerHeading"
      isOptional="true"
    >
    Specifies a header for the select field component's modal. When <sky-code>selectMode</sky-code> is set to <sky-code>single</sky-code>, the default header is "Select a value." When <sky-code>selectMode</sky-code> is set to <sky-code>multiple</sky-code>, the default header is "Select values." This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectMode"
      isOptional="true"
      defaultValue="multiple"
    >
    Specifies the selection mode that determines whether users can select one item or multiple items in the select field component's modal. The valid options are <sky-code>single</sky-code>, which displays a text input and allows users to select one item, and <sky-code>multiple</sky-code>, which displays a button and allows users to select multiple items.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showAddNewRecordButton"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to display a button for users to add new items directly from the select field modal. You must provide the logic for adding items.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="singleSelectClearButtonTitle"
      isOptional="true"
      defaultValue="Clear selection"
    >
    Specifies tooltip text for the icon that clears the text input when <sky-code>selectMode</sky-code> is set to <sky-code>single</sky-code>. The clear icon appears after users select an item. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="singleSelectOpenButtonTitle"
      isOptional="true"
      defaultValue="Click to select a value"
    >
    Specifies tooltip text for the text input when <sky-code>selectMode</sky-code> is set to <sky-code>single</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="singleSelectPlaceholderText"
      isOptional="true"
      defaultValue="Select a value"
    >
    Specifies ghost text to display in the text input when <sky-code>selectMode</sky-code> is set to <sky-code>single</sky-code> and no item is selected. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Select field events">
    <sky-demo-page-property
      propertyName="addNewRecordButtonClick"
      isOptional="true"
    >
      Fires when users select the add new record button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="blur"
      isOptional="true"
    >
      Fires when the selected field component loses focus. This event does not emit a value.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkySelectField properties">
    <sky-demo-page-property
      propertyName="category"
      isOptional="true"
    >
    Specifies a category for an item that users can select with the select field component. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <p>
      The <sky-code>SkySelectField</sky-code> type extends the <sky-code>any</sky-code> type and supports values for data objects that you can inject into the select field component to populate the select field modal.
    </p>
    <sky-demo-page-property
      propertyName="id"
      isOptional="true"
    >
    Specifies an ID for an item that users can select with the select field component. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
    >
    Specifies a label for an item that users can select with the select field component. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-select-field-demo></sky-select-field-demo>
    <sky-demo-page-code demoName="Select field"></sky-demo-page-code>
  </sky-demo-page-example>

	<sky-demo-page-content sectionHeading="UX guidelines">
		<section>
			<header>
        <div class="sky-section-heading">Usage</div>
      </header>
			<p>
        The select field component is effective for scenarios where users are not sure of the exact value they are looking for within a long list of items. For guidance on which selection inputs to use in other scenarios, see the <a routerLink="/design/guidelines/form-design" fragment="selection-inputs">form design guidelines</a>.
      </p>
		</section>
	</sky-demo-page-content>

</demo-page>
