<sky-demo-page
  pageTitle="Progress Indicator"
  layout="sidebar"
  [sidebarRoutes]="sidebarRoutes"
>

  <sky-demo-page-summary>
    <p>
      The progress indicator module visually represents progress through sequential steps toward a goal. Active progress indicators walk users through discrete steps in waterfall pages, while passive progress indicators represent steps outside of user control.
    </p>
    <sky-demo-page-action-buttons item="Progress Indicator">
    </sky-demo-page-action-buttons>
  </sky-demo-page-summary>

</sky-demo-page>
