<sky-demo-page
  pageTitle="Email Validation"
  skyuxModule="SkyEmailValidationModule"
  packageName="@skyux/validation"
>

  <sky-demo-page-summary>
    The email validation directive ensures that user entries in an <stache-code>input</stache-code> element are valid email addresses.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Email validation input directive properties">
    <sky-demo-page-property
      propertyName="skyEmailValidation">
      Creates an input that validates email addresses. Place this attribute on an <stache-code>input</stache-code> element. If users enter values that are not valid email addresses, an error message appears. The directive uses <stache-code>NgModel</stache-code> to bind data.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-email-validation-demo></sky-email-validation-demo>
    <sky-demo-page-code
      demoName="Email validation">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
