<sky-demo-page
  pageTitle="Window"
  skyuxModule="SkyWindowRefService"
  packageName="@skyux/core"
  [installOnly]="true"
>

<sky-demo-page-summary>
  <p>
    The application window reference service references the global <sky-code>window</sky-code> variable. After users inject <sky-code>SkyAppWindowRef</sky-code> into a component, they can use the service to interact with <sky-code>window</sky-code> properties and event handlers by referencing its <sky-code>nativeWindow</sky-code> property.
  </p>
</sky-demo-page-summary>

<sky-demo-page-properties sectionHeading="SkyAppWindowRef properties">
  <sky-demo-page-property
    propertyName="nativeWindow"
    isOptional="true"
  >
    References the global <sky-code>window</sky-code> variable. For more information, see the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window">window API documentation on MDN web docs.</a>
  </sky-demo-page-property>
</sky-demo-page-properties>

</sky-demo-page>
