<stache
  pageTitle="Typography"
  windowTitle="Typography">

  <stache-page-summary>
    <p>
      SKY UX supports a set of semantically defined classes for text to ensure consistent usage and to maintain visual hierarchy of type. Components generally incorporate text classes as necessary, but you may find cases where you need to apply classes directly. Styling values in the table below are for reference only; you should apply styling through the use of the classes.
    </p>
    <p>
      The SKY UX font system is based on the Blackbaud Sans typeface. To use these fonts in web applications and desktop applications, you link directly to the Blackbaud CDN. For more information, see our <a routerLink="/design/resources">design resources</a>.
    </p>
    <p>
      To import the text classes, add <sky-code>@import '~@skyux/theme/scss/mixins';</sky-code> to the top of your SCSS file. Do not include <sky-code>node_modules</sky-code> in the path because the SKY UX package may not always be in the root of <sky-code>node_modules</sky-code> and <sky-code>~</sky-code> resolves the dependency in those cases.
    </p>
  </stache-page-summary>

  <sky-restricted-view>
    <div style="margin-bottom: 30px;">
      <sky-docs-demo-control-panel-theme
      (themeSettingsChange)="themeSettingsChange($event)"
      ></sky-docs-demo-control-panel-theme>
    </div>
  </sky-restricted-view>

<div *ngIf="themeSettings?.theme?.name !== 'modern'">
  <sky-restricted-view>
    <h2>Default theme</h2>
  </sky-restricted-view>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <h1 class="sky-page-heading" id="page-heading">Page heading</h1>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text that identifies a page, such as a page title or record name. Use this class on one element per page.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;h1 class=&quot;sky-page-heading&quot;&gt;Page heading&lt;/h1&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-condensed-light.woff">Blackbaud Sans Condensed Light</a> 34px #212327</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <h2 class="sky-section-heading" id="section-heading">Section heading</h2>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text that identifies subdivisions on a page, such as tile titles.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;h2 class=&quot;sky-section-heading&quot;&gt;Section heading&lt;/h2&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-condensed-light.woff">Blackbaud Sans Condensed Light</a> 26px #212327</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-subsection-heading">Subsection heading</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text that identifies subsections within containers. For example, in a tile for contact information, this class can format section heading for addresses, email addresses, and phone numbers.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;div class=&quot;sky-subsection-heading&quot;&gt;Subsection heading&lt;/div&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
          <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-light.woff">Blackbaud Sans Light</a> 19px #686c73</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-headline">Headline</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text that calls out key information on a page, such as a constituent&#x2019;s total giving or the number of records in a list. Use it sparingly or you will dilute its ability to draw attention.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;div class=&quot;sky-headline&quot;&gt;Headline&lt;/div&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-condensed-semi-bold.woff">Blackbaud Sans Condensed Semibold</a> 22px #212327</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-emphasized">Emphasized body copy</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text to call out key information that is slightly less important than headline text, such as constituent names in a list of contact cards. Use it sparingly or you will dilute its ability to draw attention.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;div class=&quot;sky-emphasized&quot;&gt;Emphasized body copy&lt;/div&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-bold.woff">Blackbaud Sans Bold</a> 16px #212327</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      Regular body copy
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This is the base body font and does not require a separate class. It formats text that does not semantically fall under any of the defined types.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <div>This is used when no other class is specified.</div>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 15px #212327</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-deemphasized">De-emphasized body copy</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats text to de-emphasize information that you generally want users to skip over, such as placeholder text.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;div class=&quot;sky-deemphasized&quot;&gt;De-emphasized body copy&lt;/div&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-italic.woff">Blackbaud Sans Italic</a> 15px #686c73</div>
        </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-field-label">Field label</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats labels for read-only fields that do not accept input. It uses a muted color because the label that identifies the field is less important than the content.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;div class=&quot;sky-field-label&quot;&gt;Field label&lt;/div&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 15px #686c73</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-control-label">Form control label</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class formats labels for form input fields.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <sky-code>&lt;label class=&quot;sky-control-label&quot;&gt;Form control label&lt;/label&gt;</sky-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 15px #212327</div>
        <div>margin-bottom: 5px</div>
      </div>
    </div>
  </div>
</div>

 <sky-restricted-view>
  <div *ngIf="themeSettings?.theme?.name === 'modern'" [skyTheme]="themeSettings">
    <h2 class="sky-font-heading-2">Modern theme</h2>

    <div class="sky-margin-stacked-content-section">
    <h3 class="sky-font-heading-3">Body copy</h3>
      <p>Use body copy for the majority of the text on a page.</p>

      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-body-default">Default</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-body-default&quot;&gt;Default&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 16px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-body-sm">Small</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-body-sm&quot;&gt;Small&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 13px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-body-lg">Large</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-body-lg&quot;&gt;Large&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-light.woff">Blackbaud Sans Light</a> 18px #212327</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="sky-margin-stacked-content-section">
    <h3 class="sky-font-heading-3">Headings</h3>
      <p>Use headings to describe sections of content.</p>

      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-heading-1">Heading 1</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;h1 class=&quot;sky-font-heading-1&quot;&gt;Heading 1&lt;/h1&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-light.woff">Blackbaud Sans Light</a> 32px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-heading-2">Heading 2</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-heading-2&quot;&gt;Heading 2&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 24px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-heading-3">Heading 3</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-heading-3&quot;&gt;Heading 3&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 20px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-heading-4">Heading 4</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-heading-4&quot;&gt;Heading 4&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 16px #686c73</div>
            <div>Uppercase</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-heading-5">Heading 5</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-heading-5&quot;&gt;Heading 5&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 14px #686c73</div>
            <div>Uppercase</div>
          </div>
        </div>
      </div>
    </div>    

    <div class="sky-margin-stacked-content-section">     
    <h3 class="sky-font-heading-3">Display fonts</h3>
      <p>Use display fonts to call attention to particularly important information.</p>

      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-display-1">Display 1</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;h1 class=&quot;sky-font-display-1&quot;&gt;Display 1&lt;/h1&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 48px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-display-2">Display 2</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-display-2&quot;&gt;Display 2&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 28px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-display-3">Display 3</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-display-3&quot;&gt;Display 3&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 20px #212327</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-display-4">Display 4</div>
        </div>
        <div class="definition-props">
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-display-4&quot;&gt;Display 4&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-bold.woff">Blackbaud Sans Bold</a> 16px #212327</div>
            <div>Uppercase</div>
          </div>
        </div>
      </div>
    </div> 

    <div class="sky-margin-stacked-content-section">
      <h3 class="sky-font-heading-3">Miscellaneous</h3>

      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-data-label">Data label</div>
        </div>
        <div class="definition-props">
          <div class="definition-usage">
            <div class="sky-field-label">Usage</div>
            <div>This class formats labels for read-only data. It uses a muted color because the label that identifies the data is less important than the content.</div>
          </div>
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-data-label&quot;&gt;Data label&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans.woff">Blackbaud Sans</a> 16px #686c73</div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-emphasized">Emphasized</div>
        </div>
        <div class="definition-props">
          <div class="definition-usage">
            <div class="sky-field-label">Usage</div>
            <div>This class formats text to emphasize important information within a block of text.</div>
          </div>
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-emphasized&quot;&gt;De-emphasized&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-bold.woff">Blackbaud Sans Bold</a></div>
          </div>
        </div>
      </div>
      <div class="definition-table definition-table-wide">
        <div class="definition-item">
          <div class="sky-font-deemphasized">De-emphasized</div>
        </div>
        <div class="definition-props">
          <div class="definition-usage">
            <div class="sky-field-label">Usage</div>
            <div>This class formats text to de-emphasize ancillary information, such as persistent inline help text.</div>
          </div>
          <div class="definition-code">
            <div class="sky-field-label">Code</div>
            <sky-code>&lt;div class=&quot;sky-font-deemphasized&quot;&gt;De-emphasized&lt;/div&gt;</sky-code>
          </div>
          <div class="definition-styling">
            <div class="sky-field-label">Styling</div>
            <div><a href="https://sky.blackbaudcdn.net/skyux-fonts/1.0.1/blackbaud-sans-italic.woff">Blackbaud Sans Italic</a> #686c73</div>
          </div>
        </div>
      </div>
  </div>
</div>
</sky-restricted-view> 

</div>

</stache>
