<sky-demo-page
  pageTitle="Tokens"
  skyuxModule="SkyTokensModule"
  packageName="@skyux/indicators"
>

  <sky-demo-page-summary>
    <p>
      The tokens component displays a series of specified objects for users to interact with. Users can navigate through the list of tokens and remove tokens from the list. The tokens component includes a message stream to place focus on tokens or remove tokens from the list.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Tokens list properties">
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether to disable the tokens list to prevent users from selecting tokens, dismissing tokens, or navigating through the list with the arrow keys. When the tokens list is disabled, users can still place focus on items in the list using the Tab key.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissible"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether users can remove tokens from the list by selecting their close buttons or pressing the Backspace key.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="displayWith"
      defaultValue="name"
      isOptional="true"
    >
      Specifies the token property to display for each item in the tokens list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="focusable"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether users can focus on items in the list using the Tab key. This does not affect the ability of users to select tokens, dismiss tokens, or navigate through the list with the arrow keys.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
    >
      Specifies an observable of <sky-code>SkyTokensMessageType</sky-code> that can place focus on a particular token or remove the active token from the list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tokens"
    >
      Specifies an array of tokens to include in the list.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tokens list events">
    <sky-demo-page-property
      propertyName="focusIndexOverRange"
    >
      Fires when users navigate through the tokens list with the Tab key and attempt to move past the final token in the list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="focusIndexUnderRange"
    >
      Fires when usersnavigate through the tokens list with the Tab key and attempt to move before the first token in the list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tokensChange"
    >
      Fires when the tokens in the list change. This event emits an array of the tokens in the updated list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tokenSelected"
    >
      Fires when users select a token in the list. This event emits the selected token.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyTokensMessageType properties">
    <sky-demo-page-property
      propertyName="FocusActiveToken"
    >
    Places focus on the token that is currently selected.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="FocusLastToken"
    >
    Places focus on the last token in the list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="FocusNextToken"
    >
    Places focus on the token after the currently selected token.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="FocusPreviousToken"
    >
    Places focus on the token before the currently selected token.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="RemoveActiveToken"
    >
    Removes the token that is currently selected from the list of tokens.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Token properties">
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether to disable the token to prevent users from selecting it, dismissing it, or navigating to it with the arrow keys. When the token is disabled, users can still place focus on it using the Tab key.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaLabel"
      defaultValue="Remove item"
      isOptional="true"
    >
      Sets the <sky-code>aria-label</sky-code> and <sky-code>title</sky-code> attributes for the token's close button to support accessibility.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissible"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether users can remove the token from the list by selecting the close button or pressing the Backspace key.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="focusable"
      defaultValue="true"
      isOptional="true"
    >
      Indicates whether users can press the Tab key to place focus on the token. This does not affect the ability to select the token, dismiss it, or navigate to it with the arrow keys.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Token events">
    <sky-demo-page-property
      propertyName="dismiss"
    >
      Fires when users click the close button or press the Backspace key to dismiss the token.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tokenFocus"
    >
      Fires when users place focus on the token by navigating to it with the Tab key.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-tokens-demo>
    </sky-tokens-demo>
    <sky-demo-page-code
      demoName="Tokens">
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
