<sky-tabbed-demo-page
  pageTitle="Dropodown"
>

<sky-demo-page-summary>
  <p>
    The dropdown component renders a button that displays a menu when users click it. The menu displays a set of actions or functions.
  </p>
</sky-demo-page-summary>  

<sky-demo-page-example>
  <sky-dropdown-demo>
  </sky-dropdown-demo>
</sky-demo-page-example>  
  
<sky-tabset id="content-tabs">

  <sky-tab
    tabHeading="Design">
    
    <sky-demo-page-content sectionHeading="Usage">
      <h3 class="sky-text-success">Use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Use dropdowns when users require access to multiple related actions, or when users require access to multiple different actions and there is not enough space to use separate buttons for each action.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/dropdown/usage-toolbar.png" />
            <div class="caption caption-success sky-text-success">Do use dropdowns to let users access multiple actions.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Use context menu dropdowns for actions that will affect one item in a list.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/dropdown/usage-context-menu.png" />
            <div class="caption caption-success sky-text-success">Do use context menu dropdowns with items in a list.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Use icon-only dropdowns when there is not enough space to include a text label, such as in a list toolbar at phone resolutions.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/dropdown/usage-icon.png" />
            <div class="caption caption-success sky-text-success">Do use icon-only dropdowns when there is not space to include a label.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>  
      <h3 class="sky-text-danger">Don't use when</h3>
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Don't use dropdowns as form inputs. Use HTML <sky-code>&lt;select&gt;</sky-code> fields instead.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/dropdown/usage-dont-input.png" />
            <div class="caption caption-danger sky-text-danger">Don't use dropdowns as form inputs.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/dropdown/anatomy.png">
        <sky-docs-anatomy-item anatomyNumber="1">Dropdown button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">Dropdown menu</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">Action</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>Button types</h3>
      <sky-demo-page-component-states>
        <sky-demo-page-component-state stateName="Default" imagePath="~/assets/img/guidelines/dropdown/option-type-default.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Context menu" imagePath="~/assets/img/guidelines/dropdown/option-type-context.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Icon" imagePath="~/assets/img/guidelines/dropdown/option-type-icon.png"></sky-demo-page-component-state>
      </sky-demo-page-component-states>
        <h3>Button style</h3>
        <div class="sky-text-block sky-margin-stacked-content-section">
            <p>Dropdowns can use the default or primary style inherited from SKY UX buttons. See the <a routerLink="/design/guidelines/page-layouts" fragment="primary-action-guidelines">primary action guidelines</a> for details about when to use the primary style.</p>
        </div>
    </sky-demo-page-content>
      
    <sky-demo-page-content sectionHeading="Behavior and states">
        <h3>Behavior</h3>
        <div class="sky-text-block sky-margin-stacked-content-section">
            <p>The behavior of the dropdown menu is defined by the <a routerLink="/components/popover">popover</a> component.</p>
        </div>
        <h3>States</h3>
        <div class="sky-text-block sky-margin-stacked-content-section">
            <p>Dropdowns inherit the styling for their different states (hover, disabled, etc.) from <a routerLink="/components/button">SKY UX buttons</a>.</p>
        </div>
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Content">
      <h3>Dropdown menu action text</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>If an action clearly applies to the object associated with the context menu, use the following format for the action wording:</p>
          <p><span class="sky-emphasized">&lt;Verb&gt;</span></p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img class="bordered" src="~/assets/img/guidelines/wording/context-menu.png" alt="context menu actions: View, Edit, Delete" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>For a dropdown button with one type of action, use the following format:</p>
          <p>Button text: <span class="sky-emphasized">&lt;Verb&gt;</span></p>
          <p>Menu item: <span class="sky-emphasized">&lt;Direct object&gt;</span></p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img class="bordered" src="~/assets/img/guidelines/wording/dropdown-single-action.png" alt="dropdown menu Edit: Addresses, Email addresses, Phone numbers" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
          <p>For a dropdown button with more than one type of action, use the following format:</p>
          <p>Button text: <span class="sky-emphasized">More</span></p>
          <p>Button icon: <span class="sky-emphasized">fa-ellipsis-h</span></p>
          <p>Menu item: <span class="sky-emphasized">&lt;Verb&gt; &lt;direct object&gt;</span></p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img class="bordered" src="~/assets/img/guidelines/wording/more-button.png" alt="dropdown menu More: Place vendor on hold, Archive vendor" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>
      
        <div class="sky-text-block sky-margin-stacked-content-section">
        <p>Additional button text guidelines:</p>
				<ul>
					<li>Use sentence-style capitalization.</li>
					<li>The direct object can be singular or plural depending on whether the action acts on one or multiple items.</li>
					<li>Don’t append extra words such as “details.” For example, use “Edit constituent” rather than “Edit constituent details.”</li>
				</ul>
      </div>
    </sky-demo-page-content>
      
    <sky-demo-page-content sectionHeading="Layout">
        
        <sky-docs-visual-example>
          <sky-docs-visual-example-text>
            <p>Place context menus to the left of all row-specific content, but to the right of all list controls (such as checkboxes in a grid or repeater, or the expand-collapse actions in a tree view).</p>
            <p>Default dropdowns are positioned like SKY UX buttons, with the same alignment and margins.</p>
          </sky-docs-visual-example-text>
          <sky-docs-visual-example-image>
            <img src="~/assets/img/guidelines/dropdown/layout.png" />
            <div class="caption caption-success sky-text-success">Do put context menu dropdowns to the left of all row-specific content in lists.</div>
          </sky-docs-visual-example-image>
        </sky-docs-visual-example>
        
    </sky-demo-page-content>
    
    <sky-demo-page-content sectionHeading="Related information">
		<h3>Components</h3>
			<ul>
				<li><a routerLink="/components/button">Buttons</a></li>
			</ul>
		<h3>Guidelines</h3>
			<ul>
				<li><a routerLink="/design/guidelines/buttons-links">Buttons and links</a></li>
			</ul>
	</sky-demo-page-content>
    
  </sky-tab>

  <sky-tab
    tabHeading="Development">

  <sky-demo-page-module-info
    skyuxModule="SkyDropdownModule"
    packageName="@skyux/popovers"
    githubRepo="skyux-popovers"
  >
  </sky-demo-page-module-info>
  <sky-demo-page-properties sectionHeading="Dropdown properties">
    <sky-demo-page-property
      propertyName="alignment"
      isOptional="true"
      defaultValue="center"
    >
      Specifies the horizontal alignment of the dropdown menu in relation to the dropdown button. Available values are <sky-code>left</sky-code>, <sky-code>right</sky-code>, and <sky-code>center</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttonStyle"
      isOptional="true"
      defaultValue="default"
    >
      Specifies a background color for the dropdown button. Available values are <sky-code>default</sky-code> and <sky-code>primary</sky-code>. These values set the background color from the <a routerLink="../button">secondary and primary button classes</a> respectively.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttonType"
      isOptional="true"
      defaultValue="select"
    >
      Specifies the type of button to render as the dropdown's trigger element. To display a button with text and a caret, specify <sky-code>select</sky-code> and then enter the button text in a <sky-code>sky-dropdown-button</sky-code> element. To display a round button with an ellipsis, specify <sky-code>context-menu</sky-code>. And to display a button with <a href="http://fontawesome.io/icons/">a Font Awesome icon</a>, specify the icon's class name. For example, to display the <sky-code>fa-filter</sky-code> icon, specify <sky-code>filter</sky-code>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
      Indicates whether to disable the dropdown button. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissOnBlur"
      isOptional="true"
      defaultValue="true"
    >
      Indicates whether to close the dropdown when users click away from the menu. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
    >
      Specifies an accessibility label to provide a text equivalent for screen readers when the dropdown button has no text. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
      isOptional="true"
    >
      Provides an observable to send commands to the dropdown. The commands should respect <a stacheRouterLink="." fragment="skydropdownmenuchange">the <sky-code>SkyDropdownMessage</sky-code> type</a>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="title"
      isOptional="true"
    >
      Specifies a title to display in a tooltip when users hover the mouse over the dropdown button. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="trigger"
      isOptional="true"
      defaultValue="click"
    >
      This property is deprecated. We recommend against using it. It specifies how users interact with the dropdown button to expose the dropdown menu, and the available values are <sky-code>click</sky-code> and <sky-code>hover</sky-code>. We recommend the default <sky-code>click</sky-code> value because the <sky-code>hover</sky-code> value can pose accessibility issues for users on touch devices such as phones and tablets. If you choose to use the deprecated <sky-code>hover</sky-code> value anyway, we recommend that you not use it in combination with the <sky-code>title</sky-code> property.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Dropdown menu properties">
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
      Sets the dropdown menu's <sky-code>aria-labelledby</sky-code> attribute to support accessibility. The value should be the HTML element ID (without the leading <sky-code>#</sky-code>) of the element that labels the dropdown menu. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaRole"
      isOptional="true"
      defaultValue="menu"
    >
      Specifies an ARIA role for the dropdown menu to support accessibility by indicating how the dropdown menu functions and what it controls. The ARIA role indicates what the dropdown menu represents on the web page. For information about ARIA roles, see the <a href="https://www.w3.org/WAI/PF/aria/roles">WAI-ARIA roles model</a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="useNativeFocus"
      isOptional="true"
      defaultValue="true"
    >
      Indicates whether to use the browser's native focus function when users navigate through menu items with the keyboard. To disable the native focus function, set this property to <sky-code>false</sky-code>. For example, to let users interact with the dropdown menu but keep the keyboard focus on a different element, set this property to <sky-code>false</sky-code>. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Dropdown menu events">
    <sky-demo-page-property
      propertyName="menuChanges"
      isOptional="true"
    >
      Fires when the dropdown menu's active index or selected item changes. This event provides an observable to emit changes, and the response is of <a stacheRouterLink="." fragment="skydropdownmenuchange">the <sky-code>SkyDropdownMessage</sky-code> type</a>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Dropdown item properties">
    <sky-demo-page-property
      propertyName="ariaRole"
      isOptional="true"
      defaultValue="menuitem"
    >
      Specifies an ARIA role for the dropdown menu item to support accessibility by indicating how the dropdown menu item functions and what it controls. The ARIA role indicates what the dropdown menu item represents on the web page. For information about ARIA roles, see the <a href="https://www.w3.org/WAI/PF/aria/roles">WAI-ARIA roles model</a>. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDropdownMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true"
    >
      Sets <sky-code>SkyDropdownMessage</sky-code> to one of the following types:
      <ul>
        <li>
          <sky-code>SkyDropdownMessageType.Close</sky-code> &mdash; Closes the dropdown menu.
        </li>
        <li>
          <sky-code>SkyDropdownMessageType.FocusNextItem</sky-code> &mdash; Puts focus on the next item in the dropdown menu.
        </li>
        <li>
          <sky-code>SkyDropdownMessageType.FocusPreviousItem</sky-code> &mdash; Puts focus on the previous item in the dropdown menu.
        </li>
        <li>
          <sky-code>SkyDropdownMessageType.FocusTriggerButton</sky-code> &mdash; Puts focus on the dropdown button.
        </li>
        <li>
          <sky-code>SkyDropdownMessageType.Open</sky-code> &mdash; Opens the dropdown menu.
        </li>
        <li>
          <sky-code>SkyDropdownMessageType.Reposition</sky-code> &mdash; Repositions the dropdown menu next to the dropdown button. This is useful for when the dropdown menu's width and height change while it is open.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDropdownMenuChange">
    <sky-demo-page-property
      propertyName="activeIndex"
      isOptional="true"
    >
      Indicates the active menu index. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="items"
      isOptional="true"
    >
      Indicates the items in the menu. This property accepts values of type <sky-code>SkyDropdownItemComponent</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectedItem"
      isOptional="true"
    >
      Indicates the selected item in the menu. This property accepts values of type <sky-code>SkyDropdownItemComponent</sky-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-dropdown-demo>
    </sky-dropdown-demo>
    <sky-demo-page-code
      demoName="Dropdown">
    </sky-demo-page-code>
  </sky-demo-page-example>
    
  </sky-tab>
  
</sky-tabset>

</sky-tabbed-demo-page>
