<sky-demo-page
  pageTitle="Dropdown"
  skyuxModule="SkyDropdownModule"
>

  <sky-demo-page-summary>
    <p>
      The dropdown component renders a button that displays a menu when users click it. The menu displays a set of actions or functions. <strong>Do not use the dropdown component as a select input</strong> for users to set the menu's value to one of the options. If you need a select input, see the <a routerLink="/design/guidelines/select-items">options to select items from lists</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties
    sectionHeading="Dropdown button properties">
    <sky-demo-page-property
      propertyName="buttonType"
      isOptional="true"
      defaultValue="select">
      Specifies the type of button to render as the dropdown's trigger element. To display a button with text and a caret, specify <stache-code>select</stache-code> and then enter the button text in a <stache-code>sky-dropdown-button</stache-code> element. To display a round button with an ellipsis, specify <stache-code>context-menu</stache-code>. And to display a button with <a href="http://fontawesome.io/icons/">a Font Awesome icon</a>, specify the icon's class name. For example, to display the <stache-code>fa-filter</stache-code> icon, specify <stache-code>filter</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="buttonStyle"
      isOptional="true"
      defaultValue="default">
      Specifies a background color for the dropdown button. If unspecified, the <stache-code>default</stache-code> value sets the background color to <stache-code>sky-color-white</stache-code>. To change the background color to <stache-code>sky-color-blue</stache-code>, specify <stache-code>primary</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissOnBlur"
      isOptional="true"
      defaultValue="true">
      Indicates whether to close the dropdown when users click away from the menu. This property accepts boolean values.
  </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true">
      Specifies an accessibility label to provide a text equivalent for screen readers when the dropdown button has no text.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="title"
      isOptional="true">
      Specifies a title to display in a tooltip when users hover the mouse over the dropdown button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="messageStream"
      isOptional="true">
      Provides an observable to send commands to the dropdown. The commands should respect the <stache-code>SkyDropdownMessage</stache-code> type (see below).
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Dropdown menu properties">
    <sky-demo-page-property
      propertyName="ariaLabelledBy"
      isOptional="true"
    >
      Sets the dropdown menu's <stache-code>aria-labelledby</stache-code> attribute to support accessibility. The value should be the HTML element ID (without the leading <stache-code>#</stache-code>) of the element that labels the dropdown menu.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaRole"
      isOptional="true"
    >
      Sets the dropdown's <stache-code>role</stache-code> attribute to support accessibility. For information about ARIA roles, see the <a href="https://www.w3.org/WAI/PF/aria/roles">WAI-ARIA roles model</a>.
     </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="useNativeFocus"
      isOptional="true"
      defaultValue="true">
      Indicates whether to use the browser's native focus function when users navigate through menu items with the keyboard. To disable the native focus function, set this property to <stache-code>false</stache-code>. For example, if you want to interact with the dropdown menu but keep the keyboard focus on a different element, set this property to <stache-code>false</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  
  <sky-demo-page-properties
    sectionHeading="Dropdown menu events">
    <sky-demo-page-property
      propertyName="menuChanges"
      isOptional="true">
      Fires when the dropdown menu's active index or selected item changes. This event provides an observable to emit changes, and the response is of type <stache-code>SkyDropdownMenuChange</stache-code> (see below).
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDropdownMessage type">
    <sky-demo-page-property
      propertyName="type"
      isOptional="true">
      Sets the message to one of the following <stache-code>SkyDropdownMessage</stache-code> types:
      <ul>
        <li>
          <stache-code>SkyDropdownMessageType.Open</stache-code> &mdash; Opens the dropdown menu.
        </li>
        <li>
          <stache-code>SkyDropdownMessageType.Close</stache-code> &mdash; Closes the dropdown menu.
        </li>
        <li>
          <stache-code>SkyDropdownMessageType.FocusTriggerButton</stache-code> &mdash; Puts focus the dropdown button.
        </li>
        <li>
          <stache-code>SkyDropdownMessageType.FocusNextItem</stache-code> &mdash; Puts focus on the next item in the dropdown menu.
        </li>
        <li>
          <stache-code>SkyDropdownMessageType.FocusPreviousItem</stache-code> &mdash; Puts focus on the previous item in the dropdown menu.
        </li>
        <li>
          <stache-code>SkyDropdownMessageType.Reposition</stache-code> &mdash; Repositions the dropdown next to the dropdown button. This is useful for when the dropdown's width and height change while open.
        </li>
      </ul>
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyDropdownMenuChange">
    <sky-demo-page-property
      propertyName="trigger"
      isOptional="true"
      defaultValue="click">
      This property is deprecated, and we recommend against using it. It specifies the user action that opens the dropdown, and the valid options are <stache-code>click</stache-code> or <stache-code>hover</stache-code>. We recommend the default <stache-code>click</stache-code> value because the <stache-code>hover</stache-code> option can pose accessibility issues for users on touch devices such as phones and tablets.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="activeIndex">
      Indicates the active menu index.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectedItem">
      Indicates the selected item in the menu. The value of the field is of type <stache-code>SkyDropdownItemComponent</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-dropdown-demo>
    </sky-dropdown-demo>
    <sky-demo-page-code
      demoName="Dropdown">
    </sky-demo-page-code>
  </sky-demo-page-example>
	
	<sky-demo-page-content sectionHeading="UX guidelines">
		<div class="sky-subsection-heading">Dropdown menu action text</div>
			<p>If the context menu is tied to the direct object of a context menu item, use the following format for the action wording:</p>
			<p><span class="sky-emphasized">&lt;Verb&gt;</span></p>
			<div style="margin-bottom: 20px;">
				<img class="screenshot screenshot-info" src="~/assets/img/guidelines/wording/context-menu.png" alt="context menu actions: View, Edit, Delete"/>
			</div>
		
			<p>For a dropdown button with one type of action, use the following format:</p>
			<p>Button text: <span class="sky-emphasized">&lt;Verb&gt;</span></p>
			<p>Menu item: <span class="sky-emphasized">&lt;Direct object&gt;</span></p>
			<div style="margin-bottom: 20px;">
				<img class="screenshot screenshot-info" src="~/assets/img/guidelines/wording/dropdown-single-action.png" alt="dropdown menu Edit: Addresses, Email addresses, Phone numbers"/>
			</div>
		
			<p>For a dropdown button with more than one type of action, use the following format:</p>
			<p>Button text: <span class="sky-emphasized">More</span></p>
			<p>Menu item: <span class="sky-emphasized">&lt;Verb&gt; &lt;Direct object&gt;</span></p>
			<div style="margin-bottom: 20px;">
				<img class="screenshot screenshot-info" src="~/assets/img/guidelines/wording/more-button.png" alt="dropdown menu More: Place vendor on hold, Archive vendor"/>
			</div>
		
			<p>Additional button text guidelines:</p>
				<ul>
					<li>Use sentence case.</li>
					<li>The direct object can be singular or plural depending on whether the action lets you act on one or multiple items.</li>
					<li>Don’t append extra words such as “details.” For example, use “Edit constituent” rather than “Edit constituent details.”</li>
				</ul>
	</sky-demo-page-content>

</sky-demo-page>
