<sky-demo-page
  pageTitle="Search"
  skyuxModule="SkySearchModule"
  packageName="@skyux/lookup"
>

  <sky-demo-page-summary>
    Creates an input control for users to enter search criteria.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Search properties">
    <sky-demo-page-property
      propertyName="debounceTime"
      isOptional="true"
      defaultValue="0"
    >
    Specifies how many milliseconds to wait before searching after users enter text in the search input.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to disable the filter button.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expandMode"
      isOptional="true"
      defaultValue="responsive"
    >
    Specifies the expand mode for the search input. The valid options include <stache-code>responsive</stache-code> to collapse the search input into a button on mobile devices, <stache-code>none</stache-code> to <strong><em>not</em></strong> collapse the search input on mobile devices, and <stache-code>fit</stache-code> to extend the search input to fit the width of its container.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="placeholderText"
      isOptional="true"
      defaultValue="Find in this list"
    >
    Specifies placeholder text to display in the search input until users enter search criteria.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchText"
      isOptional="true"
    >
    Specifies default search criteria for the input.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Search events">
    <sky-demo-page-property
      propertyName="searchApply"
    >
    Fires when the search text is applied.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchChange"
    >
    Fires when the search text is changed.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchClear"
    >
    Fires when the search text is cleared.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-search-demo></sky-search-demo>
    <sky-demo-page-code demoName="Search"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
