<sky-tabset>
  <sky-tab
    tabHeading="@skyux">
    <ng-container
      *ngTemplateOutlet="packageList; context: { $implicit: skyuxPackages }">
    </ng-container>
  </sky-tab>

  <sky-tab
    tabHeading="@skyux-sdk">
    <ng-container
      *ngTemplateOutlet="packageList; context: { $implicit: sdkPackages }">
    </ng-container>
  </sky-tab>

  <sky-tab
    tabHeading="@blackbaud">

    <sky-alert alertType="warning">
      Please note we are actively republishing these packages under <stache-code>@skyux</stache-code> and <stache-code>@skyux-sdk</stache-code>.
    </sky-alert>

    <ng-container
      *ngTemplateOutlet="packageList; context: { $implicit: blackbaudPackages }">
    </ng-container>

  </sky-tab>
</sky-tabset>

<ng-template
  #packageList
  let-packages>
  <sky-grid
    fit="width"
    [data]="packages">
    <sky-grid-column
      field="id"
      heading="Package Name"
      [template]="templateColumnPackage">
    </sky-grid-column>
    <sky-grid-column
      field="repo"
      heading="Repository"
      [template]="templateColumnRepository">
    </sky-grid-column>
    <sky-grid-column
      field="id"
      heading="Version"
      [template]="templateColumnVersion">
    </sky-grid-column>
  </sky-grid>
</ng-template>

<ng-template
  let-value="value"
  #templateColumnPackage>
  <a [href]="'https://npmjs.com/package/' + value">
    {{ value }}
  </a>
</ng-template>

<ng-template
  let-value="value"
  #templateColumnVersion>
  <img [src]="'https://img.shields.io/npm/v/' + value + '.svg'">
</ng-template>

<ng-template
  let-row="row"
  #templateColumnRepository>
  <a [href]="row.repoUrl" *ngIf="row.repo && row.repoUrl">
    {{ row.repo }}
  </a>
</ng-template>
