<stache-hero
  overlayOpacity="0"
  backgroundImageUrl="~/assets/home/skyux-background.jpg">

  <stache-hero-heading>
    <img src="~/assets/home/skyux-logo.png" alt="SKY UX">
  </stache-hero-heading>

  <stache-hero-subheading>
    Blackbaud’s user experience framework to build web applications that leverage common design patterns.
  </stache-hero-subheading>
</stache-hero>

<stache
layout="container"
showBreadcrumbs="false"
showEditButton="false"
showFooter="false">
  <div class="row-welcome">
    <sky-fluid-grid>
      <sky-row>
        <sky-column screenSmall="7">
          <div class="info">
            <stache-page-title>
              Welcome to Blackbaud's user experience framework!
            </stache-page-title>
            <p class="lead">
              SKY UX brings a consistent, cohesive experience to Blackbaud products and allows third-party developers to provide the same consistent experience in their customizations and applications. SKY UX provides guidelines and tooling for the entire application lifecycle.
            </p>
          </div>
        </sky-column>
        <sky-column screenSmall="1">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="4">
          <div class="h-center">
            <a routerLink="/learn/get-started" class="sky-btn sky-btn-primary btn-large">
              Get started
            </a>
            <a routerLink="/learn/overview" class="sky-btn sky-btn-secondary btn-large">
              SKY UX overview
            </a>
          </div>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>

  <div class="row-features">
    <sky-fluid-grid>
      <sky-row>
        <sky-column screenSmall="4">
          <a routerLink="/contribute" class="screenshot screenshot-success">
            <img src="~/assets/home/blackbaud-mission-subset.jpg" alt="Blackbaud Mission" />
          </a>
        </sky-column>
        <sky-column screenSmall="2">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="6">
          <div class="info">
            <h3>
              Open source
            </h3>
            <p class="lead">
              SKY UX is proudly open sourced and <a href="https://github.com/blackbaud/skyux2">hosted on GitHub</a>.
              We highly encourage contributions from all SKY UX users. <a routerLink="/contribute">Learn more</a>.
            </p>
          </div>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column screenSmall="6">
          <div class="info">
            <h3>
              Design patterns
            </h3>
            <p class="lead">
              The core of SKY UX is our design patterns. They empower users, focus on their workflow, and provide a clean, cohesive interface. <a routerLink="/design">Learn more</a>.
            </p>
          </div>
        </sky-column>
        <sky-column screenSmall="2">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="4">
          <a routerLink="/design" class="screenshot screenshot-info">
            <img src="~/assets/img/guidelines/pagelayout/record.png" alt="SKY UX Record Page" />
          </a>
        </sky-column>
      </sky-row>

      <sky-row>
        <sky-column screenSmall="4">
          <a routerLink="/components" class="screenshot screenshot-info">
            <img src="~/assets/home/feature-components.png" alt="Example Components" />
          </a>
        </sky-column>
        <sky-column screenSmall="2">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="6">
            <div class="info">
              <h3>
                Angular components
              </h3>
              <p class="lead">
                We implement our design patterns as Angular components that allow developers to quickly create applications with a common user experience. Components are grouped into modules to improve performance. <a routerLink="/components">Learn more</a>
              </p>
              <p class="lead">
                To learn about our AngularJS (1.x) implementation, visit the <a href="https://skyux.developer.blackbaud.com">SKY UX 1 documentation</a>.
              </p>
            </div>
          </sky-column>
      </sky-row>

      <sky-row>
        <sky-column screenSmall="6">
          <div class="info">
            <h3>
              SDK
            </h3>
            <p class="lead">
              SKY UX provides additional tooling in the form of several SDK and CLI libraries. These ensure rapid application development, as well as reliable testing and hosting of our front-end applications. <a routerLink="/learn/reference">Learn more</a>.
            </p>
          </div>
        </sky-column>
        <sky-column screenSmall="2">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="4">
          <a routerLink="/learn/reference" class="screenshot screenshot-info">
            <img src="~/assets/home/feature-sdk-cli.png" alt="Example SDK" />
          </a>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column screenSmall="4">
          <a href="https://developer.blackbaud.com/stache" class="screenshot screenshot-info">
            <img src="~/assets/home/stache.png" alt="Stache" />
          </a>
        </sky-column>
        <sky-column screenSmall="2">
          &nbsp;
        </sky-column>
        <sky-column screenSmall="6">
            <div class="info">
              <h3>
                Docs as Code
              </h3>
              <p class="lead">
                The Stache component library provides open source components built on SKY UX to generate consistent, user-focused technical documentation websites with the same tools that you use to write code. <a href="https://developer.blackbaud.com/stache">Learn more</a>.
              </p>
            </div>
          </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</stache>

<div class="row-developer">
  <stache
    layout="container"
    showBreadcrumbs="false"
    showEditButton="false">

    <sky-fluid-grid>
      <sky-row>
        <sky-column screenSmall="12">
          <a href="https://developer.blackbaud.com/">
            <img src="~/assets/home/sky-developer.jpg"
              class="screenshot-responsive"
              alt="SKY Developer">
          </a>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </stache>
</div>
