<sky-tabbed-demo-page
  pageTitle="File Attachment"
  navTitle="File attachment"
>

  <sky-demo-page-summary>
    <p>
      The file drop component allows the user to drag and drop or select files to upload, and the file item displays information about an attachment.
    </p>
  </sky-demo-page-summary>

  <div class="sky-margin-stacked-content-section">
	<sky-demo-page-example>
    <sky-file-attachment-demo></sky-file-attachment-demo>
  </sky-demo-page-example>
  </div>

  <sky-tabset id="content-tabs">

  <sky-tab
		tabHeading="Design">
    <sky-demo-page-content sectionHeading="Usage">
    <h3 class="sky-text-success">Use when</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>Use file attachment when the user needs to upload multiple files or attach a file from a URL rather than the local device.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/use-multi.png" />
            <div class="caption caption-success sky-text-success">Do use file attachment to upload more than one file.</div>
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>Use file attachment when the user needs to add metadata to the uploaded file.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/use-metadata.png" />
            <div class="caption caption-success sky-text-success">Do use file attachment to add metadata about the uploaded file.</div>
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

    <h3 class="sky-text-danger">Don't use when</h3>
      <p class="sky-text-block">
        Don't use file attachment if the user needs to upload one local file. Use single file attachment instead.
      </p>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Anatomy">
      <sky-docs-anatomy imagePath="~/assets/img/guidelines/file-attach/anatomy.png">
        <sky-docs-anatomy-item anatomyNumber="1">Upload local file option</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="2">File name</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="3">File size</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="4">File preview</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="5">Delete button</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="6" isOptional="true">Link to file option</sky-docs-anatomy-item>
        <sky-docs-anatomy-item anatomyNumber="7" isOptional="true">Additional metadata</sky-docs-anatomy-item>
      </sky-docs-anatomy>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Options">
      <h3>Attach from URL</h3>
        <p class="sky-text-block">
          You can specify whether you want the user to be able to attach a file from a URL or only from the local device.
        </p>
      <h3>Validation</h3>
        <p class="sky-text-block">
          You can specify the parameters for a valid file, including file type, file size or a custom validation function.
        </p>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Behavior & states">
      <h3>File information</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>When the user attaches a file, summary information for that file appears in a card below the file attach input. By default the summary information includes file name, a delete button, and if the file is from a local drive also includes file size and a file thumbnail. You can optionally include inputs for the user to add metadata about the file.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <img src="~/assets/img/guidelines/file-attach/behavior-preview.png" />
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <h3>Responsiveness</h3>
      <sky-docs-visual-example>
        <sky-docs-visual-example-text>
            <p>File attachment switches from a horizontal to a vertical layout in smaller viewports.</p>
        </sky-docs-visual-example-text>
        <sky-docs-visual-example-image>
          <div>
            <img src="~/assets/img/guidelines/file-attach/behavior-responsive.png" />
          </div>
        </sky-docs-visual-example-image>
      </sky-docs-visual-example>

      <div class="sky-margin-stacked-content-section">
      <h3>States</h3>
      <sky-demo-page-component-states>
        <sky-demo-page-component-state stateName="Base" imagePath="~/assets/img/guidelines/file-attach/state-base.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Attached, image" imagePath="~/assets/img/guidelines/file-attach/state-attached-image.png"></sky-demo-page-component-state>
        <sky-demo-page-component-state stateName="Attached, non-image" imagePath="~/assets/img/guidelines/file-attach/state-attached-other.png"></sky-demo-page-component-state>
      </sky-demo-page-component-states>
      </div>
    </sky-demo-page-content>

    <sky-demo-page-content sectionHeading="Related information">
      <h3>Guidelines</h3>
        <ul>
          <li><a routerLink="/design/guidelines/form-design">Form design</a></li>
        </ul>
    </sky-demo-page-content>
  </sky-tab>

  <sky-tab
    tabHeading="Development"
  >

    <p>
      The <sky-code>sky-file-drop</sky-code> component provides an element that users can click to select files from their local drives or use as a drop zone to drag and drop files. The component can also display controls for users to provide hyperlinks to files on the web. You can leave the contents of the component blank to display the drop zone's default UI, or you can specify custom content to display instead.
    </p>
    <p>
      When the SKY UX module initializes, it disables the ability to drag and drop files for the entire window. This prevents the browser from opening files that are accidentally dropped outside the target zone. If you implement your own file drop functionality outside of the file drop component, you can place the <sky-code>sky-file-drop-target</sky-code> CSS class on the element that receives drop events to exempt it from the drop exclusion rule.
    </p>
    <p>
      The <sky-code>sky-file-item</sky-code> component displays summary information about files that users attach to forms. By default, the component displays file names, delete buttons, and fields for names and tags. For files from local drives, the component also displays file sizes and thumbnails.
    </p>

    <sky-demo-page-module-info
      skyuxModule="SkyFileAttachmentsModule"
      packageName="@skyux/forms"
      githubRepo="skyux-forms"
    >
    </sky-demo-page-module-info>

    <sky-demo-page-properties sectionHeading="File drop properties">
      <sky-demo-page-property
        propertyName="acceptedTypes"
      >
        Provides a comma-delimited string literal of MIME types that users can drop or select (<sky-code>[acceptedTypes]="validFileTypes"</sky-code> or <sky-code>acceptedTypes="image/png,image/jpeg"</sky-code>). By default, any type of file is allowed.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="allowLinks"
        isOptional="true"
        defaultValue="false"
      >
        Indicates whether to display an option for users to provide hyperlinks to files on the web. To display this hyperlink option, you include this attribute with no value.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="maxFileSize"
        isOptional="true"
        defaultValue="500000"
      >
        Specifies the maximum size in bytes for valid files.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="minFileSize"
        isOptional="true"
      >
        Specifies the minimum size in bytes for valid files.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="multiple"
        isOptional="true"
        defaultValue="true"
      >
        Indicates whether users can drag and drop multiple files at the same time.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="noClick"
        isOptional="true"
        defaultValue="false"
      >
        Disables the option for users to click the element and select files through a file dialog. To disable the option, you include this attribute with no value.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="validateFn"
        isOptional="true"
      >
        Provides a custom validation function (<sky-code>[validateFn]="validateFile"</sky-code>). By default, any type of file is allowed.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File drop events">
      <sky-demo-page-property
        propertyName="filesChanged"
        isOptional="true"
      >
        Fires when the user selects one or more files.
      </sky-demo-page-property>
      <sky-demo-page-property
        propertyName="linkChanged"
        isOptional="true"
      >
        Fires when the user adds a link.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File item properties">
      <sky-demo-page-property
        propertyName="fileItem"
      >
        Displays summary information about files that users attach to forms. By default, the component displays file names, delete buttons, and fields for names and tags. For files from local drives, it also displays file sizes and thumbnails.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="File item events">
      <sky-demo-page-property
        propertyName="deleteFile"
        isOptional="true"
      >
        Fires when users click the delete button for an item. The deleted item is passed to the function.
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-example>
      <sky-file-attachment-demo></sky-file-attachment-demo>
      <sky-demo-page-code
        demoName="File attachment">
      </sky-demo-page-code>
    </sky-demo-page-example>

  </sky-tab>

</sky-tabset>

</sky-tabbed-demo-page>
