<sky-demo-page
  pageTitle="Inline Form"
  skyuxModule="SkyInlineFormModule"
  packageName="@skyux/inline-form"
>

  <sky-demo-page-summary>
    The inline form component allows a form to be displayed in context, without having to open a modal. Most commonly it will be used within a repeater or grid row or tile section. The inline form component provides the design, transition animations, and buttons. Actual contents of the form and handling of button actions is up to the implementer.
  </sky-demo-page-summary>

  <p>docs stuff goes here...</p>

  <sky-demo-page-example>
    <sky-inline-form-demo></sky-inline-form-demo>
    <sky-demo-page-code demoName="Inline form"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
