<sky-demo-page
  pageTitle="Inline form"
  skyuxModule="SkyInlineFormModule"
  packageName="@skyux/inline-form"
>

<sky-demo-page-summary>
	<p>
		Inline forms render in context in the current view instead of in a separate modal. It is most commonly used in <a stacheRouterLink="/components/grid">grids</a>, <a stacheRouterLink="/components/repeater">repeaters</a>, and <a stacheRouterLink="/components/tile">tiles</a>.
	</p>
</sky-demo-page-summary>

<sky-demo-page-properties sectionHeading='Inline form properties'>
	<sky-demo-page-property
    propertyName="config"
  >
  Specifies configuration options for the buttons to display with the inline form. This property accepts <a stacheRouterLink="." fragment="skyinlineformconfig-properties">a <sky-code>SkyInlineFormConfig</sky-code> object</a>.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="template"
  >
  Specifies a template to use to instantiate the inline form. This property accepts <a href="https://angular.io/api/core/TemplateRef">an Angular <sky-code>TemplateRef</sky-code> class</a>.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="showForm"
		isOptional="true"
		defaultValue="false"
  >
  Indicates whether to display the inline form. Users can toggle between displaying and hiding the inline form. This property accepts <sky-code>boolean</sky-code> values.
  </sky-demo-page-property>
</sky-demo-page-properties>

<sky-demo-page-properties sectionHeading='Inline form events'>
	<sky-demo-page-property
    propertyName="close"
		isOptional="true"
  >
  Fires when users close the inline form. This event emits <a stacheRouterLink="." fragment="skyinlineformcloseargs-properties">a <sky-code>SkyInlineFormCloseArgs</sky-code> type</a>.
  </sky-demo-page-property>
</sky-demo-page-properties>

<sky-demo-page-properties sectionHeading='SkyInlineFormConfig properties'>
	<sky-demo-page-property
    propertyName="buttonLayout"
  >
  Specifies the buttons to display with the inline form. This property accepts a <sky-code>SkyInlineFormButtonLayout</sky-code> value. The valid options are <sky-code>Custom</sky-code> for custom buttons, <sky-code>DoneCancel</sky-code> for Done and Cancel buttons, <sky-code>DoneDeleteCancel</sky-code> for Done, Delete, and Cancel buttons, <sky-code>SaveCancel</sky-code> for Save and Cancel buttons, and <sky-code>SaveDeleteCancel</sky-code> for Save, Delete, and Cancel buttons.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="buttons"
    isOptional="true"
  >
  Specifies configuration options for the inline form's buttons. This property accepts <a stacheRouterLink="." fragment="skyinlineformbuttonconfig-properties">an array of <sky-code>SkyInlineFormButtonConfig</sky-code> objects</a>.
  </sky-demo-page-property>
</sky-demo-page-properties>

<sky-demo-page-properties sectionHeading='SkyInlineFormButtonConfig properties'>
	<sky-demo-page-property
    propertyName="action"
  >
  Specifies the action that the button performs. The valid options are <sky-code>cancel</sky-code>, <sky-code>delete</sky-code>, <sky-code>done</sky-code>, and <sky-code>save</sky-code>. This property accepts <sky-code>string</sky-code> values.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="text"
  >
  Specifies a label for the button. This property accepts <sky-code>string</sky-code> values.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="disabled"
    isOptional="true"
		defaultValue="false"
  >
  Indicates whether to disable the button. This property accepts <sky-code>boolean</sky-code> values.
  </sky-demo-page-property>
	<sky-demo-page-property
    propertyName="styleType"
    isOptional="true"
  >
  Specifies a background color and style for the button. The valid options are <sky-code>default</sky-code>, <sky-code>link</sky-code>, and <sky-code>primary</sky-code>. These values set the background color and style from the <a routerLink="../button">secondary, link, and primary button classes</a> respectively. This property accepts <sky-code>string</sky-code> values.
  </sky-demo-page-property>
</sky-demo-page-properties>

<sky-demo-page-properties sectionHeading='SkyInlineFormCloseArgs properties'>
	<sky-demo-page-property
    propertyName="reason"
  >
  Returns a <sky-code>string</sky-code> value that explains why the inline form closed. The possible values are <sky-code>cancel</sky-code>, <sky-code>delete</sky-code>, <sky-code>done</sky-code>, and <sky-code>save</sky-code>.
  </sky-demo-page-property>
</sky-demo-page-properties>

<sky-demo-page-example>
  <sky-inline-form-demo></sky-inline-form-demo>
  <sky-demo-page-code demoName="Inline form"></sky-demo-page-code>
</sky-demo-page-example>

<sky-demo-page-content sectionHeading="UX guidelines">

<header><div class="sky-section-heading">Usage</div></header>
	<header><div class="sky-subsection-heading sky-margin-stacked-default">When to use inline forms</div></header>
	<sky-row>
    <sky-column screenSmall="6">
			<ul>
			<li>The add or edit form is simple in terms of the number of fields and the complexity of the input controls.</li>
			<li>The surrounding content will not distract users from the add or edit task.</li>
			<li>Users are highly likely to add multiple records in succession.</li>
			<li>To add or edit a subsection within a larger modal form.</li>
			<li>Users can abandon the task while the add or edit form is open.</li>
			</ul>
		</sky-column>
		<sky-column screenSmall="6">
			<div class="screenshot screenshot-success sky-margin-stacked-default">
				<img src="~/assets/img/guidelines/inline-form/usage-do-repeater.png" style="width: 100%;" />
			</div>
			<div class="screenshot screenshot-success">
				<img src="~/assets/img/guidelines/inline-form/usage-do-block.png" style="width: 100%;" />
			</div>
		</sky-column>
	</sky-row>

	<header><div class="sky-subsection-heading sky-margin-stacked-default">When not to use inline forms</div></header>
	<sky-row>
    <sky-column screenSmall="6">
			<ul>
			<li>The add or edit form requires a large amount of page morphing or users must scroll to complete the form.</li>
			<li>Within a paginated or infinite scroll list of items.</li>
			<li>Users must finish the add or edit form before doing anything else.</li>
			</ul>
		</sky-column>
		<sky-column screenSmall="6">
			<div class="screenshot screenshot-danger sky-margin-stacked-default">
				<img src="~/assets/img/guidelines/inline-form/usage-dont-complex.png" style="width: 100%;" />
			</div>
			<div class="screenshot screenshot-danger">
				<img src="~/assets/img/guidelines/inline-form/usage-dont-paginated.png" style="width: 100%;" />
			</div>
		</sky-column>
	</sky-row>
	<header><div class="sky-section-heading">Anatomy</div></header>
	<sky-row>
    <sky-column screenSmall="6">
			<ol>
				<li>Edit button</li>
				<li>Form fields</li>
				<li>Form action buttons</li>
				<li>Form background</li>
				<li>Add button</li>
			</ol>
		</sky-column>
		<sky-column screenSmall="6">
			<div class="screenshot screenshot-info">
				<img src="~/assets/img/guidelines/inline-form/anatomy.png" style="width: 100%;" />
			</div>
		</sky-column>
	</sky-row>


	<header><div class="sky-section-heading">Behavior</div></header>
		<header><div class="sky-subsection-heading sky-margin-stacked-default">Add form</div></header>
			<p>When users click the Add button, the form slides out from the bottom of the list.</p>
		<header><div class="sky-subsection-heading sky-margin-stacked-default">Edit form</div></header>
			<p>When users click the Edit button, the view content fades out and the form slides in to replace the view content.</p>

  <header><div class="sky-section-heading">Content</div></header>
    <header><div class="sky-subsection-heading sky-margin-stacked-default">Primary buttons</div></header>
  <p>The primary action on the inline form should be Save or Done.</p>
    <sky-row>
      <sky-column screenSmall="6">
        <p>Use Save if the inline form saves data to the database immediately.</p>
      </sky-column>
      <sky-column screenSmall="6">
        <div class="screenshot screenshot-success">
          <img src="~/assets/img/guidelines/inline-form/usage-do-block.png" style="width: 100%;" />
        </div>
      </sky-column>
    </sky-row>
    <sky-row>
      <sky-column screenSmall="6">
        <p>Use Done if the inline form does not save data to the database immediately because it is part of a larger form.</p>
      </sky-column>
      <sky-column screenSmall="6">
        <div class="screenshot screenshot-success sky-margin-stacked-default">
          <img src="~/assets/img/guidelines/inline-form/content-done-button.png" style="width: 100%;" />
        </div>
      </sky-column>
    </sky-row>

	<header><div class="sky-section-heading">Related content</div></header>
		<header><div class="sky-subsection-heading sky-margin-stacked-default">Guidelines</div></header>
			<ul>
				<li><a routerLink="/design/guidelines/form-design">Form design</a></li>
			</ul>
		<header><div class="sky-subsection-heading sky-margin-stacked-default">Components</div></header>
			<ul>
				<li><a routerLink="/components/form">Form</a></li>
      </ul>

  </sky-demo-page-content>
</sky-demo-page>
