<sky-tile>
  <sky-tile-title>
    Event description
  </sky-tile-title>
  <sky-tile-content>
    <sky-tile-content-section>

      <sky-inline-form
        [showForm]="showEventDescriptionForm"
        [template]="eventDescriptionForm"
        (close)="onInlineFormClose($event)"
      >
        <sky-fluid-grid>
          <sky-row>
            <sky-column
              screenXSmall="11"
            >
              {{ eventDescription }}
            </sky-column>
            <sky-column
              screenXSmall="1"
            >
              <button
                class="sky-btn sky-btn-link sky-no-focus sky-demo-btn-edit"
                (click)="showEventDescriptionForm = true"
              >
                <sky-icon
                  aria-label="Edit"
                  icon="pencil"
                >
                </sky-icon>
              </button>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-inline-form>

      <ng-template
        #eventDescriptionForm
      >
        <div
          class="sky-form-group"
        >
          <label
            class="sky-control-label"
            for="demo-input-tile-description"
          >
            Event description
          </label>
          <textarea
            id="demo-input-tile-description"
            class="sky-form-control"
            [(ngModel)]="eventDescription"
          >
          </textarea>
        </div>
      </ng-template>

    </sky-tile-content-section>
  </sky-tile-content>
</sky-tile>
