<div
  id="example-simple"
  class="sky-margin-stacked-separate"
>
  <h3>Simple example</h3>
  <sky-inline-form
    id="inline-form-add"
    [config]="editTitleConfig"
    [showForm]="showPageTitleForm"
    [template]="pageTitleForm"
    (close)="onClosePageTitleForm($event)"
  >
  <h4>
    {{ pageTitle }}
    <button
      class="sky-btn sky-btn-link"
      (click)="showPageTitleForm = true"
    >
      <sky-icon
        icon="pencil"
        size="lg">
      </sky-icon>
    </button>
  </h4>
  </sky-inline-form>
</div>

<div
  id="example-simple"
  class="sky-margin-stacked-separate"
>
  <h3>Custom buttons example</h3>
  <sky-inline-form
    id="inline-form-custom"
    [config]="customConfig"
    [showForm]="showCustomButtonsForm"
    [template]="pageTitleForm"
    (close)="onCloseCustomButtonsForm($event)"
  >
  <h4>
    {{ pageTitle }}
    <button
      class="sky-btn sky-btn-link"
      (click)="showCustomButtonsForm = true"
    >
      <sky-icon
        icon="pencil"
        size="lg">
      </sky-icon>
    </button>
  </h4>
  </sky-inline-form>
</div>

<ng-template
  #pageTitleForm
>
  <div
    class="sky-form-group"
  >
    <label
      class="sky-control-label"
      for="input-page-title"
    >
      Page title
    </label>
    <input
      id="input-page-title"
      class="sky-form-control"
      type="text"
      [(ngModel)]="pageTitle"
    />
  </div>
</ng-template>

<div
  class="sky-margin-stacked-separate"
  id="example-repeater"
>
  <h3>Repeater using inline-form</h3>
  <h4>Events</h4>
  <sky-repeater>
    <sky-repeater-item *ngFor="let item of repeaterItems"
      [inlineFormTemplate]="myInlineForm"
      [showInlineForm]="activeInlineFormId === item.id"
      (inlineFormClose)="onInlineFormClose($event)"
    >
      <sky-repeater-item-title>
        <div
          class="pull-left"
        >
          {{ item.title }}
        </div>
        <div
          class="pull-right"
        >
          <button
            class="sky-btn sky-btn-link sky-no-focus sky-demo-btn-edit"
            type="button"
            (click)="activeInlineFormId = item.id"
          >
            <sky-icon
              icon="pencil"
              size="sm"
            >
            </sky-icon>
          </button>
        </div>
      </sky-repeater-item-title>

      <sky-repeater-item-content>
        {{ item.note }}
      </sky-repeater-item-content>


      <ng-template
        #myInlineForm
      >
        <div
          class="sky-form-group"
        >
          <label
            class="sky-control-label"
            for="inline-form-title"
          >
            Title
          </label>
          <input
            id="inline-form-title"
            class="sky-form-control"
            type="text"
            [(ngModel)]="item.title"
          />
        </div>
        <div
          class="sky-form-group"
        >
          <label
            class="sky-control-label"
            for="inline-form-note"
          >
            Note
          </label>
          <input
            id="inline-form-note"
            class="sky-form-control"
            type="text"
            [(ngModel)]="item.note"
          />
        </div>
      </ng-template>

    </sky-repeater-item>
  </sky-repeater>

</div>


<div
  class="sky-margin-stacked-separate"
  id="example-tiles"
>
  <h3>Tile sections using inline-form</h3>

  <sky-tile-dashboard
    [(config)]="dashboardConfig"
  >
  </sky-tile-dashboard>
</div>
