<sky-demo-page
  pageTitle="Form"
  packageName="@skyux/theme"
  [installOnly]="true"
>

  <sky-demo-page-summary>
    <p>
      The form classes create styled inputs and labels for use in forms.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-content sectionHeading="Form control">
    <p>The <sky-code>sky-form-control</sky-code> class consistently styles an input and allows it to fill the width of its container.</p>
    <p style="max-width: 50%">
      <input type="text" class="sky-form-control" aria-label="basic-input-example" placeholder="Enter text" />
    </p>

    <sky-code-block>
      <input type="text" class="sky-form-control" aria-label="basic-input-example" placeholder="Enter text"/>
    </sky-code-block>
  </sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Control label">
    <p>The <sky-code>sky-control-label</sky-code> class consistently styles the label for an input. For guidance on the wording for labels, see <a stacheRouterLink="/design/guidelines/form-design" fragment="field-usability">the form design guidelines</a>.</p>
    <p style="max-width: 50%">
      <label for="basic-input-with-label-example" class="sky-control-label">
        Phone number
      </label>
      <input class="sky-form-control" id="basic-input-with-label-example" type="text" placeholder="(201) 555-5555" />
    </p>

    <sky-code-block>
     <label for="basic-input-with-label-example" class="sky-control-label">
        Phone number
      </label>
      <input class="sky-form-control" id="basic-input-with-label-example" type="text" placeholder="(201) 555-5555" />
    </sky-code-block>
  </sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Required fields">
    <p>The <sky-code>sky-control-label-required</sky-code> class indicates that an input is required to submit a form.</p>
    <p style="max-width: 50%">
      <label for="required-input-with-label-example" class="sky-control-label sky-control-label-required">
        Last name
      </label>
      <input class="sky-form-control" id="required-input-with-label-example" type="text" aria-required="true" required placeholder="Ex: Smith"/>
    </p>

    <sky-code-block>
      <label
        for="required-input-with-label-example"
        class="sky-control-label sky-control-label-required">
        Last name
      </label>
      <input
        class="sky-form-control"
        id="required-input-with-label-example"
        type="text"
        placeholder="Ex: Smith"
        aria-required="true"
        required />
    </sky-code-block>
  </sky-demo-page-content>

	<sky-demo-page-content sectionHeading="Error states">
	  <p>If a form field that uses Angular validation is in an invalid state, the input is styled with a red glow. The <sky-code>ng-invalid</sky-code> and <sky-code>ng-touched</sky-code> control status CSS classes indicate when the input is in an invalid state. For more information, see <a href="https://angular.io/guide/form-validation">the Angular form validation docs</a>.</p>
	  <p>In addition, the <sky-code>sky-error-label</sky-code> class provides styling for the error message when an input is in an invalid state. Place the message below the form field, and include logic to display the message when the conditions for invalid styling are met.</p>
	  <p style="max-width: 50%">
      <label for="input-with-error-example" class="sky-control-label">
        Age
      </label>
      <input class="sky-form-control ng-invalid ng-touched" id="input-with-error-example" type="text" />
			<span class="sky-error-label">Enter a valid value.</span>
    </p>

    <sky-code-block>
      <label for="input-with-error-example" class="sky-control-label">
        Age
      </label>
      <input class="sky-form-control ng-invalid ng-touched" id="input-with-error-example" type="text" />

      <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
      </div>

      <div *ngIf="age.errors.invalid" class="sky-error-label">
        Enter a valid value.
      </div>
    </sky-code-block>
	</sky-demo-page-content>

  <sky-demo-page-content sectionHeading="Form group">
    <p>The <sky-code>sky-form-group</sky-code> class provides consistent vertical spacing between fields.</p>
    <p class="sky-form-group" style="max-width: 50%">
      <label for="form-group-first-input-example" class="sky-control-label">
        First name
      </label>
      <input class="sky-form-control" id="form-group-first-input-example" type="text" />
    </p>
    <p class="sky-form-group" style="max-width: 50%">
      <label for="form-group-second-input-example" class="sky-control-label">
        Last name
      </label>
      <input class="sky-form-control" id="form-group-second-input-example" type="text" />
    </p>

    <sky-code-block>
      <div class="sky-form-group" style="max-width: 50%">
        <label for="form-group-first-input-example" class="sky-control-label">
          First name
        </label>
        <input class="sky-form-control" id="form-group-first-input-example" type="text" />
      </div>
      <div class="sky-form-group" style="max-width: 50%">
        <label for="form-group-second-input-example" class="sky-control-label">
          Last name
        </label>
        <input class="sky-form-control" id="form-group-second-input-example" type="text" />
      </div>
    </sky-code-block>
  </sky-demo-page-content>

</sky-demo-page>
