<sky-demo-page
  pageTitle="Sort"
  skyuxModule="SkySortModule"
  packageName="@skyux/lists"
>

  <sky-demo-page-summary>
    The sort component creates a button and dropdown menu for users to select sorting criteria.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Sort properties">
    <sky-demo-page-property
      propertyName="showButtonText"
      isOptional="true"
      defaultValue="false"
    >
    Indicates whether to display text on the sort button beside the sort icon.
   </sky-demo-page-property>
 </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Sort item properties">
    <sky-demo-page-property
      propertyName="active"
      isOptional="true"
    >
    Indicates whether the sorting option is active.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Sort item events">
    <sky-demo-page-property
      propertyName="itemSelect"
      isOptional="true"
    >
    Emitted when a sort item is clicked.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-sort-demo></sky-sort-demo>
    <sky-demo-page-code demoName="Sort"></sky-demo-page-code>
  </sky-demo-page-example>

	<sky-demo-page-content sectionHeading="UX guidelines">
		<div class="sky-subsection-heading">Usage</div>
		<p>When enabling sorting for a list, evaluate which fields have a valuable use case. Likely, some fields don't have a use case for sorting or are better suited to filtering.</p>
  </sky-demo-page-content>

</sky-demo-page>
