<stache
  pageTitle="Status indicator"
  windowTitle="Status indicator"
  layout="container"
	showTableOfContents="true">

<p>
	The status indicator classes create styled text to draw attention to data that needs to be addressed. A status is "a state or condition at a particular time". Statuses fall into four categories: success, warning, danger, and info. Examples include late, submitted, awaiting approval, etc.
</p>

<stache-page-anchor>
	Status indicator classes
</stache-page-anchor>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-info">Info</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a blue info icon to provide a compact way to indicate a "info" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-info&quot;&gt;Field label&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-exclamation-circle #00b4f1</div>
      </div>
    </div>
  </div>
	
	<div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-success">Success</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a green checkmark icon to provide a compact way to indicate a "success" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-success&quot;&gt;Field label&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-check #71bf43</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-warning">Warning</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a yellow warning icon to provide a compact way to indicate a "warning" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-warning&quot;&gt;Field label&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-warning #fbb034</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-danger">Danger</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a red warning icon to provide a compact way to indicate a "danger" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-danger&quot;&gt;Field label&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-warning #ef4044</div>
      </div>
    </div>
  </div>
	
<stache-page-anchor>
	UX guidelines
</stache-page-anchor>
	
	<div class="sky-subsection-heading">Status importance</div>
		<p>Some statuses are crucial to a user's task, while others are no more important than other information on the page or page area. If they are crucial to a user's task you should use a status indicator. If they are ancillary, treat them as regular text.</p>
		<p>Just because one status in an area is crucial, does not mean they all are. For example, a list of invoices could show a mix of paid, unpaid and overdue invoices. It's likely that in that case only the overdue invoices would need a status indicator if they are the only invoices that need immediate attention and action.</p>
			
	<div class="sky-subsection-heading">Status indicator placement</div>
		<p>Status indicators should be used in an inline context tied to a specific piece of data, rather than in a summary area. For example, an indicator can be placed in a grid cell or card. If you need to convey a higher-level status in a summary area, use a <a routerLink="label">label</a> instead.</p>
	
</stache>	

