<stache
  pageTitle="Status Indicator"
  windowTitle="Status indicator"
  layout="container">

<sky-demo-page-summary>
	The status indicator classes provide icons to draw attention to status information that users need to address. Statuses indicate a state or condition at a particular time and fall into four categories: info, success, warning, and danger. For example, a status can indicate that a submission is late, submitted, or awaiting approval.
</sky-demo-page-summary>

<stache-page-anchor>
	Status indicator classes
</stache-page-anchor>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-info">Info</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a blue info icon to provide a compact way to indicate an "info" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-info&quot;&gt;Info&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-exclamation-circle #00b4f1</div>
      </div>
    </div>
  </div>
	
	<div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-success">Success</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a green checkmark icon to provide a compact way to indicate a "success" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-success&quot;&gt;Success&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-check #71bf43</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-warning">Warning</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a yellow warning icon to provide a compact way to indicate a "warning" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-warning&quot;&gt;Warning&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-warning #fbb034</div>
      </div>
    </div>
  </div>

  <div class="definition-table definition-table-wide">
    <div class="definition-item">
      <div class="sky-text-danger">Danger</div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="sky-field-label">Usage</div>
        <div>This class prepends a red warning icon to provide a compact way to indicate a "danger" status.</div>
      </div>
      <div class="definition-code">
        <div class="sky-field-label">Code</div>
        <stache-code>&lt;div class=&quot;sky-text-danger&quot;&gt;Danger&lt;/div&gt;</stache-code>
      </div>
      <div class="definition-styling">
        <div class="sky-field-label">Styling</div>
        <div>::before fa-warning #ef4044</div>
      </div>
    </div>
  </div>
	
<stache-page-anchor>
	UX guidelines
</stache-page-anchor>
	
	<div class="sky-subsection-heading">Status importance</div>
		<p>If statuses are crucial to user tasks, use status indicators. However, if one status in an area is crucial, that does not mean all statuses are. For example, in a list of invoices with a mix of paid, unpaid, and overdue invoices, it's likely that only overdue invoices require status indicators because they are the only items that require immediate attention.</p>
		<p>Use regular text for non-crucial tasks or information. </p>
			
	<div class="sky-subsection-heading">Status indicator placement</div>
		<p>Use status indicators inline to indicate that they are tied to specific pieces of data. For example, you can place status indicators in grid cells or cards. However, don't use status indicators in summary areas. To convey higher-level statuses in summary areas, use <a routerLink="../label">labels</a> instead.</p>
	
	<div class="sky-subsection-heading">Related guidelines</div>
		<ul>
			<li><a routerLink="/design/guidelines/call-out-info">Calling out information</a></li>
		</ul>
	
</stache>	

