<sky-demo-page
  pageTitle="Lookup"
  skyuxModule="SkyLookupModule"
  packageName="@skyux/lookup"
>

  <sky-demo-page-summary>
    The lookup component creates a typeahead search input that filters a data source based on user entries and then displays search results in a dropdown list where users can select multiple items. Users enter text in the lookup field, and then the component searches the data source. Search results appear in a dropdown list, and users can select multiple items from the filtered list. The selected items appear in the lookup field, and the lookup component stores and saves the entire objects.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="data"
      defaultValue="[]"
      isOptional="true"
    >
      Specifies a data source for the lookup component to search when users enter text. You can specify static data such as an array of objects, or you can pull data from a database.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="debounceTime"
      defaultValue="0"
      isOptional="true"
    >
      Specifies how many milliseconds to wait before searching while users enter text in the lookup field. This property accepts <sky-code>number</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="descriptorProperty"
      isOptional="true"
      defaultValue="name"
    >
      Specifies an object property to display in the text input after users select an item in the dropdown list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="false"
      isOptional="true"
    >
      Indicates whether to disable the lookup field. This property accepts <sky-code>boolean</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="placeholderText"
        isOptional="true"
    >
      Specifies placeholder text to display in the lookup field. This property accepts <sky-code>string</sky-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="propertiesToSearch"
      isOptional="true"
      defaultValue="['name']"
    >
      Specifies an array of object properties to search.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="search"
      isOptional="true"
    >
      Specifies a function to dynamically manage the data source when users change the text in the lookup field. The search function must return an array or a promise of an array. The <sky-code>search</sky-code> property is particularly useful when the data source does not live in the source code. Acceptable value: <sky-code>(searchText: string, data?: any[]) => any[] | Promise&lt;any[]&gt;</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchFilters"
      isOptional="true"
    >
      Specifies an array of functions to call against each search result in order to filter the search results when using the default search function. When using a custom search function via the <sky-code>search</sky-code> property filters must be applied manually inside that function. The function must return <sky-code>true</sky-code> or <sky-code>false</sky-code> for each result to indicate whether to display it in the dropdown list. Acceptable value: <sky-code>(searchText: string, item: any) => boolean</sky-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchResultTemplate"
      isOptional="true"
    >
      Specifies a template to format each search result in the dropdown list. The lookup component injects search result values into the template as <sky-code>item</sky-code> variables that reference all of the object properties of the search results.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchResultsLimit"
      isOptional="true"
    >
      Specifies the maximum number of search results to display in the dropdown list. By default, the lookup component displays all matching results.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchTextMinimumCharacters"
      isOptional="true"
      defaultValue="1"
    >
      Specifies the minimum number of characters that users must enter before the lookup component searches the data source and displays search results in the dropdown list.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <p>The lookup component shares many properties with the autocomplete component. For more examples of those properties, see the <a routerLink="../autocomplete" fragment="demo">autocomplete component demos</a>.</p>
    <sky-lookup-demo></sky-lookup-demo>
    <sky-demo-page-code demoName="Lookup"></sky-demo-page-code>
  </sky-demo-page-example>

	<sky-demo-page-content sectionHeading="UX guidelines">
		<section>
			<header>
        <div class="sky-section-heading">Usage</div>
      </header>
			<p>
        The lookup component is effective for scenarios where users know what they are looking for and can select multiple items. For guidance on which selection inputs to use in other scenarios, see the <a routerLink="/design/guidelines/form-design" fragment="selection-inputs">form design guidelines</a>.
      </p>
		</section>
	</sky-demo-page-content>

</sky-demo-page>
