<sky-demo-page
  pageTitle="Autocomplete">
  <sky-demo-page-summary>
    <p>
      The autocomplete component creates a text input that filters a data source based on user entries and then displays search results in a dropdown list. Users enter text in the text input, and then the component searches the data source. Search results appear in a dropdown list, and users can select an item from the filtered list. The selected item appears in the text input, and the autocomplete component stores and saves the entire object.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="data"
      defaultValue="[]"
      isOptional="true">
      Specifies a data source for the autocomplete component to search when users enter text. You can specify static data such as an array of objects, or you can pull data from a database.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="search"
      isOptional="true">
      Specifies a function to dynamically manage the data source when users change the text in the autocomplete field. The search function must return an array or a promise of an array. The <stache-code>search</stache-code> property is particularly useful when the data source does not live in the source code. Acceptable value: <stache-code>(searchText: string, data?: any[]) => any[] | Promise&lt;any[]&gt;</stache-code>. 
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchFilters"
      isOptional="true">
      Specifies an array of functions to call against each search result in order to filter the search results. The function must return <stache-code>true</stache-code> or <stache-code>false</stache-code> for each result to indicate whether to display it in the dropdown list. Acceptable value: <stache-code>(searchText: string, item: any) => boolean</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchTextMinimumCharacters"
      isOptional="true"
      defaultValue="1">
      Specifies the minimum number of characters that users must enter before the autocomplete component searches the data source and displays search results in the dropdown list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="propertiesToSearch"
      isOptional="true"
      defaultValue="['name']">
      Specifies an array of object properties to search.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="descriptorProperty"
      isOptional="true"
      defaultValue="name">
      Specifies an object property to display in the text input after users select an item in the dropdown list.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchResultsLimit"
      isOptional="true">
      Specifies the maximum number of search results to display in the dropdown list. By default, the component displays all matching results.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchResultTemplate"
      isOptional="true">
      Specifies a template to format each search result in the dropdown list. The autocomplete component injects search result values into the template as <stache-code>item</stache-code> variables that reference all of the object properties of the search results.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Autocomplete events">
    <sky-demo-page-property
      propertyName="selectionChange">
      Fires when users select items in the dropdown list and provides an argument of type <stache-code>SkyAutocompleteSelectionChange</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="SkyAutocompleteSelectionChange type">
    <sky-demo-page-property
      propertyName="selectedItem">
      References a search result object that users select in the dropdown list.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-autocomplete-demo>
    </sky-autocomplete-demo>
    <sky-demo-page-code
      demoName="Autocomplete">
    </sky-demo-page-stache-code>
  </sky-demo-page-example>
</sky-demo-page>
