<sky-demo-page
  pageTitle="Phone field"
  skyuxModule="SkyPhoneFieldModule"
  packageName="@skyux/phone-field"
>

  <sky-demo-page-summary>
    <p>
      The phone field module creates a button and text input to validate international phone numbers. The phone field button indicates the selected country and enables users to select different countries. Users enter phone numbers in the text input, and then the phone field input directive validates the numbers against standards for the selected country. For validation, phone numbers are driven through the <stache-code>ngModel</stache-code> attribute that you specify on an <stache-code>input</stache-code> element or on a <stache-code>FormControl</stache-code> in a reactive form.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties
    sectionHeading="Phone field component properties"
  >
    <sky-demo-page-property
        propertyName="defaultCountry"
        defaultValue="us"
        [isOptional]="true"
      >
        Specifies the <a href="https://www.nationsonline.org/oneworld/country_code_list.htm">International Organization for Standardization Alpha 2</a> country code for the default country. The phone field button displays a flag icon for this default country until users select a different country. This property accepts <stache-code>string</stache-code> values.
      </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Phone field input directive properties"
  >
    <sky-demo-page-property
      propertyName="skyPhoneFieldInput"
    >
      Creates a phone field button and text input. Place this attribute on an <stache-code>input</stache-code> element, and wrap that element in a <stache-code>sky-phone-field</stache-code> component. By default, the phone field button displays a flag icon for the default country, and the text input displays a sample of the correct phone number format. When users select the phone field button, they enable <a stacheRouterLink="components/autocomplete">an autocomplete text input</a> to select a different country.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      defaultValue="false"
      [isOptional]="true"
    >
      Indicates whether to disable the phone field. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="skyPhoneFieldNoValidate"
      defaultValue="false"
      [isOptional]="true"
    >
      Indicates whether to prevent validation on the phone field text input. When set to <stache-code>true</stache-code>, date validation does not run on the input. This property accepts <stache-code>boolean</stache-code> values.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Phone field component events"
  >
    <sky-demo-page-property
      propertyName="selectedCountryChanged"
    >
      Emits <a stacheRouterLink="." fragment="skyphonefieldcountry-properties">a <stache-code>SkyPhoneFieldCountry</stache-code> object</a> when the selected country in the phone field dropdown changes.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="SkyPhoneFieldCountry properties"
  >
    <sky-demo-page-property
      propertyName="dialCode"
    >
      Specifies the country's international dial code.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="iso2"
    >
      Specifies the country's <a href="https://www.nationsonline.org/oneworld/country_code_list.htm">International Organization for Standardization Alpha 2</a> country code.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="name"
    >
      Specifies the name of the country.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="exampleNumber"
      isOptional="true"
    >
      Specifies a placeholder value to demonstrate the country's number format. This value is <stache-code>undefined</stache-code> until a country is selected to validate against.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-phone-field-demo></sky-phone-field-demo>
    <sky-demo-page-code demoName="Phone field"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
