<stache-action-buttons [routes]="routes" showSearch="false">
</stache-action-buttons>

<stache-page-anchor>
  The SKY UX team
</stache-page-anchor>

<sky-minifig-images
  [images]="[
    {
      name: 'Adam F.',
      title: 'UX Designer'
    },
    {
      name: 'Alex',
      title: 'Software Engineer'
    },
    {
      name: 'Dan M.',
      title: 'Program Manager'
    },
    {
      name: 'John L.',
      title: 'Technical Writer'
    },
    {
      name: 'John W.',
      title: 'Software Engineer'
    },
    {
      name: 'Kerry',
      title: 'Product Manager'
    },
    {
      name: 'Michael',
      title: 'Manager'
    },
    {
      name: 'Paul',
      title: 'Software Engineer'
    },
    {
      name: 'Scott',
      title: 'Software Engineer'
    },
    {
      name: 'Steve',
      title: 'Software Engineer'
    },
    {
      name: 'Terry',
      title: 'Software Engineer'
    },
    {
      name: 'Todd',
      title: 'UX Designer'
    },
    {
      name: 'Trevor',
      title: 'Software Engineer'
    }
  ]"
>
</sky-minifig-images>

<stache-page-anchor>
  Key contributors
</stache-page-anchor>

<sky-minifig-images
  [images]="[
    {
      name: 'Adam H.',
      title: 'Software Engineer'
    },
    {
      name: 'Adam S.',
      title: 'Software Engineer'
    },
    {
      name: 'Ben',
      title: 'Product Manager'
    },
    {
      name: 'Beth',
      title: 'Software Engineer'
    },
    {
      name: 'Bobby',
      title: 'Software Engineer'
    },
    {
      name: 'Brandon H.',
      title: 'Software Engineer'
    },
    {
      name: 'Brandon J.',
      title: 'Software Engineer'
    },
    {
      name: 'Brandon S.',
      title: 'Software Engineer'
    },
    {
      name: 'Cecilia',
      title: 'Software Engineer'
    },
    {
      name: 'Christi',
      title: 'Software Engineer'
    },
    {
      name: 'Conor',
      title: 'Software Engineer'
    },
    {
      name: 'Dan B.',
      title: 'Product Manager'
    },
    {
      name: 'Deborah',
      title: 'UX Designer'
    },
    {
      name: 'Denise',
      title: 'Technical Writer'
    },
    {
      name: 'Erika',
      title: 'Software Engineer'
    },
    {
      name: 'Jamin',
      title: 'Software Engineer'
    },
    {
      name: 'Jeff',
      title: 'Software Engineer'
    },
    {
      name: 'Josh',
      title: 'Software Engineer'
    },
    {
      name: 'Jon',
      title: 'Software Engineer'
    },
    {
      name: 'Luis',
      title: 'Software Engineer'
    },
    {
      name: 'Manoj',
      title: 'Software Engineer'
    },
    {
      name: 'Matt G.',
      fileName: 'matt-g-2',
      title: 'UX Designer'
    },
    {
      name: 'Matt G.',
      title: 'Accessibility Guru'
    },
    {
      name: 'Nick',
      title: 'UX Designer'
    },
    {
      name: 'Nicole',
      title: 'UX Designer'
    },
    {
      name: 'Patrick',
      title: 'Software Engineer'
    },
    {
      name: 'Rob',
      title: 'UX Designer'
    },
    {
      name: 'Sandhya',
      title: 'Software Engineer'
    },
    {
      name: 'Tom',
      title: 'Software Engineer'
    },
    {
      name: 'Vidas',
      title: 'Software Engineer'
    }
  ]"
  small="true"
>
</sky-minifig-images>
